[2020-04-03 20:23] stepps00 commented on #1672
Thanks for this, @missinglink

Some background on the `lbl` and `reversegeo` properties:

- [`lbl`](https://github.com/whosonfirst/whosonfirst-properties/tree/master/properties/lbl) properties are used to specify the place's label position on a map. These properties are often curated using Mapshaper's `inner` calculations, and fall around the geometry's "inner" centroid. Sometimes, though, we cura

[2020-04-03 22:48] stepps00 opened #1819 "ST_GeogFromGeoJSON fails on a handful of country geometries"
Running [ST_GeogFromGeoJSON](https://cloud.google.com/bigquery/docs/reference/standard-sql/geography_functions) against country geometries, appears to show geometry issues with the following WOF countries:

- Saudi Arabia
- Belize
- Honduras
- Argentina
- Bangladesh
- Qatar
- Panama
- Ukraine

This issue is similar to https://github.com/whosonfirst-data/whosonfirst-data/issues/975, but not specifi

[2020-04-06 01:15] justinelliotmeyers opened #1820 "shapefile build"
Is there anyway someone can code out a annual/ bi-annual/ quarterly/ etc shapefile build of all the data? The directory folder structure is a nightmare for people who try to grab this stuff in a boomer fashion (*me). Id love to see what is in here, but honestly dont try because I cannot figure out what is where and how to put it together.

Might have a call w @stepps00 this week. Any thoughts @nvk

[2020-04-06 16:27] thisisaaronland commented on #1820
@justinelliotmeyers It's been on the list for a long time but everyone's various Other Commitments get in the way.

There is early work to generate Shapefiles here:

https://github.com/whosonfirst/go-whosonfirst-shapefile

The immediate challenge for shapefiles is that WOF data does not adhere to a uniform shape type which is necessary for shapefiles. The code above could be refactored easily enou

[2020-04-06 17:19] justinelliotmeyers commented on #1820
since shapefile is honestly the worst filetype... is there a way to do it, but keep it simple? ie just an id field and then a joinable csv so it can pull in esri software then brought in a fgdb? or even in qgis, just bring in by region, the subset and join a table?

[2020-04-06 17:49] missinglink commented on #1820
Hey Justin, this is probably fairly simple with the right `ogr2ogr` command.

If you don't have any luck hit me up on email.

[2020-04-06 18:17] missinglink commented on #1820
hmm I had a quick crack at this and it seems you're correct in saying that Shapefiles suck, lots of these errors:

[code]

[2020-04-06 18:17] missinglink commented on #1820
[code]

[2020-04-06 18:21] missinglink commented on #1820
Geocode Earth has three formats available here https://geocode.earth/data/whosonfirst, the third one is spatialite but unfortunately wont render in QGIS because it uses the `GEOMETRY` data type which isn't supported by QGISS yet!

If you'd just like to have a look around, check out https://spatial.demo.geocode.earth/explore/pip on a desktop machine and pan around the map a bit.

[2020-04-06 18:33] thisisaaronland commented on #1820
In the short-term you may want to use the `wof-csv-to-feature-collection` tool which can be converted to a shapefile using `ogr2ogr` as @missinglink suggests:

https://github.com/whosonfirst/py-mapzen-whosonfirst-utils/blob/master/scripts/wof-csv-to-feature-collection

This has been the workflow in the past for editing geometries.  @stepps00 can fill you in on the details.

[2020-04-06 19:06] missinglink commented on #1820
Looks like you can load directly into QGIS from a directory clone, eg for New Zealand:

https://github.com/whosonfirst-data/whosonfirst-data-admin-nz

[code]

<img width="876" alt="Screenshot 2020-04-06 at 21 00 40" src="https://user-images.githubusercontent.com/738069/78595519-6b388280-784a-11ea-89c9-1911e882adab.png">
<img width="470" alt="Screenshot 2020-04-06 at 21 01 33" src="https://user-ima

[2020-04-06 19:49] thisisaaronland commented on #1820
@missinglink That would make a good blog post: https://github.com/whosonfirst/whosonfirst-www/tree/master/www/blog

[2020-04-06 19:58] missinglink commented on #1820
I'm not sure if I can really advocate this method, it took a really long time (like I watched a Netflix episode long time) to load NZ and makes GQIS effectively unresponsive due to the amount of data.

@justinelliotmeyers how do you usually deal with very large datasets like this in QGIS?

[2020-04-06 19:59] missinglink commented on #1820
<img width="405" alt="Screenshot 2020-04-06 at 21 58 51" src="https://user-images.githubusercontent.com/738069/78599678-db96d200-7851-11ea-9a5c-3b334dba0902.png">

[2020-04-07 06:30] missinglink commented on #1820
Hey, so I think having several 20GB shapefiles isn't really a great solution for GIS people accessing the data :(

Distributing the data as one very large file is problematic because loading it all into a GUI app is pretty much a non-starter due to the amount of features present.

Distributing it as many small files (like it is now) is probably superior in that regard, the problem of loading a dir

[2020-04-07 06:53] missinglink commented on #1820
The `.dbf` file of shapefiles actually probably makes this much easier, I'm assuming that QGIS is able to load this first and then based on the filter conditions it selectively loads the geometries from the `.shp` file?

One issue with conversion is that the WOF properties are nested and sometimes non-string values such as arrays which would make conversion lossy ;(

[2020-04-07 16:43] justinelliotmeyers commented on #1820
@missinglink and @thisisaaronland  thanks for looking into this for me. If files grow that big that quick, then wof cant be converted to shapefile globally unless someone has tons of space for processing/ extracting/ using. after 2gb the shapefile is corrupt anyway. I'll just have to learn the dir structure of the geojsons and extract what i need from the data.

The WOF data and project are amazin

[2020-04-07 18:13] thisisaaronland commented on #1820
The `wof-csv-to-feature-collection` was designed to produce (n) GeoJSON files specifically to account for the 2GB limit in shapefiles.

It's probably not much consolation but the motivation and the design of the layout (a bazillion tiny files) was specifically to prevent the data from getting painted in to any one vendor/database corner.

At the end of the day it's just a lot of data. The world is

[2020-04-08 18:07] stepps00 commented on #1820
While the "Load Them All" tool in QGIS is helpful, it doesn't handle directories with more than a few thousand GeoJSON files well. It works fine if you're handling a small repo like the [whosonfirst-data-admin-tv](https://github.com/whosonfirst-data/whosonfirst-data-admin-tv) (Tuvalu) repo, but isn't able to handle a large repo like the US, Canada, or India.

As @thisisaaronland mentioned, the [cs

[2020-04-08 20:24] stepps00 commented on #1805
Fixed through various PRs.

[2020-04-08 20:24] #1805 closed

[2020-04-08 22:49] stepps00 opened #1821 "Run wiki names script across admin repos"
https://github.com/whosonfirst/whosonfirst-cookbook/blob/master/scripts/crawl_to_add_wiki_names.py

This script hasn't been run across admin repos for some time.. let's crawl the admin repos to gain new names for our admin records. While crawling each repo, it would be helpful to combine a zoom-based check per record to understand what language translations are missing.

[2020-04-09 21:31] stepps00 commented on #1445
This is all complete, names and labels were updated in: https://github.com/whosonfirst-data/whosonfirst-data-admin-no/pull/13/files

[2020-04-09 21:31] #1445 closed

[2020-04-09 21:37] stepps00 commented on #1459
This is complete.

[2020-04-09 21:37] #1459 closed

[2020-04-09 21:45] stepps00 commented on #1322
Hey @ImreSamu - we've done additional work with Wikidata since this issue was filed and I'm planning additional name translation work through https://github.com/whosonfirst-data/whosonfirst-data/issues/1821.

These are all valid issues, though I'm most interested in some of the "Cleaning wof" tasks above, like:
- Check the probability of the '"bad translations"'
- Cleaning wof-> Strange wikidata r

[2020-04-09 23:32] stepps00 opened #1822 "Missing locality of Divjakë, Albania"
WOF should have a record for this locality, which would be parented by: https://spelunker.whosonfirst.org/id/1108720853/

[2020-04-10 14:53] Guilherme-B opened #1823 "Colombia - Add neighbourhoods"
Municipality sub-divisions and neighbourhoods are missing from Colombia. There are a lot of them, so starting with the main places:
- Bogotá:
    - [Divisions ](https://datosabiertos.bogota.gov.co/dataset/localidad-bogota-d-c)(the city is divided into sections, much like Medellin's comunas)
    - [Neighbourhoods](https://datosabiertos.bogota.gov.co/dataset/unidad-de-planeamiento-bogota-d-c/resourc

[2020-04-10 16:01] stepps00 commented on #1823
This is great, thank you @Guilherme-B.

An issue like this is great - including a brief description and direct link to the data source is very helpful. It's also helpful If you're able to group issues together like you've done in this ticket with Cali, Medellin, and Bogotá.

Creating lots of tickets is fine, as Who's On First has _lots_ of records.

[2020-04-11 14:46] stefanb opened #1824 "Slovenia - administrative borders 2020 update"
Surveying and mapping authority of Slovenia announced on https://egp.gu.gov.si/egp/?lang=en

In practice all administrative borders were moved slightly to match the parcel borders in land cadastre.

Last update of 🇸🇮Slovenia was in 2018 with https://github.com/whosonfirst-data/whosonfirst-data/issues/755 and https://github.com/whosonfirst-data/whosonfirst-data/pull/764 and afterwards moved to http

[2020-04-12 17:25] ImreSamu commented on #1322
@stepps00 :
I have created a fresh new list , not perfect , but imho:usefull  https://gist.github.com/ImreSamu/bba79ab8093af8b4f893b9142f64fe9a
* now 10733  unique wikidata id ( `wd_id` ) ; and probably ~80 is incorrect match ...
* I have some JSON decoding problems with the WOF data .. so I can't import to Postgres yet :disappointed:    ..  the new repo is a big change ...
* the current wikidata

[2020-04-12 17:48] ImreSamu commented on #1322
probably the easiest task is cleaning `disambiguation` values ..
[code]

and `fictional` ( except the `Null Island`! )
[code]

[2020-04-12 18:41] ImreSamu commented on #1322
some important metadata:  ( wikidata_*.csv --->  fake csv ; with comment line `#`  )
* `disambiguation` : https://github.com/whosonfirst/concordances-whosonfirst-wikidata/blob/master/code/wikidata_disambiguation.csv
* `fictional` : https://github.com/whosonfirst/concordances-whosonfirst-wikidata/blob/master/code/wikidata_fictional.csv
* `duplicated` : https://github.com/whosonfirst/concordances-wh

[2020-04-13 17:24] stepps00 commented on #1824
Nice, thank you @stefanb. We'll take a look, update the records with new geometries, and link this issue once a PR is in.

[2020-04-13 18:10] stepps00 commented on #1824
See also: https://en.wikipedia.org/wiki/Municipalities_of_Slovenia

[2020-04-13 18:37] stefanb commented on #1824
Thanks, @stepps00, I am familiar with the data and have recently made a GeoJSON mirror of it at:
https://github.com/stefanb/gurs-obcine

Eg municipalities are at https://github.com/stefanb/gurs-obcine/blob/master/data/OB.geojson

Other administrative borders are listed and linked in the table on
https://github.com/stefanb/gurs-obcine/blob/master/README.md

[2020-04-13 20:49] nvkelso commented on #1816
Hi @soulsurfer4. Thanks for the report. Do you have a good source for this missing information, aside from OpenStreetMap?

[2020-04-13 21:04] justinelliotmeyers commented on #1816
https://geoportal-hamburg.de/geo-online/ help?

[2020-04-13 21:36] Soulsurfering commented on #1816
Hi @nvkelso No, sorry. I don't have any other data source to provide detailed information.

[2020-04-13 22:49] stepps00 commented on #1821
I'm in the process of pushing fixes for this issue to each of the 260 per-country repos. The first pass included name additions to any record with:

- a `mz:min_zoom` < 5.0
- country placetype
- dependency placetype
- macroregion placetype
- region placetype

Some language stats from the first pass (first commit in each branch):

lang|records updated
--|--
abk|10
ady|2
afr|2
aka|27
ang|7
ara|3
arc

[2020-04-13 22:58] stepps00 commented on #1585
Closing this as a duplicate of https://github.com/whosonfirst-data/whosonfirst-data/issues/1322.

[2020-04-13 22:58] #1585 closed

[2020-04-13 23:25] stepps00 commented on #1816
I can dig into this a bit more, but I think the issue here is less that the geometries are incorrect, and more that the  [Neu Lokstedt](https://spelunker.whosonfirst.org/id/85899703/) record has incorrect name translations for "Allermöhe". These translations are coming from a bunk wikidata concordance in the record.

[2020-04-13 23:27] stepps00 commented on #1322
Thank you @ImreSamu! I'll dig into these files and notes once I start merging wikidata and name work.

[2020-04-14 05:03] nvkelso commented on #1820
This has come up a few times and would be generally useful, reopening.

[2020-04-14 05:08] pathmapper commented on #1816
Here is the official data from the City of Hamburg (Freie und Hansestadt Hamburg, Landesbetrieb Geoinformation und Vermessung):

http://suche.transparenz.hamburg.de/dataset/alkis-verwaltungsgrenzen-hamburg
e.g. this GML file:
http://archiv.transparenz.hamburg.de/hmbtgarchive/HMDK/alkisverwaltungsgrenzen_hh_2016-03-07_3989_snap_1_10818_snap_1.ZIP

License:
Data licence Germany – attribution – versi

[2020-04-14 06:32] iSudo opened #1825 "Estonian administrative data is outdated"
Hi, the regional info in Estonia is outdated in various places f.e:
Lihula town
[https://www.openstreetmap.org/search?query=lihula#map=14/58.6851/23.8314](https://www.openstreetmap.org/search?query=lihula#map=14/58.6851/23.8314)

I'm not sure if there is anything I can do to help update Estonian data. If there is just let me know.

[2020-04-14 07:28] missinglink commented on #1825
Hi @iSudo, do the Estonian government publish any data released under a CC-BY, CC0, or equivalent license which could be used here?

[2020-04-14 07:32] iSudo commented on #1825
I will query, and find out, btw, how was estonian data generated previously?

[2020-04-14 07:45] missinglink commented on #1825
Stephen will be able to tell you more about where the original data was sourced from, I had a quick look at one and it said 'quattroshapes' which was another gazetteer so I'm not sure.

There is an excellent page at https://whosonfirst.org/docs/licenses/ which mentions all the sources, there is an Estonia section listed under Quattroshapes named 'Maaamet', I'm not familiar, could that be the sourc

[2020-04-14 08:00] iSudo commented on #1825
I think we don't have anything ourselves, so may be the best case, is to simply update it like it was done last time, is it possible?

[2020-04-14 12:34] justinelliotmeyers commented on #1825
they update every year:
https://geoportaal.maaamet.ee/eng/Spatial-Data/Administrative-and-Settlement-Division-p312.html

[2020-04-14 13:27] iSudo commented on #1825
Oh, great, and since who's on first data on estonia last updated on summer, last year, is it possible to update it, to match Maaamet's state?

[2020-04-14 15:57] stepps00 commented on #1825
Thanks for the issue @iSudo

Yes, we can update the existing Estonia admin data using the data in the link provided by @justinelliotmeyers. License:

For example: "Administrative and settlement units, Estonian Land Board 01.11.2019"

Related: https://github.com/whosonfirst-data/whosonfirst-data/issues/1550

[2020-04-14 18:25] iSudo commented on #1825
Excellent, thanks a bunch! If there is anything I can do please just let me know.

[2020-04-14 19:21] stepps00 commented on #1796
I've just pushed a commit to each of the per-country repos to fix the 2031 cases of bunk new lines/whitespaces. Once I merge the commits, I'll close this issue.

Example in the `whosonfirst-data-admin-gb` repo: https://github.com/whosonfirst-data/whosonfirst-data-admin-gb/commit/f97cb820ccac5a38f107358777c252d7e23baf99

[2020-04-15 08:52] iSudo commented on #1825
One more thing, we need to plan on when to rebuild our addresses, when can we expect who's on first data to be updated?

[2020-04-15 14:15] missinglink opened #1826 "Berlin Tempelhof Airport"
This is really minor but I found it today and wanted to log it somewhere:

The following record has many errors: `Berlin Tempelhof Airport`:
https://github.com/whosonfirst-data/whosonfirst-data-admin-xy/blob/master/data/102/548/983/102548983.geojson

- The [airport was closed in 2008](https://en.wikipedia.org/wiki/Berlin_Tempelhof_Airport) and since replaced with [a recreation ground](https://en.w

[2020-04-15 17:09] stepps00 commented on #1826
Thanks @missinglink.. those `woedb` geometries aren't always the most accurate. I think you're right in saying the record needs a cessation date.

The easiest thing to do would be to add a cessation date, flag as not current, then supersede it into a new record (in the `*-admin-de` repo).

[2020-04-15 17:10] thisisaaronland commented on #1826
The shape of the airport is derived from the Flickr Alpha Shapes. Absent any other WOF-compatible data source it's what we've got (for airports) and scopes the problem space to "Berlin-ish" rather than entire planet.

Flagging the record as cessated would definitely be good. @stepps00 is this something the `wof-editor` does yet?

And yes, it should be moved in to the `admin-de` repo. It does not n

[2020-04-15 17:14] stepps00 commented on #1825
@iSudo - There is no immediate plan to update the locality geometries in Estonia, but I'll put this on the list of shorter-term "to do" items. Let me poke around the Estonia repo, visualize the current coverage and get back to you later this week/early next week with more detail.

[2020-04-15 17:18] stepps00 commented on #1826
Yep, this is something the tool can handle. Here's a PR that I'll merge shortly that simply flags the existing record with a cessation date and `mz:is_current` = 0:

https://github.com/whosonfirst-data/whosonfirst-data-admin-xy/pull/18/files

Let's keep this issue open until the `XY` -> `DE` wrangling is complete.

[2020-04-15 17:32] thisisaaronland commented on #1820
Okay, at the risk of "painting the bikeshed" this feels like as good an opportunity as any to reconsider/refactor/retire the `go-whosonfirst-index` packages which have grown in to a confusing mix of code to iterate over an arbitrary set of WOF records as well as indexing/ingesting/publishing them.

You don't need to look further than the dependency chain for the `go-whosonfirst-sqlite` package:

h

[2020-04-15 18:47] thisisaaronland commented on #1820
Work in progress: https://github.com/whosonfirst/go-whosonfirst-iterate

[2020-04-15 19:02] missinglink commented on #1820
The following steps can be used to convert a WOF repo to `GeoPackage` format, which can then be loaded into `QGIS`:

[code]

<img width="614" alt="Screenshot 2020-04-15 at 20 55 29" src="https://user-images.githubusercontent.com/738069/79377664-5059c280-7f5c-11ea-9372-c2b889a8c6c0.png">

@justinelliotmeyers could you please give this a whirl in `QGIS` (61MB download) and let me know how you get on

[2020-04-15 20:14] thisisaaronland commented on #1820
Work in progress:

* https://github.com/whosonfirst/go-whosonfirst-iterate-fs
* https://github.com/whosonfirst/go-whosonfirst-iterate-fs/blob/master/cmd/count/main.go

[2020-04-15 21:22] iSudo commented on #1825
Yhank you :)

[2020-04-15 23:34] stepps00 commented on #202
Bumping this issue.. I'm working on creating a postalcode <> locality name mapping for the US right now. It'll likely include:

- postalcode (ex: 97220)
- preferred name (ex: Portland)
- alternate names (ex: Maywood Park)

I'd like to complete this mapping for all countries, but I'll start with the US. [This comment](https://github.com/whosonfirst-data/whosonfirst-data/issues/202#issuecomment-3158

[2020-04-15 23:50] orangejulius commented on #202
@stepps00 really cool. I'd love to hear more about how you plan to generate this.

Since there was last movement on this particular Github issue, we've made the https://github.com/pelias/lastline project which has made good progress in solving this problem for Pelias.

Essentially, it uses looks at all the records in OSM with both a city name and postal code, and uses that to create a mapping betw

[2020-04-16 06:50] missinglink commented on #202
@stepps00 check out https://github.com/pelias/wof-admin-lookup/blob/master/src/data/USA.tsv

[2020-04-17 15:42] justinelliotmeyers opened #1827 "New Taiwan 2020 data"
https://revolutionarygis.wordpress.com/2020/04/17/taiwan-2020-administrative-boundaries-updates/

![T_VILLAGE_2020](https://user-images.githubusercontent.com/5324316/79587369-72f4f400-80a0-11ea-8837-8f54bc4fa8c3.jpg)

source in readme.

Cheers!

[2020-04-17 15:58] stepps00 commented on #1827
Nice! An "authorization instruction" is provided with each dataset, which summarizes the data license and points to https://data.gov.tw/license.

[2020-04-17 16:53] nvkelso commented on #1827
Looks like a model license, including:

[2020-04-17 21:12] henrylyne commented on #1813
For this it looks like the locality polygon is good. The locality spelunker page has: "OH NOES!!! MISSING LABEL CENTROID" is this an indication of the problem or solution?

[2020-04-17 21:47] henrylyne opened #1828 "Accra, Ghana has orphaned descendants"
When I go to https://spelunker.whosonfirst.org/id/421168965/ I see:
OH NOES!!! MISSING LABEL CENTROID
Is that an indication of the problem here?
The neighborhood descendants of the locality Accra are missing a parent.

For example the Hierarchy for Nima https://spelunker.whosonfirst.org/id/85765569/
has "a locality that we aren't able to index correctly because... ?"

What's the problem for Nima a

[2020-04-17 21:53] missinglink commented on #1828
The associated `locality_id` is `-1` (which means unknown).

I'm guessing that it's because it's a neighborhood and so it should really belong to a locality.

I'm not sure why it's not just omitted rather than setting it -1?

[2020-04-17 21:56] nvkelso commented on #1828
Most likely it's because it's been a while since this record was first
imported, and the tooling has gotten better since then w/r/t common
properties and their values. If it was re-exportified it'd probably fix
itself to -1.

On Fri, Apr 17, 2020 at 2:54 PM Peter Johnson <notifications@github.com>
wrote:

[2020-04-17 22:17] henrylyne commented on #1828
Yes, the parent/locality id of Nima is -1, perhaps because at some point Accra didn't have a polygon defined and Nima couldn't find it. Or perhaps because of some issue related to "MISSING LABEL CENTROID".

[2020-04-17 22:30] stepps00 commented on #1828
Thanks @henrylyne.. some comments:

Yeah, some capital city geometries were updated without updating their descendant records through https://github.com/whosonfirst-data/whosonfirst-data/issues/1496. There is follow up work to update capital city descendants, tracked here: https://github.com/whosonfirst-data/whosonfirst-data/issues/1549. Once complete, this would fix this issue and similar `-1` pa

[2020-04-17 23:22] stepps00 commented on #1813
Related: https://github.com/whosonfirst-data/whosonfirst-data/issues/1828#issuecomment-615492137

This means the record does not have a label centroid `src:` property.

[2020-04-18 19:52] Guilherme-B commented on #1823
I'm asking because I see a lot of tickets, old ones, a few ones created by myself, being pending - don't take me wrong, your work is more than appreciated, especially since you're doing it for free. Let me know if some sort of data preparation of some sort can help speed things up.

Cheers!

[2020-04-21 00:43] stepps00 commented on #1821
I updated the name import script to add "regions" to the `name:` properties, rather than dropping them altogether. Example:

[code]

More info: https://github.com/whosonfirst/whosonfirst-names#rfc-5646-bcp-47-comformance

[2020-04-21 19:35] #1796 closed

[2020-04-21 22:43] stepps00 commented on #1819
[Here](https://github.com/whosonfirst-data/whosonfirst-data/files/4512921/bunk_geoms.txt) is a list of 101 admin records with similar issues.

[2020-04-21 23:25] ImreSamu commented on #1796
@stepps00:
my pg import is found other cases ... in the `-admin-ae` repo:
and crashed with this message :
[code]
debugging:
* https://github.com/whosonfirst-data/whosonfirst-data-admin-ae/blob/master/data/137/682/638/7/1376826387.geojson

and the   [raw geojson](https://raw.githubusercontent.com/whosonfirst-data/whosonfirst-data-admin-ae/master/data/137/682/638/7/1376826387.geojson) contains `\n`

[2020-04-21 23:29] stepps00 commented on #1796
@ImreSamu - I just checked this record in the branch with updates in the `admin-ae` repo, it is fixed:

https://raw.githubusercontent.com/whosonfirst-data/whosonfirst-data-admin-ae/stepps00/crawl-names/data/137/682/638/7/1376826387.geojson

I should have this wrapped up shortly, but ping this issue if you find other cases.

[2020-04-21 23:48] ImreSamu commented on #1796
@stepps00:
ok, please ping me, if this is finished ..

--------------
other:

I have found an another strange token problems .. postgres json parser error :
[code]
debugging:
*  https://raw.githubusercontent.com/whosonfirst-data/whosonfirst-data-admin-af/master/data/127/706/073/9/1277060739.geojson
[code]

maybe a quote problem ? .. strange ..

[2020-04-22 00:34] stepps00 commented on #1796
@ImreSamu - I realize I closed this issue too early, sorry for the confusion. This issue should now be fixed.

[2020-04-22 00:43] stepps00 opened #1829 "Crawl admin repos to add/update name properties"
As a follow-up to https://github.com/whosonfirst-data/whosonfirst-data/issues/1821, crawl each of the admin repos to add new name translations from Wikipedia/Wikidata.

https://github.com/whosonfirst/whosonfirst-cookbook/blob/master/scripts/crawl_to_add_wiki_names.py

This script can (and will) be updated to include some tweaks to consider "regional" language translations (info [here](https://gith

[2020-04-22 15:55] stepps00 commented on #1796
Re: https://github.com/whosonfirst-data/whosonfirst-data/issues/1796#issuecomment-617468670

Thanks for the note.. that is strange, but that name was not added as part of this work. That name was added ~9 months ago as part of a similar crawl to add name translations. The name should be fixed, though, so I'll update that single name property right now.

@ImreSamu - if you find additional bunk char

[2020-04-22 16:30] ImreSamu commented on #1796
@stepps00 :
* the " bunk characters" problem was in my side .. I have to add some extra parameters for the postgres  JSON import to fix it.
  Sorry for the noise
* now I can import the WOF admin data to the Postgres database ..

Thank you !

[2020-04-22 23:16] stepps00 commented on #1819
Done via the linked PRs. Other issues tracked through #975.

[2020-04-22 23:16] #1819 closed

[2020-04-24 14:52] missinglink commented on #1820
ping @justinelliotmeyers did you get a chance to try out the `GeoPackage` download?

[2020-04-24 15:03] justinelliotmeyers commented on #1820
@missinglink not yet - I'll make time this weekend to look. Sorry, honestly busy with tons of projects and side projects.

[2020-04-27 01:45] justinelliotmeyers commented on #1820
@missinglink The polygons look good. I didn't realize there was this much data in here, overlapping sources, and tons of attributes. Its amazing! Is creating a different file type like this for users like me a massive project pain? seems like tons of work/ coding. It is useful to me, but if it doesn't make sense for a larger group of users, I'd hate for people to waste their time.  Thanks!

[2020-04-27 19:01] stepps00 commented on #1733
I ran into some issues with some US records that incorrectly have high zoom levels, a list of them here: [zoom_6_us_localities.txt](https://github.com/whosonfirst-data/whosonfirst-data/files/4541547/zoom_6_us_localities.txt).

This file includes US localities that have a `mz:min_zoom` between `0.0` and `6.0`.

Visualized, dot size based on zoom:

<img width="1339" alt="Screen Shot 2020-04-27 at 11

[2020-04-27 20:05] stepps00 commented on #1741
Updates are being tracked in https://github.com/whosonfirst-data/whosonfirst-data-admin-ro/pull/16/, starting with new boroughs in Bucharest: https://github.com/whosonfirst-data/whosonfirst-data-admin-ro/pull/16/commits/0fa45de12cb72ebe98b0b76ef1bb833feec075f0.

Data source added in https://github.com/whosonfirst/whosonfirst-sources/pull/168.

[2020-04-28 09:40] iSudo commented on #1825
Hei @stepps00 is there a way to switch wof off for the time being ? By that i mean prevent it from even being downloaded and used anywhere in pelias

[2020-04-28 16:37] stepps00 commented on #1825
Hey @iSudo - that is a question for the Pelias team, perhaps @missinglink can suggest a workaround for you.

As for an update on this issue, I'm working through some updates to our administrative data in Romania right now, but hope to revisit this issue within the next month or so. There are some easy wins here, like merging duplicate region records and adding better translations for places in Est

[2020-04-28 16:55] missinglink commented on #1825
Hi @iSudo this repo is maintained by a different team to Pelias, I'm happy to help you out over on our GitHub org if you have more questions.

It's not currently possible to run Pelias without whosonfirst, so while you can filter and blacklist certain entries from being imported to Pelias you can't completely opt-out of whosonfirst.

We have plans to make Pelias gazetteer-agnostic at some point to

[2020-04-28 18:22] stepps00 opened #1830 "Fix bunk characters in wof:name property"
The following WOF records have bunk "�" characters in their `wof:name` property. Let's update these values.

[code]

[2020-04-28 18:55] iSudo commented on #1825
okay, but do you know which containers use whos on first data, its the pip-service right(which serves wof data)?

[2020-04-30 19:54] orangejulius opened #1831 "Unincorporated community of Wayne, PA is missing"
There's an unincorporated community called [Wayne, PA](https://en.wikipedia.org/wiki/Wayne,_Pennsylvania) that is in [Geonames](https://www.geonames.org/5218270/wayne.html), but not WOF as far as I can tell.

I would have expected a record to have come in via the Geonames import from a while back, but that's not the case.

@stepps00 pointed out that this is likely because the WOF record for [Wayne

[2020-04-30 22:57] stepps00 commented on #1831
Thanks @orangejulius - A bunk concordance, coupled with the GeoNames import caused various issues with Wayne/Wayne Heights records in PA. A couple things:

- This [Wayne Heights](https://spelunker.whosonfirst.org/id/1193035205/) record:
  - Should be flagged as not current
  - Should be superseded into [101720183](https://spelunker.whosonfirst.org/id/101720183/)
- This [Wayne Heights](https://spel

[2020-05-01 13:16] missinglink opened #1832 "Canadian locality with USA hierarchy"
I just found this today: https://spelunker.whosonfirst.org/id/1125946947
Looks like the locality is actually part of CA, not US.

The following IDs may also be affected (although I suspect not all of them):

[code]

[2020-05-01 18:12] stepps00 opened #1833 "Update departments of France"
There is a typo in the `label` value of the [Val d'Oise département](), the "deu" should be changed to "du".

Through https://github.com/whosonfirst-data/whosonfirst-data-admin-fr/pull/18, I adjusted all `label` properties for departments in France. The departments names are not usually capitalized (written "département du Val d'Oise", rather than "Département du Val d'Oise"), but since these valu

[2020-05-01 22:02] stepps00 commented on #1832
Nice, thanks for the list @missinglink

These can be taken care of for the US <> Canada mismatches, but I'm curious about a larger list of any WOF record that has a `wof:country` that mismatches the country in the record's hierarchy. I should be able to crawl repos to craft a bigger list.

[2020-05-01 22:26] stepps00 commented on #1831
Fixed in: https://github.com/whosonfirst-data/whosonfirst-data-admin-us/commit/37c3d24e39f140f3f2ec180a8af049a89a6069b3, https://github.com/whosonfirst-data/whosonfirst-data-admin-us/commit/6316c95c517687ef287d66d70b29fc1a28841e8e, https://github.com/whosonfirst-data/whosonfirst-data-admin-us/commit/570b1249e7e9547d16b1ec469d8ce7e398609a11.

[2020-05-02 08:31] missinglink opened #1834 "Duplicate 'src:geom' in alt files conflicts with SQLite UNIQUE constraint"
Heya,

We had a bug report yesterday that a large amount of Canadian test cases are failing in Pelias.
When I inspected the SQLite bundles I found only 3 entries for Canada when I was expecting 5:

[code]

It seems the source of the issue is that [four of the five geometries](https://github.com/whosonfirst-data/whosonfirst-data-admin-ca/tree/master/data/856/330/41) share a common 'src:geom' proper

[2020-05-02 08:36] missinglink commented on #1834
Just saw this:
https://github.com/whosonfirst/go-whosonfirst-sqlite-features/blob/e7074fd28cf0a2010784a2f588286b2a8bedc2e3/vendor/github.com/whosonfirst/go-whosonfirst-geojson-v2/properties/whosonfirst/whosonfirst.go#L117

Seems the WOF code uses (`src:alt_label` OR `src:geom`) so I'll update our code to do this too.
This makes more sense and it's more likely that `CONCAT( id, alt_label )` is uniq

[2020-05-02 09:48] missinglink commented on #1834
closing in favour of https://github.com/whosonfirst/go-whosonfirst-sqlite-features/issues/7 because I think it's a schema/code problem rather than a data issue.

[2020-05-02 09:48] #1834 closed

[2020-05-04 18:01] #1831 closed

[2020-05-05 16:59] stepps00 opened #1835 "Duplicate Flinton, PA records"
Finton: https://spelunker.whosonfirst.org/id/1125808211/
Flinton: https://spelunker.whosonfirst.org/id/1125808325/

These both represent [Flinton, PA](https://en.wikipedia.org/wiki/Flinton,_Pennsylvania).

[2020-05-05 23:18] stepps00 commented on #1814
Noting that while there is a locality record in Andorra in the `admin-an` repo that should be moved to the `admin-ad` repo, the record for the [Caribbean Netherlands](https://github.com/whosonfirst-data/whosonfirst-data-admin-an/blob/master/data/856/327/27/85632727.geojson) should stay in the `admin-an` repo.

More info: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#AN

So, once this issue is f

[2020-05-06 18:06] justinelliotmeyers commented on #28
@nvkelso @stepps00 test this out: http://geonetwork.inspire.fomi.hu/geonetwork/srv/eng/catalog.search#/metadata/618c85bf-f6f4-49b9-85d3-88ffd7f6d4da

Enjoy ;)

[2020-05-06 18:07] Guilherme-B opened #1836 "Outdated Properties"
The [properties json](https://raw.githubusercontent.com/whosonfirst/whosonfirst-properties/master/aliases/all_properties.json) is missing the following:

- "src:altlabel"
- "name:deu_at_x_preferred"
- "name:deu_ch_x_preferred"
- "name:eng_ca_x_preferred"
- "name:eng_gb_x_preferred"
- "name:por_br_x_preferred"
- "name:srp_ec_x_preferred"
- "name:srp_el_x_preferred"
- "name:szy_x_preferred"
- "name:

[2020-05-06 18:11] stepps00 commented on #1836
Thanks @Guilherme-B - these properties have all been added to WOF since the `property.json` file was introduced. Going forward, I need to have a think about how to approach updates to the `property.json` file, as there are 250+ admin repos that need to be crawled to verify/adjust the json file with any new/removed properties.

Let me know if you have any thoughts.. in the meantime, I'll adjust to

[2020-05-06 18:22] Guilherme-B commented on #1836
Well @stepps00 , we can do this the old-fashioned way, though it will take a long time and it will be rather inefficient, I am doing something similar though.
Loop through the possible list of countries (alpha2 codes) and download them - alternatively you can just crawl GitHub's API and download the repos matching a regex - process each one of them pushing the tags onto a set, these will be your u

[2020-05-06 20:04] Guilherme-B opened #1837 "Duplicate Entities"
Recent Bundles often contain duplicate entities, though it seems to be recent. For instance in Colombia, entity 890452015 is duplicated:
![image](https://user-images.githubusercontent.com/38859748/81222988-25074800-8fdd-11ea-9290-cf351e9d25d8.png)

Is this normal? Or does the `lastmodified` set to `-1` flag a removed version hence deprecated, and the other one is to be considered?

[2020-05-06 20:11] stepps00 commented on #1425
Still an issue: https://spelunker.whosonfirst.org/id/420559387/

[2020-05-06 20:35] stepps00 commented on #1837
Hey @Guilherme-B - this looks similar to an issue tracked by Pelias, more info [here](https://github.com/pelias/whosonfirst/issues/508#issuecomment-624867013). The issue has to do with the `is_alt` flag.

Take a look at that issue, you may be able to grab the newest bundle for a fix.

[2020-05-06 20:37] missinglink commented on #1837
Hey @stepps00 actually my fix won't hold unfortunately
https://github.com/whosonfirst-data/whosonfirst-data-admin-gb/blob/master/data/101/853/501/101853501-alt-whosonfirst.geojson

This record shares an alt name the same as the src name from the default geom

[2020-05-06 20:39] missinglink commented on #1837
I'll add a new column to the SQLite db tomorrow that should fix this

[2020-05-06 20:43] stepps00 commented on #1837
Oof.. thanks @missinglink

So just to clarify, the issue occurs when a record's `src:geom` property value is identical to the source of an alt file? Seems like this is a sliver of cases, mostly `whosonfirst`-source related.. but good catch!

[2020-05-06 20:48] missinglink commented on #1837
I think maybe it was ambitious on my part to start including alt geoms in the SQLite dist files.

When I ported the Go code it had support for this but seems it had never been tested out in dist files that were being served up to the public.

Anyway, I think it's for the best to include alt files in the SQLite dbs and encourage their adoptance so I'll fix it rather than reverting to how it was.

[2020-05-06 20:56] missinglink commented on #1837
This is the issue describing the bug and the solution https://github.com/whosonfirst/go-whosonfirst-sqlite-features/issues/7

[2020-05-06 21:02] stepps00 opened #1838 "Update locality geometries in India"
https://spelunker.whosonfirst.org/id/102029641/

The geometry for this record is generous.. it should be split into a smaller portion for just Kozhikode, and the existing nearby localities (like Kondotty) should be QA'd, too.

[2020-05-06 21:12] missinglink commented on #1837
Sorry @Guilherme-B if this doesn't make sense.

The dist files are now being generated using a different method and hosted by us (Geocode Earth).

The versions which were available on `dist.whosonfirst.org` were quite old and as such didn't represent the latest database schema.

Prior to 2020 the `geojson` table used the `ID` column as a primary key, and as such there was only ever one row per ID.

[2020-05-06 21:13] stepps00 commented on #1838
Similarly:

https://spelunker.whosonfirst.org/id/102030243/ - this geometry does not cover Gauribidanūr. Let's adjust it to actually cover the city of Gauribidanūr and store the existing geometry as an alt.

[2020-05-06 21:23] Guilherme-B commented on #1837
@missinglink  thank you.

If you don't mind I'll make a few other questions then:
- Does the `is_alt=0` represent the "actual" geometry, or what is the reasoning behind having multiple versions?
- Is the WOF project now being handled by Geocode Earth, or is it still open source and handled/modified by its contributors only (which seems to be @stepps00 on a free-time basic mostly)?

[2020-05-06 21:31] missinglink commented on #1837
Stephen is better suited to answer but our position is that we required more up-to-date dist files for Pelias and so we started generating them and hosting them ourselves.

Our goal is to publish the data verbatim as you would find it in the GitHub repo, which is why the alt geometries are included.

:zzz:

[2020-05-06 21:35] missinglink commented on #1837
The schema change pre-dated our involvement: https://github.com/whosonfirst-data/whosonfirst-data/issues/1793#issuecomment-587909018

[2020-05-06 23:01] stepps00 opened #1839 "Missing locality of Schrattenberg"
WOF has a localadmin record for [Schrattenberg](https://spelunker.whosonfirst.org/id/1108835817/descendants/?exclude=nullisland), but no locality descendant of the same name. WOF should have a locality record for Schrattenberg, as it is a [town in Austria](https://en.wikipedia.org/wiki/Schrattenberg).

[2020-05-06 23:20] stepps00 commented on #1837
The `0` means the entry contains the "default" geometry of in the `{id}.geojson` file, a `1` represents the entry is the (or one of the) "alt" geometries in one of the `{id}-alt-*.geojson` files. The entries in your original comment image should represent [this "default" file](https://github.com/whosonfirst-data/whosonfirst-data-admin-co/blob/master/data/890/452/015/890452015.geojson) and [this "a

[2020-05-07 10:16] missinglink commented on #1837
This issue can be closed IMO.

What might be lacking is some documentation on the SQLite schema for users.

[2020-05-07 10:39] missinglink opened #1840 "review of src:alt_label properties"
Heya,

Following on from https://github.com/whosonfirst/go-whosonfirst-sqlite-features/issues/7 I noticed that https://raw.githubusercontent.com/whosonfirst-data/whosonfirst-data-admin-gb/master/data/101/853/501/101853501-alt-whosonfirst.geojson has a `src:alt_label` of `whosonfirst` (and also a `src:geom` of `whosonfirst`).

I recall there was a recent discussion about the label naming convention

[2020-05-07 11:45] missinglink commented on #1840
<img width="224" alt="Screenshot 2020-05-07 at 13 44 20" src="https://user-images.githubusercontent.com/738069/81290787-f636b380-9068-11ea-9a44-153afc9362e7.png">

[2020-05-07 15:42] #1837 closed

[2020-05-07 16:00] stepps00 commented on #1840
@missinglink would you be able to produce a list of `wof:id`s (and the repo the record is in, if possible) for each record where the `src:geom` property value is also a value in the `src:geom_alt` property?

I suspect some of these cases are bunk and need to be fixed, but there are some legitimate cases where we store two geometries from the same source for a single record. If the two geometries a

[2020-05-07 19:46] missinglink commented on #1840
That doc is great BTW, i hadn't seen it and it clears up a lot of my questions.

I'll generate a report of records with the same value for `src:geom` and `src:geom_alt`.

[2020-05-07 20:43] missinglink commented on #1840
[code]

[code]

[code]

[2020-05-08 09:40] missinglink opened #1841 "Possible duplicate of some Korean places"
Caught this in a failing test case, I think these records refer to the same district?

https://spelunker.whosonfirst.org/id/890475779/
https://spelunker.whosonfirst.org/id/890476045/

And this one for the same city?

https://spelunker.whosonfirst.org/id/102026551/
https://spelunker.whosonfirst.org/id/890472589/

Unfortunately those were the only two case we had covering this region.

[2020-05-08 09:54] missinglink opened #1842 "Manama, Bahrain"
Heya,

I was investigating a change today to our capital cities test cases.
We had https://spelunker.whosonfirst.org/id/890440103/ for `Manama, Bahrain`

The spelunker shows "this record has been both deprecated and superseded by: 421190647"
However [421190647](https://spelunker.whosonfirst.org/id/421190647/) says "this record has been superseded by: 890440103"

https://www.instagram.com/p/Bz6MyFL

[2020-05-08 09:56] missinglink commented on #1842
Also worth noting that there is also https://spelunker.whosonfirst.org/id/85669053/ as another potential candidate.

[2020-05-08 10:08] missinglink opened #1843 "Saint-Pierre, Saint Pierre and Miquelon"
Heya,

I was looking through our capital cities test cases today and noticed that Saint-Pierre (https://spelunker.whosonfirst.org/id/890435983/) has an outdated hierarchy reference.

<img width="218" alt="Screenshot 2020-05-08 at 12 04 55" src="https://user-images.githubusercontent.com/738069/81395651-4f175200-9124-11ea-8de5-e8c6736b1827.png">

85632371 has been superseded by 1158846601

[2020-05-08 16:03] stepps00 commented on #1841
Hmm.. I'm not sure these would be considered duplicates, as they have different `wof:placetype` values. The admin data in South Korea could use a review, though.

I'll try to prioritize some time soon to visualize all admin records in South Korea and figure out what updates can be made. I'm sure there are other duplicate records in the repo.

[2020-05-08 16:24] justinelliotmeyers commented on #1841
little outdated (*as they update admins every few months) http://www.gisdeveloper.co.kr/?p=2332

Enjoy!

[2020-05-08 23:18] #1833 closed

[2020-05-10 12:32] nigelhorne opened #1844 "region_id repo"
Please be patient, I'm sure that raising a bug isn't the right place to ask a question (I'm not sure what is) and I'm sure that the answer is RTFM (please show me which FM to R and I will).

Look at a file such as whosonfirst-data-admin-ca/data/114/190/939/1/1141909391.geojson

In it is the hierarchy, for example its region in (hierarchy[0]->region_id), and the repo it's in (wof:repo)

What I'd li

[2020-05-10 15:44] missinglink commented on #1844
I think you're probably looking for https://github.com/whosonfirst/whosonfirst-properties/blob/master/properties/wof/repo.json

Each geojson feature should contain that field.

[2020-05-10 15:47] missinglink commented on #1844
It's not safe to assume that the hierarchy all refers to places in the same repo as the repos are partitioned by country and anything 'above' that in the hierarchy (such as a political union or a continent) will be in the `admin-xy` repo.

[2020-05-10 15:50] missinglink commented on #1844
Re: "If not, how do I determine which repo to look on for the hierarchy .geojson files?" I'm not sure sorry.

[2020-05-10 18:28] thisisaaronland commented on #1844
@nigelhorne - The problem you're describing has been a long-simmering issue. There are a few challenges:

* It's still not really viable to put all of WOF in to a single monorepo. We'd like very much to be able to do that but a) Git hasn't learned how to deal with that volume and as a consequence b) we were making GitHub sad which precipitated migrating everything in `whosonfirst-data` in to `whos

[2020-05-10 18:52] nigelhorne commented on #1844
Thanks everyone.  Let me sleep on this to see if I can come up with a solution (or at least a partial workaround) that works for me.  Perhaps parsing the tree twice will be OK for me, though very slow...

[2020-05-18 16:39] stepps00 commented on #1836
https://github.com/whosonfirst/whosonfirst-properties/blob/master/aliases/all_properties.json has been updated with the most recent property additions.

[2020-05-18 16:39] #1836 closed

[2020-05-21 00:52] thisisaaronland commented on #1844
Just a quick follow up to say that I was able to carve out some time to look at the "finding aid" code mentioned above. There are still some loose ends and unknown unknowns and still nothing is public facing but I think I have a better idea of how to move forward. The easiest way to explain is by pointing to the tools we'll (likely) deploy:

https://github.com/whosonfirst/go-whosonfirst-findingaid

[2020-05-21 21:23] thisisaaronland opened #1845 ""wof:id" properties encoded as strings"
Short-term I can trap and handle this in code but it appears we have a bunch of `wof:id` properties that are encoded as strings:

[code]

[2020-05-21 22:10] thisisaaronland commented on #1844
I am waiting for this to finish running before giving it the thumbs up but it appears to work as you'd expect:

[code]

Support for SQLite cache is bundled with:

https://github.com/whosonfirst/go-whosonfirst-findingaid-github

[2020-05-22 00:36] thisisaaronland commented on #1844
[code]

It takes ~2 hours to produce on a `t2.xlarge` resulting in a 669MB file.

The code still defaults to being strict about errors:

[code]

I am going to finish getting a findingaid workflow set up for SFO Museum and use that as the model for WOF. So no ETA yet but sooner than yesterday, at least.

[2020-05-26 20:48] thisisaaronland commented on #1844
Proof of concept is working. I am going to wait to see if this runs unintended as expected tomorrow morning (when the flight data is updated) before wiring this up everywhere:

[code]

The basic model for automated updates looks like this:

![arch](https://user-images.githubusercontent.com/12658759/82948732-31851d80-9f57-11ea-8877-7381ccac4b25.jpg)

The code is still in flux and the `sfomuseum-fin

[2020-05-27 00:52] nigelhorne commented on #1844
Thanks @thisisaaronland I appreciate your time and effort.

[2020-05-27 18:43] stepps00 commented on #1845
Hmm, looks like this is affecting alt files.. I'll crawl the per-country repos to update and link the PRs to this issue.

[2020-05-27 20:33] stepps00 commented on #1845
List of ids: [string_ids.txt](https://github.com/whosonfirst-data/whosonfirst-data/files/4691627/string_ids.txt)

Looks like this impacts alt files of ~130 country records, likely added when we improved country polygons.

[2020-05-27 20:49] thisisaaronland commented on #1844
Posting the following both as an FYI and so I'll have notes-to-self for when we need to do this for WOF.

Add update finding aid webhook for all repos:

[code]

Catalog all the records for (n) repos, in this example just one:

[code]

[2020-06-02 17:01] henrylyne opened #1846 "Rosario Neighborhood needs Parent"
Rosario Argentina has a neighborhood Liniers(85764175) with a parent ID of -1, it should be pointing at the locality of Rosario(421172799).

It would be great if I could fix this using the Who's On First Editor: https://writefield.nextzen.org

Let me know if I can be of more help

[2020-06-02 18:57] nvkelso commented on #1846
We sometimes set "controlled" (meaning human moderated, bot please don't overwrite) place hierarchies, @stepps00 is that a good approach here?

@iandees how hard would that be to support in Write Field (say end of June)?

[2020-06-02 19:04] iandees commented on #1846
Is that a plain boolean attribute on the place?

[2020-06-02 19:35] stepps00 commented on #1846
It sounds like we should add support to modify the ["wof:parent_id"](https://github.com/whosonfirst/whosonfirst-properties/blob/master/properties/wof/parent_id.json) property, which is a string, and the ["wof:controlled"](https://github.com/whosonfirst/whosonfirst-properties/blob/master/properties/wof/controlled.json) property, which is a list of strings.

This would be a temporary solution; the l

[2020-06-04 23:02] henrylyne opened #1847 "Mount Pleasant, NY Neighborhood needs Parent"
Graham(85822415), a neighborhood in Westchester County in New York has no parent. It should be the Mount Pleasant locality 1125980339

[2020-06-05 15:29] henrylyne opened #1848 "Queenstown, NZ Neighborhood needs Parent"
Queenstown Central(85782493) should have the parent locality of Queenstown(101914507)

[2020-06-09 16:40] henrylyne opened #1849 "Missing Ireland Data"
https://www.cso.ie/en/census/census2016reports/census2016smallareapopulationstatistics/
It would be good to add the 4 provinces of Ireland to your data, along with the counties and small settlement data. There is probably other useful data at that link also.

The general hierarchy should be:
- The island of Ireland
- the Republic of Ireland(Independent State), Northern Ireland(UK)
- 4 provinces, 1

[2020-06-09 18:13] nvkelso commented on #1849
Historical, ceremonial counties for everyone!

[2020-06-09 22:16] stepps00 commented on #1849
Related (dupe?): https://github.com/whosonfirst-data/whosonfirst-data/issues/1443

[2020-06-09 22:36] henrylyne commented on #1849
Ceremonial counties? I have no idea what they are, but they don't sound as important as having the current counties of Ireland well represented in the place hierarchy.

I fixed the link at the top, to link to Irish Census data that is hopefully useful for adding provinces, counties, cities and towns(aka settlements). The data for settlements looks especially useful for adding population and polygo

[2020-06-10 10:29] lhorus opened #1850 "Data Update Pipeline"
Hi,

I have stumbled upon WOF as an open source project for administrative boundaries and their relationship - just what I needed to kickstart my project. However I am a bit concerned about the data's update frequency and overall pipeline. How does it work at the moment? Who defines what is updated, when and who actually updates it?

For instance, I see that is a major problem with [Peru ](https:/

[2020-06-10 22:46] nvkelso commented on #1850
Chile or Peru?

[2020-06-16 18:22] stepps00 opened #1851 "Investigate admin data changes in the Netherlands"
The Dutch Centraal Bureau voor de Statistiek source (`cbsnl`) released updated admin datasets this year. Let's compare with the existing coverage in the Netherlands and update where necessary.

More info: https://github.com/whosonfirst/whosonfirst-sources/issues/171

[2020-06-17 18:15] stepps00 opened #1852 "Neighbourhood in Germany has bunk names and concordance"
https://spelunker.whosonfirst.org/id/85795327/

This record has a Wikipedia concordance to the Eiffel Tower page, and has "Eiffel Tower" names and name translations as a result. Let's update the concordance and strip out any incorrect names.

[2020-06-17 22:03] blackmad opened #1853 "README.KNOWN.KNOWNS.md link in README.md is broken"
in https://github.com/whosonfirst-data/whosonfirst-data/blob/master/README.md

"We've add a separate document called README.KNOWN.KNOWNS.md that lists the current state of known knowns and other gotchas you might encounter working with the Who's On First data."

README.KNOWN.KNOWNS.md goes to https://github.com/whosonfirst-data/whosonfirst-data/blob/master/README.KNOWN.KNOWNS.md which 404s

[2020-06-18 04:38] nvkelso commented on #1853
@stepps00 can you sort out where that file got migrated to? It probably went missing in the great Github repo migration of 2019...

[2020-06-19 00:51] stepps00 commented on #1853
Yeah.. this file wasn't retained when the repo split into 260 per-country repos, unfortunately. I may be able to dig up a copy of that file and re-upload, but it will take some time to find.

[2020-06-19 06:20] missinglink commented on #1853
IIRC there wasn't much in that file, maybe one or two lines.

- https://github.com/whosonfirst-data/whosonfirst-data/issues/160
- https://github.com/whosonfirst-data/whosonfirst-data/pull/373

[2020-06-19 07:21] missinglink commented on #1853
[code]

[code]

[2020-06-22 13:44] bboure commented on #1377
Same happens with:

https://spelunker.whosonfirst.org/id/101751573/

Here are some records that depend on the superseded record:
https://spelunker.whosonfirst.org/id/85801789/
https://spelunker.whosonfirst.org/id/85801191/
https://spelunker.whosonfirst.org/id/85801123/

[2020-06-22 14:05] missinglink commented on #1377
Regarding Belgium there are 120 records which have associations to records which have been superseded:

[code]

[2020-06-22 16:14] stepps00 commented on #1853
Thanks @missinglink!

I've opened https://github.com/whosonfirst-data/whosonfirst-data/pull/1854 to add the file back.

[2020-06-22 16:56] #1853 closed

[2020-06-22 18:04] stepps00 opened #1855 "Add localities in India"
WOF is missing a few locality records in India. Notes below:

Missing a locality record for "Darshadi", or "Darshadi Village" in India. This locality is near [Khojachora](https://spelunker.whosonfirst.org/id/1360069477/), roughly around: `23.074066, 69.415374`.

Missing a locality record for "Tenali" in India. This locality is roughly around: `16.237193, 80.646896`.

Missing a locality record for

[2020-06-22 22:59] Guilherme-B opened #1856 "Costa Rica - Incorrect Data"
Costa Rica's data seems to be very outdated. For instance, the county Renacimiento doesn't seem to exist anywhere, not sure where this ever game from. Same for Bugaba, among many others.
- 421181903 (Renacimiento)
- 421170137 (Bugaba)
- 421188117 (Esparza)

There's even a County named Buenos Aires (421201609).

[Provinces](http://daticos-geotec.opendata.arcgis.com/datasets/6e2ec42966d54e7087d9da25

[2020-06-22 23:17] Guilherme-B commented on #1856
As far as I can tell, the errors seem to be in the 3rd administrative level, namely, the following entities don't seem to exist (at least, by their current name):

421201609
421202609
890442901
421190543
421194119
421175399
421177415
421180917
421181903
421188113
421188117
421170137

[2020-06-23 00:11] stepps00 commented on #1856
Nice find, @Guilherme-B - thanks for the links.

Agreed that we should update the admin data in Costa Rica, there are likely updated to make and outdated records we should update.

The links you provided seem to contain data for placetypes we'd need in order to update records, my only question is around the data licenses. The licenses on the arcgis page suggest the datasets are "Public Use", but w

[2020-06-23 07:55] Guilherme-B commented on #1856
Thanks for the reply as usual @stepps00 .

As for the license, I'm not sure to be honest, I can e-mail them in Spanish and keep trying to lookup for the answer either way. What type of license does WOF require?

[2020-06-23 08:31] Guilherme-B commented on #1856
Here's an alternative from the official government source, [WMS](http://geos.snitcr.go.cr/be/IGN_5/wms?), [WFS](http://geos.snitcr.go.cr/be/IGN_5/wfs?). By looking at the [capabilities ](http://geos.snitcr.go.cr/be/IGN_5/wms?request=GetCapabilities) request, the data to be retrieved is:
* "limiteprovincial_5k" for provinces
* "limitedistrital_5k" for districts
* "limitecantonal_5k" for cantons

He

[2020-06-23 12:05] Guilherme-B commented on #1780
Here's another source, https://data.pr.gov/en/widgets/fvqe-f7x9 click on the Menu button > download. Seems pretty accurate.
Data on [municipalities and neighborhoods](http://www.gis.pr.gov/descargaGeodatos/Delimitaciones/Pages/Limites-legales.aspx).

[2020-06-23 17:22] stepps00 commented on #1856
WOF requires a `CC-BY` or `CC0` equivalent license for import.

I'm not sure WOF could use that license to import.. it's not clear to me if there is a specific license to each of these datasets (that looks like a general "copyright"). I will also poke around and paste any admin data for Costa Rica in this issue.

[2020-06-23 17:25] justinelliotmeyers commented on #1856
could always email their statistical bureau - super nice people.

[2020-06-23 18:56] nvkelso commented on #1856
That sounds like boilerplate wrapper text to me, let's definitely contact them :)

[2020-06-23 18:59] justinelliotmeyers opened #1857 "Albania Update"
https://geoportal.asig.gov.al/en/data/datasets

[2020-06-23 19:33] Guilherme-B commented on #1856
I did look for the data there, had no luck retrieving it.

Well, I assume you will e-mail them on behalf of WOF, let us know if they reply :)

[2020-06-23 20:07] stepps00 commented on #1856
I reached out; I'll post any info they forward.

[2020-06-23 20:09] stepps00 commented on #1857
Thanks, @justinelliotmeyers!

Current coverage in WOF: https://spelunker.whosonfirst.org/id/85632405/descendants/?exclude=nullisland

[2020-06-23 20:12] justinelliotmeyers commented on #1856
I also emailed (*en espanol)!  Hopefully we hear back soon

[2020-06-23 20:32] orangejulius opened #1858 "Paso Robles English name is 'El Paso de Robles'"
Looks like a data error, this certainly shouldn't be the preferred English name, should it?

https://github.com/whosonfirst-data/whosonfirst-data-admin-us/blob/3a1ad36a041181ec1bbde58fda2a1e9c0f044cdb/data/859/223/13/85922313.geojson#L46-L48

[2020-06-23 20:35] stepps00 opened #1859 "Missing locality of Kuujjuarapik, QC, CA"
Whapmagoostui: https://spelunker.whosonfirst.org/id/101748003/

On the coast of Whapmagoostui, there is a village of [Kuujjuarapik](https://en.wikipedia.org/wiki/Kuujjuarapik). WOF does not have a locality record for Kuujjuarapik, though. I need to investigate the administrative structure here to verify this place is actually an administrative place, but at minimum WOF should maintain a record for

[2020-06-23 21:09] stepps00 commented on #1858
The full name of this locality is "El Paso de Robles", but typically just referred to as "Paso Robles". I think the current name is a combo of the actual place name + the commonly used name in parentheses.

Suggesting the following:

[code]

[2020-06-23 21:17] orangejulius commented on #1858
That should be perfect.

As a side note, I'm working on a blog post about names and geocoding. This will be another perfect example (like "The City and County of San Francisco") of names that are _too_ official for regular use. We still have to record them of course :)

[2020-06-24 13:02] justinelliotmeyers commented on #1857
Hello,

These data can only be downloaded by Albanian Public Administration employees.
Sorry but we can't help you with this situation.

Have a nice day!

[2020-06-24 13:02] #1857 closed

[2020-06-24 15:12] justinelliotmeyers commented on #1856
emailed agency responsible for license preguntas: SecretariaIGN@rnp.go.cr

[2020-06-24 18:01] justinelliotmeyers commented on #1856
[CONNECTING SERVICES IN QGIS AND ARCGIS.pdf](https://github.com/whosonfirst-data/whosonfirst-data/files/4827130/CONNECTING.SERVICES.IN.QGIS.AND.ARCGIS.pdf)

replied asking for terms

[2020-06-24 19:01] Guilherme-B commented on #1856
Just found duplicate entities:
- 421203517
- 1125389441
- 421173725
- 421185049
- 421185053
- 421166603

Could be a good idea to add to the ingestion/validation pipeline a check to see if the same parent contains direct children with the same name - as its unlikely to happen, just so it can be manually checked.

[2020-06-24 19:02] Guilherme-B commented on #1856
Thanks for handling this :)

[2020-06-24 19:34] #1858 closed

[2020-06-24 19:35] stepps00 commented on #1858
@orangejulius - As @nvkelso pointed out in https://github.com/whosonfirst-data/whosonfirst-data-admin-us/pull/69, [Ventura, CA](https://spelunker.whosonfirst.org/id/85923223/) is another case.

[2020-06-24 19:51] justinelliotmeyers commented on #1856
![Screenshot_20200624-145055](https://user-images.githubusercontent.com/5324316/85621016-3dcdca80-b62a-11ea-8321-d6cef3c4319b.png)

[2020-06-25 16:46] stepps00 commented on #1856
Correct. If we're going to import geometries or properties from a source into WOF, that source license must allow commercial and non-commercial use. It looks like the SNIT source prohibits commercial use, unfortunately.

[2020-06-25 18:06] Guilherme-B commented on #1856
Its never easy is it? The original [link I shared](http://daticos-geotec.opendata.arcgis.com/datasets/6e2ec42966d54e7087d9da25ad78abe0_0) doesn't specify a usage permission, and I think by default ESRI shared data is allowed for noncommercial usage only. We can always [email the group that shares the data](https://www.geotecnologias.com/es-cr/home) on ESRI asking them if they would consider specif

[2020-06-25 18:16] Guilherme-B commented on #1856
Starting to think the only way for data to be used is for someone to make the maps by hand and share them as their own work hah.

[2020-06-25 18:17] Guilherme-B commented on #1856
Starting to think the only way for data to be used is for someone to make the maps by hand and share them as their own work hah.

[2020-06-25 23:23] stepps00 opened #1860 "Update Liverpool(s)"
Similar to https://github.com/whosonfirst-data/whosonfirst-data/issues/1759, there are other "Liverpool" records that have incorrect concordance and population data. All of these records have concordance and/or population data associated with Liverpool, England:

- [Liverpool, England](https://raw.githubusercontent.com/whosonfirst-data/whosonfirst-data-admin-gb/master/data/101/750/547/101750547.ge

[2020-06-26 00:13] #410 closed

[2020-06-26 15:00] Guilherme-B commented on #1856
@justinelliotmeyers  I did notice you have this data on your [repo](https://github.com/justinelliotmeyers/official_costa_rica_administrative_boundary_shapefile), what is the source?

[2020-06-26 18:05] missinglink opened #1861 "Martinique"
Heya,

WOF has a point-based geometry [1243100949](https://spelunker.whosonfirst.org/id/1243100949/) for Martinique in the `locality` placetype and also [85671191](https://spelunker.whosonfirst.org/id/85671191/) as the `region` of Martinique.

I'm not super familiar with the area but I don't think there is actually a town/city called Martinique there?

Can we possibly deprecate/delete 1243100949?

[2020-06-27 00:16] #1741 closed

[2020-06-27 00:31] #1860 closed

[2020-06-27 00:35] stepps00 commented on #1852
Fixed here: https://github.com/whosonfirst-data/whosonfirst-data-admin-de/commit/f9bcbfacb020fa5eeed5c6a7f7fee04c6d4127d0

[2020-06-27 00:35] #1852 closed

[2020-06-29 07:00] missinglink commented on #1861
I've attempted a PR in https://github.com/whosonfirst-data/whosonfirst-data-admin-mq/pull/7 using the writefield editor.

[2020-06-29 11:40] emacgillavry commented on #1851
Please advise how we can assist in progressing this issue. Thanks in advance.

[2020-06-29 16:16] stepps00 opened #1862 "Add is_landuse_aoi properties to Seattle neighbourhoods"
As a follow up to https://github.com/whosonfirst-data/whosonfirst-data/issues/381, let's update the `mz:is_landuse_aoi` properties on neighbourhoods in Seattle that represent bodies of water/shipping channels. Examples:

- https://spelunker.whosonfirst.org/id/890537419/
- https://spelunker.whosonfirst.org/id/890537405/

These aren't residential neighbourhoods; they should be flagged as such.

Rela

[2020-06-29 16:19] stepps00 commented on #1861
Thanks @missinglink! This slipped through the cracks, but the PR looks good.

[2020-06-29 16:20] #1861 closed

[2020-06-29 16:25] stepps00 commented on #1851
Hey @emacgillavry - in the linked `whosonfirst-data` sources issue, you mentioned 15 localadmin have new boundaries in the  2020 dataset, correct? Is this the only placetype with changes expected? Or have geometries changed for other placetypes, as well?

Typically this work involves visualizing all data in the per-country repo (in this case `admin-nl`), and reconciling it with the source data. Bu

[2020-06-29 21:37] stepps00 commented on #1862
An example of how this is causing some labeling issues in Mapzen styles.. Portage Bay being labeled three times (twice from WOF):

<img width="746" alt="Screen Shot 2020-06-29 at 11 59 12 AM" src="https://user-images.githubusercontent.com/18567700/86058508-e064bf80-ba15-11ea-8cbb-1144584fd59a.png">

[2020-06-30 06:49] Tawkir-Ahmed commented on #1715
Thank you so much for those file.

[2020-06-30 20:25] #1842 closed

[2020-07-01 22:42] #1830 closed

[2020-07-02 23:49] stepps00 commented on #1814
This work is complete, though these four bunk repositories still need to be removed from GH:

 - [whosonfirst-data-admin-uk](https://github.com/whosonfirst-data/whosonfirst-data-admin-uk)
 - [whosonfirst-data-admin-dn](https://github.com/whosonfirst-data/whosonfirst-data-admin-dn)
 - [whosonfirst-data-admin-tu](https://github.com/whosonfirst-data/whosonfirst-data-admin-tu)
 - [whosonfirst-data-adm

[2020-07-02 23:52] stepps00 commented on #1814
cc @missinglink - when building distribution files, you will no longer need to consider the `uk`, `dn`, `tu`, or `ko` repositories. I'll update the cookbook doc ([this one](https://github.com/whosonfirst/whosonfirst-cookbook/blob/master/how_to/building_a_combined_distribution.md)) to reflect this shortly.

[2020-07-03 14:41] emacgillavry commented on #1851
Thanks for the pointers. Will start a list of wof:ids that need updating. Here's a first overview of changes per placetype:

- neighbourhoods and boroughs have changed in 15 localadmins since 2019. See attached image to see many more changes 2016-2020
- localities changed quite a bit
- localadmins have changed, mainly through regional re-divisions, from 390 (in 2016) to 355 (in 2020)

![compare-ne

[2020-07-04 10:51] missinglink commented on #1377
Yesterday I wrote [a script which can fix this orphaned hierarchies within a SQLite database](https://github.com/pelias/wof/blob/master/sqlite/fix.js), it's available in the `npm @whosonfirst/wof` package as the command line `wof sqlite fix <db>`.

I ran it against the `whosonfirst-admin-latest.db` and it reported [12,000 property fixes](https://gist.github.com/missinglink/0c91b273538a814e3311b0b4

[2020-07-04 12:31] missinglink opened #1863 "missing wof:superseded_by"
Heya,

I noticed that [1158831797](https://spelunker.whosonfirst.org/id/1158831797/) supesedes [101751843](https://spelunker.whosonfirst.org/id/101751843/) but 1158831797 is missing the `wof:superseded_by` reference.

1158831797 correctly has `wof:supersedes` set with 101751843 in it, so something must have happened where only one side of the relationship was updated.

Not sure how common/rare thi

[2020-07-06 00:54] emacgillavry commented on #1851
Please find attached a GeoJSON file created to show which neighbourhoods require updating because of geometry changes, either through land reclamation (hey, we're Dutch), redistricting or land exchange with Belgium!

[deprecated_neighbourhoods_2016.zip](https://github.com/whosonfirst-data/whosonfirst-data/files/4876247/deprecated_neighbourhoods_2016.zip)

[2020-07-07 01:26] nvkelso commented on #1377
Please send machine generated PRs, better than rationalizing about where
What patch has or hasn’t been applied. Machine generated PRs are par for
the coarse.

On Sat, Jul 4, 2020 at 03:52 Peter Johnson <notifications@github.com> wrote:

[2020-07-07 22:36] henrylyne opened #1864 "Localities Missing Name"
Below is a list of locality IDs that are missing a wof:name. The second column is the name:eng_x_preferred or NULL if that is not available, so most I think could be fixed by using the data already available. Or perhaps qs: loc_alt would be better.

101788901	Grainau
101785433	Finsing
101784211	Gablingen
101827081	Eggolsheim
101841353	Friedersdorf
101817375	NULL
101842051	Neuhausen ob Eck
10181221

[2020-07-08 05:25] stepps00 commented on #1864
Thanks @henrylyne - I'll take a look and update the `wof:name` values. Was this list created against all per-country repos or a subset of the whosonfirst-data repos?

[2020-07-08 05:26] stepps00 commented on #1851
Thanks @emacgillavry! I'm going to work with @missinglink to investigate this change set.. I'll flag this issue once we're able to take a closer look.

[2020-07-08 07:56] missinglink commented on #1377
🤖 beep boop ^

[2020-07-08 17:00] henrylyne commented on #1864
@stepps00 it was generated against all countries. I could include more data if that would be helpful, just let me know what else you would like

[2020-07-08 22:05] stepps00 opened #1865 "Duplicate Rosarito"
https://spelunker.whosonfirst.org/id/101993581/
https://spelunker.whosonfirst.org/id/1125941883/

Duplicate locality records.

[2020-07-09 13:01] missinglink opened #1866 "hierarchy self-references"
I noticed this issue today where [1175615707](https://raw.githubusercontent.com/whosonfirst-data/whosonfirst-data-admin-za/master/data/117/561/570/7/1175615707.geojson) (`"wof:placetype": "locality"`) has `"locality_id": 101928453` in the hierarchy.

I was expecting the `locality_id` to be `1175615707` (equal to the ID of the feature) since it's in the `locality` placetype.

I can fix these, is it

[2020-07-09 19:08] thisisaaronland commented on #1866
Yes (it should be a self-reference).

[2020-07-14 17:14] orangejulius opened #1867 ""Southern Tip" neighbourhood on Liberty Island"
When debugging a recent [Pelias issue](https://github.com/pelias/api/pull/1438#issuecomment-636086478) I came across the neighbourhood [Southern Tip](https://spelunker.whosonfirst.org/id/85869681/):

![Screenshot_2020-07-14_10-10-57](https://user-images.githubusercontent.com/111716/87455456-56425c80-c5ba-11ea-862b-48c491344eac.png)

I don't think this is a real neighbourhood. It comes from Zetasha

[2020-07-14 17:18] nvkelso commented on #1867
Tilezen skips is_funky neighbourhood records for display on tiles. I can see you not including them in PIP hierarchy generation, but still including them in search result lists? When we know a place is wrong we deprecate it, but when it seems odd but we can't verify one way or another in time allotted then it's marked thus.

[2020-07-14 18:07] stepps00 commented on #1867
Here's the Liberty Island neighbourhood that represents this area: https://spelunker.whosonfirst.org/id/907131683/

I'm fine with keeping the "Southern Tip" neighbourhood as-is since it's been flagged as funky, but it could use a new label centroid.

[2020-07-14 18:10] stepps00 opened #1868 "Flag Liverpool, England county and locality as coterminous"
https://spelunker.whosonfirst.org/id/101750547/
https://spelunker.whosonfirst.org/id/1360698971/

These records represent the same "Liverpool" - let's flag them as coterminous as we do with other, similar cases.

[2020-07-14 18:11] orangejulius commented on #1867
Great. I swear we've had the `is_funky` discussion within Pelias many times, but I just opened https://github.com/pelias/whosonfirst/issues/513 to resolve it in a recorded discussion. So  we're fine if there are no changes to this record in WOF.

[2020-07-14 18:26] #1868 closed

[2020-07-15 19:03] stepps00 commented on #1273
Updating neighbourhoods in Mexico City seems like a decent starting point to bring in INEGI data.

Settlement coverage visualized (~5.6k features): <img width="907" alt="Screen Shot 2020-07-15 at 11 57 16 AM" src="https://user-images.githubusercontent.com/18567700/87584457-662d6f80-c692-11ea-9ff3-c93c36217490.png">

Municipality coverage visualized (80 features):
<img width="822" alt="Screen Shot

[2020-07-15 19:13] justinelliotmeyers commented on #1273
@stepps00 where is this coming from? I uploaded these:
https://revolutionarygis.wordpress.com/2019/02/20/barrios-de-ciudad-de-mexico/
https://revolutionarygis.wordpress.com/2019/12/26/colonias-de-mexico/

[2020-07-15 19:22] stepps00 commented on #1273
@justinelliotmeyers nice - this is a subset of the colonias shapefile from `datamx` that you linked to. I believe it was previously (still?) hosted by INEGI, too.

It would be great to eventually fold the full shapefile into WOF for full placetype coverage.

[2020-07-16 01:14] stepps00 commented on #25
Closing in preference of #1825 and #1550.

[2020-07-16 01:14] #25 closed

[2020-07-16 15:41] justinelliotmeyers commented on #1856
@Guilherme-B SNIT

@stepps00 potential new data! https://revolutionarygis.wordpress.com/2020/07/16/localidades-de-costa-rica/  I did not check license.

[2020-07-16 22:54] #1550 closed

[2020-07-17 11:32] Guilherme-B commented on #1856
Great news! I had stumbled upon that blog as well, especially since there is data for plenty of countries. Did you manage to find a contact button? Can't seem to find one available.

[2020-07-17 19:42] stepps00 opened #1869 "Add/verify population data on continent records"
Most continent records are missing `wof:population` and `wof:population_rank` values, let's add them when missing and verify if present.

- https://spelunker.whosonfirst.org/id/102191577/
- https://spelunker.whosonfirst.org/id/102191575/

[2020-07-18 04:28] ertejaspatel opened #1870 "Not able to generate metafiles"
First of all I would like to **thank you** for such amazing work.

I am trying to get a hierarchy of administrative data from [https://github.com/whosonfirst-data/whosonfirst-data-admin-in](https://github.com/whosonfirst-data/whosonfirst-data-admin-in)
and unsure of how to go about getting it.

I suspect by generating metafiles, I may get that.

running `make metafiles` from the root directory thr

[2020-07-18 20:42] vicchi opened #1871 "Update UK Admin Boundary Polygons"
See right at the very end of this issue for background ...

## Rationale

The UK admin boundary polygons are somewhat venerable and a little bit ... _shonky_ in places, with a lot of them originating from Quattroshapes. This issue is the start of a proposal to refresh and update UK admin geographies and to keep them up to date, or at least more up to date-er than they currently are.

## Data Sourc

[2020-07-18 21:01] vicchi commented on #1871
Updated with admin diagram which I forgot to attach. Duh

[2020-07-19 06:25] tomtaylor commented on #1871
Hi @vicchi! 👋 I am definitely in favour of this - would be great to get the UK in better shape.

[2020-07-20 08:46] missinglink commented on #1871
Potentially related to this https://github.com/whosonfirst-data/whosonfirst-data/issues/1792 which discusses the 'higher level' places and could do with a review from someone who lives there ;)

[2020-07-20 18:56] tomtaylor commented on #1792
OK, I'll bite. (I'm British!)

# The easy bits

## [United Kingdom](https://spelunker.whosonfirst.org/id/85633159/) (country)

* `eng_x_unknown` of GB and GBR is weird, those should be removed
* `eng_x_variant` of British, English, Scottish, Welsh, Unitedkingdom, Isobrittania, should probably also be removed.
* I'm not qualified to assess the other translations!

## [England](https://spelunker.who

[2020-07-21 15:38] #1869 closed

[2020-07-21 18:40] #1867 closed

[2020-07-21 21:11] #1865 closed

[2020-07-22 16:06] straup commented on #1792
Sorry to take so long to wade in to this.

A few quick observations:

* The reason that the `wof:country` property exists alongside, and sometimes differs from, `iso:country` is precisely to address the sometimes weird way that ISO looks at the world. The inclusion of `iso:country` is not an endorsement of their worldview only a reflection of it. ISO codes are nearly ubiquitous so their inclusion

[2020-07-22 16:09] straup commented on #1871
@vicchi I think there is value in your approach, if only to understand better where the stress points are.

Having a methodology, not to mention a toolchain, for defining the rules by which "authoritative" datasets can be managed and merged in to WOF would be useful.

[2020-07-22 19:04] vicchi commented on #1792
I'll also bite and am apparently also British, or possibly English ...

Basically it's complicated because of politics and history, even to this day, so taking a (geographically) top down approach ...

## Geographic Island Groups
* British Isles ... The islands of Great Britain, Ireland, the Isle of Man, the Hebrides and over 5000 other islands. Can also include the islands that comprise the Chann

[2020-07-22 19:04] vicchi commented on #1792
See also [Great Britain vs. The United Kingdom vs. The British Isles](https://maps.geotastic.org/great-british-map/)

[2020-07-22 19:50] nvkelso commented on #1792
Lots of great discussion here :)

`empire` in the WOF sense associates `countries` and related `dependencies`. Perhaps a poor word to use for that placetype, but that's what we've got. An overly generic way to think about this is what color passport do people from these places have – if it's same or variation on theme then they are associated.

There's been discussion of adding a `colloquial` plac

[2020-07-22 20:19] vicchi commented on #1792
IIRC ... GeoPlanet _used_ to have an umbrella like concept of _belongs-to_ which was used to group places which were "members" of a colloquial reference, at a macro level such as the (contentious) British Isles and at a micro localised level such as _the home counties_, historically those counties in the UK which surrounded London. Some of those counties, Middlesex for example, no longer formally

[2020-07-23 13:08] missinglink commented on #1509
We had an issue come in today via email related to coverage of AUS suburbs in WOF.

More specifically the issue was with [Fyshwick](https://spelunker.whosonfirst.org/id/85771247/) being represented as a point (via yerbashapes).

After a little bit of digging I found the [OSM record](https://www.openstreetmap.org/relation/6830639) is sourced from `abs.gov.au` under the [Creative Commons Attribution

[2020-07-23 16:10] missinglink commented on #1509
I've spun up a server so we can quickly compare [what's in WOF](http://asgs.spatial.demo.synergy.io/explore/ontology/admin/neighbourhood) (buffered) and [what's in the ABS data](http://asgs.spatial.demo.synergy.io/explore/ontology/admin/suburb).

Here's an example neighbourhood: http://asgs.spatial.demo.synergy.io/explore/place/asgs/20918

From there hit PIP at the top:
<img width="349" alt="Scree

[2020-07-23 16:33] straup commented on #1792
I can see the need for _something_ but I am hesitant to add another placetype unless there's a way, conceptually, to ensure that it captures more than a single use case. For example, I am wondering whether we can sacrifice (deprecate) one place type in favour of this imagined new placetype.

For the purposes of discussion let's just say the new placetype is called `colloquial` setting aside the qu

[2020-07-23 18:02] nvkelso commented on #1792
`microhood` has a small number of places (often with dubious quality / not reputation safe content) while `postalcode` is a essential part of any mapping stack and has 100s of thousands of records in most countries – even if few of them in WOF have polygon geometries or accurate point geometries currently.

I think it's fine to add `colloquial` as there are obvious use cases and we've discussed it

[2020-07-23 21:14] stepps00 commented on #1863
@missinglink - I'll go ahead and take care of this case as a one-off and link it to the issue.

I can also craft a script to check for more cases, but let me know if you do see this occur in other records.

[2020-07-23 21:17] stepps00 commented on #1870
Hi @ertejaspatel - thanks for the issue.

It has been some time since we've worked with the Who's On First metafiles. Perhaps @thisisaaronland has some pointers to get the metafiles up and running locally for the `whosonfirst-admin-data-in` repo (something to do with the `whosonfirst-placetypes` repo?).

[2020-07-23 21:21] stepps00 commented on #1866
@missinglink - the best way to approach this IMO would be to re-PIP the affected records, so they can gain new (correct) hierarchies.

I can craft a script to crawl the admin repos to catch all cases, then index the records following [this guide](https://github.com/whosonfirst/whosonfirst-cookbook/blob/master/how_to/setting_up_pip_service.md) to fix. If you. already have a list of affected records

[2020-07-23 23:07] stepps00 commented on #1792
Lots of great discussion here, jumping in just to add my thoughts (_not_ British, so less familiar with specifics than others here...):

Who's On First maintains a [mz:hierarchy_label](https://github.com/whosonfirst/whosonfirst-properties/blob/master/properties/mz/hierarchy_label.json) property on administrative records, which indicates whether or not a geocoding software like Pelias should includ

[2020-07-24 16:34] straup commented on #1792
I am willing to punt on including postal codes in any decisions we make here.

I think that deprecating the `microhood` place type in favour of `colloquial` is the best way to move forward, today. We don't end up with any _more_ place types, the impact on the existing dataset is minimal and we have something that can accommodate more uses cases than not (and that can deal with today as evidenced b

[2020-07-28 13:27] HadiSDev opened #1872 "Copenhagen sections have wrong names"
Copenhagen Municipality is called "Københavns Kommune" in danish, however, in the dataset, it suggests the English name as the danish name:
https://spelunker.whosonfirst.org/id/1159297727/

![image](https://user-images.githubusercontent.com/10367624/88664834-f8dffc80-d0dd-11ea-866b-1ff900bac620.png)

[2020-07-28 17:31] nvkelso commented on #1872
I'm not sure why it's in English there, might be an artifact of how the data was imported? But we recommend using the localized `name` properties instead. Is it an issue there? @stepps00 for some 👀 .

[2020-07-28 18:56] stepps00 commented on #1872
Hi @HadiSDev - thanks for the issue.

The properties shown in your screenshot are derived directly from the [`dk-geodk`](https://github.com/whosonfirst/whosonfirst-sources/blob/master/sources/dk-geodk.json) source. I agree that the source data suggests the Danish name is "Copenhagen" for this place, which does seem odd. I can take a look at the source data files and adjust if a mistake was made du

[2020-07-28 23:50] stepps00 opened #1873 "Use PIP tools to update hierarchies and parent_ids in postalcode-gb repo"
As a follow-up to https://github.com/whosonfirst-data/whosonfirst-data-postalcode-gb/pull/5, let's update `wof:parent_id` and  `wof:hierarchy` properties of records in that repo using the PIP tools/indexed admin data.

[2020-07-29 20:10] stepps00 opened #1874 "Missing locality record for Siddipet City, India"
https://en.wikipedia.org/wiki/Siddipet

WOF is missing a record for this place, let's add it to the [admin-in](https://github.com/whosonfirst-data/whosonfirst-data-admin-in) repo.

[2020-07-31 16:48] orangejulius opened #1875 "Duplicate US Localities"
We're running some new types of bulk address tests, and in the process are sometimes coming across some duplicate records.

Here's some, identified manually. I hope we can come up with a way to automate finding a bunch more.

| City name | Proposed kept record | Proposed deleted record |
| --- | --- | --- |
| Litchfield Park, AZ | https://spelunker.whosonfirst.org/id/85917495/ | https://spelunker.

[2020-07-31 21:53] nvkelso commented on #1875
Nice! Agree those are dups, keep in coming :)

[2020-08-03 06:59] emacgillavry commented on #1851
@stepps00 have learned a lot over the last couple of weeks in getting a reasonable WOF.db together for the Netherlands. Through trial and error,I learned that treating *wijken* as boroughs is not the way to go as these are weighted equally as localities. Will have another go trying to label the *wijken* as macrohoods.

Also, I found that sometimes localities and localadmins are conflated into one

[2020-08-03 19:59] stepps00 opened #1876 "Rework gn properties"
https://github.com/whosonfirst/whosonfirst-properties/tree/master/properties/gn

This issue came up when [updating admin records](https://github.com/whosonfirst-data/whosonfirst-data-admin-ee/pull/11) in Estonia. WOF has a few different properties using the `gn:` prefix to represent the same source property in GeoNames.

Examples include:
- `gn:country` and `gn:gn_country`
- `gn:population`, `gn:g

[2020-08-03 23:00] stepps00 commented on #1851
Thanks for the update, @emacgillavry

Can you describe what you mean by "weighted equally as localities" a bit more? Do you mean this with respect to the actual administrative structure of wijken in the Netherlands? Or is this comment referencing the way you're using the WOF data?

Feel free to share a download link to a copy, if you're able to host it online. Otherwise, we've had contributors con

[2020-08-04 08:28] emacgillavry commented on #1851
In WOF, localities and boroughs are equally important, I found. Both in `lastline` and when importing polylines, boroughs and localities that share the same name are picked, (whichever is closest?).

In the Netherlands, *wijken* are a **statistical** subdivision a *gemeente* (localadmin), whereas *woonplaatsen*  are an **administrative** subdivision of *gemeente* (localadmin). *buurten* (neighbour

[2020-08-04 08:52] emacgillavry commented on #1851
In WOF, localities and boroughs are equally important, I found. Both in `lastline` and when importing polylines, boroughs and localities that share the same name are picked, (whichever is closest?).

In the Netherlands, *wijken* are a **statistical** subdivision a *gemeente* (localadmin), whereas *woonplaatsen*  are an **administrative** subdivision of *gemeente* (localadmin). *buurten* (neighbour

[2020-08-04 23:36] stepps00 commented on #1851
Let me reply to this issue with more detail once I have a chance to dive into your db file.. but we'd prefer to keep the WOF placetype <> Netherlands admin divisions as-is, whenever possible.

Without diving into the suggestions too deeply, it does look like WOF already maintains the _wijken_ as macrohoods.

[2020-08-05 18:30] #1874 closed

[2020-08-05 23:36] stepps00 opened #1877 "Update the Greek names in the Athens locality record"
https://spelunker.whosonfirst.org/id/1175612731/

WOF stores the following Greek names in the Athens locality record:

[code]

The preferred name is actually a transliterated form of the English "Athens" name, so we should update the variant and preferred names. I'd suggest:

[code]

Though we do have the ability to [store "script" and "region" variants](https://github.com/whosonfirst/whosonfirst-

[2020-08-06 00:32] nvkelso commented on #1877
Second example works for me.

[2020-08-06 14:21] justinelliotmeyers opened #1878 "New Zealand Localities"
https://github.com/justinelliotmeyers/NEW_ZEALAND_FIRE_SERVICE_SHAPEFILE_DATA

@nvkelso enjoy! This took me years to get...

[2020-08-06 16:50] #1825 closed

[2020-08-06 23:22] nvkelso commented on #1878
Nice!

@missinglink does this jive with your local knowledge?

[2020-08-07 02:02] justinelliotmeyers commented on #1878
@nvkelso I have three contacts there. All confirm names, neighborhood data, and official Maori names that have been updated. This data is the cream of the crop. Like I said, took me years to get it.

[2020-08-10 17:49] nvkelso commented on #1878
The ZIP archive has file inside it that also have `.zip` extensions and looks like split into segments that are ~10 MB each. @justinelliotmeyers what software did you use / suggest using to extract the contents? Normally macOS operates on ZIPs fine but it's barfing on these.

![image](https://user-images.githubusercontent.com/853051/89813816-160dc580-daf7-11ea-8e65-03f9faf3f099.png)

[2020-08-10 17:50] justinelliotmeyers commented on #1878
https://data.linz.govt.nz/layer/104830-fire-and-emergency-nz-localities/

[2020-08-10 18:08] nvkelso commented on #1878
Looks great, jives with my trip there.

Two notes:

- Neighbourhoods / macrohoods / boroughs in the big cities would need to be dissembled.
- Water areas are included (like around Picton) where the Arm is a super locality with different reaches and bays as localities. Not wrong, but also not standard.

Some screenshots:

![image](https://user-images.githubusercontent.com/853051/89815451-aea54500-d

[2020-08-10 18:51] vicchi commented on #1871
@straup @tomtaylor @stepps00 @missinglink @nvkelso @orangejulius ... so I've been busy ...

With the caveat of "_it's complicated because history, geography, politics and devolved governmen_t" I've tried to fit the "not really hierarchical in places" geography of the United Kingdom into a "_sort of hierarchy with lots of edge cases_" hierarchy.

This is also a first pass at working out how UK admi

[2020-08-10 20:53] stepps00 commented on #1878
Thanks @justinelliotmeyers, this data looks great.. and has a `CC BY 4.0` license:

[code]

[2020-08-10 21:41] justinelliotmeyers commented on #1878
Kia ora 🇳🇿

[2020-08-11 01:47] #1877 closed

[2020-08-11 12:37] vicchi commented on #1871
So where I wrote _I have no idea how to handle this right now_ ... after thinking some more I have _some_ suggestions on how to handle these, though they may not be workable or even right.

## Historic Counties

Officially no longer in use, most were killed off in 1965, but despite this they are still widely in use as an unofficial part of addresses. Officially, they're not part of the Royal Mail

[2020-08-11 16:35] nvkelso commented on #1871
We've settled on having `postalcode` records carry the pseudo locality name instead of overloading the true meaning of locality. See https://github.com/whosonfirst-data/whosonfirst-data/issues/202#issuecomment-409306352 and later comments.

_Still digesting the rest..._

[2020-08-11 20:51] vicchi commented on #1871
@nvkelso The starting point was to use `pelias/lastline` as a work around for this, but then some (but not all) post towns don't have a one to one analogue with some other `localadmin` or `locality` place.

So I'm struggling to see how this would work in the hierarchy as, for example, postcodes starting `TW11` are part of the _post town_ of Teddington, whose boundary polygon is not equivalent to t

[2020-08-11 21:25] thisisaaronland commented on #1871
The UK is a good "What's going in there anyway..." use-case to filter and test things against. I'm sure other places could make things as interesting as the UK but that shouldn't take away from what the UK has accomplished ;-)

A couple quick comments:

* `edtf:cessation` represents when something stopped being "common currency", for lack of a better expression.  `etdf:deprecated` represents when

[2020-08-11 21:52] NickStallman opened #1879 "Missing newer Australian localities"
I've just noticed that 'Jordan Springs' a newer (and quite popular) suburb in Sydney is missing from WOF.
It was added to the official PSMA data 2017-08-10 so it's been around awhile now.

There's likely plenty of other newer suburbs that are missing.
Let me know if I can assist with identifying and fixing these.

[2020-08-11 23:18] stepps00 commented on #1879
Thanks for flagging, @NickStallman

Updating Australia admin data has been on my radar for quite some time.. I'm actually planning to spend some time on this issue this week and have prepped WOF exports to compare to the newest PSMA dataset. I'll flag you and @missinglink once I have something to share.

[2020-08-12 00:18] NickStallman commented on #1879
Awesome thanks @stepps00
Let me know if you need an extra hand for anything.

[2020-08-12 11:42] vicchi commented on #1871
In the spirit of _learning_ by doing, I've manually built a real world example, not falling into the usual trap of "my house as a good example", but a rather fine riverside pub in Cornwall I may have visited a few times.

Turns out it's a good example of how one physical location can have multiple addresses which don't agree with each other.

* The pub's web site says their address is `Pandora Inn

[2020-08-12 17:04] straup commented on #1871
"...how would we manage the historic version versus the current version (of a county)"

This is where the `wof:supersedes` and `wof:superseded_by` stuff comes in to play. The historic version never goes away, it is simply superseded by a contemporary record.

You might now be thinking: That means cascading updates to all the descendants of a record when it's superseded, doesn't it? The answer is:

[2020-08-12 17:14] vicchi commented on #1871
Will read and fully digest later but for now ..

I think multiple hashes in the `wof:hierarchy` will allow this to be modelled. I think as well as honouring this ..

Also ...

The more I think about this the more I agree and we _should_ be able to model this with a combination of additional hierarchy hashes without additional placetypes.

I _am_ still confused and fuzzy about how we can model post

[2020-08-12 19:12] justinelliotmeyers commented on #394
@nvkelso any traction on these two places?

[2020-08-12 20:37] nvkelso commented on #394
We haven't heard reports that the current data is egregious. What's your experience with the existing WOF data for neighbourhoods in these localities?

Do you know of any other sources besides those mentioned above?

[2020-08-12 20:53] justinelliotmeyers commented on #394
@nvkelso I am actually looking for these two datasets! I haven't done research yet. If I come across anything, I'll be sure to upload here. Thanks for the quick response!

[2020-08-12 20:58] nvkelso commented on #394
🙌

[2020-08-12 21:16] justinelliotmeyers commented on #394
I called Dallas 911 GIS - they don't have it... always fun calling police asking for data!

[2020-08-13 08:04] vicchi commented on #1871
@straup So based on this ...

I assume this means there isn't any tooling currently to

* impute a hierarchy given a centroid, so a sort of point in polygon query tool that say "find me all documents with a boundary polygon that this point falls into" ... if not, then I'm thinking either an ES `geo_polygon` query might help, or I go full on and push all the `wof:id` and geometry polygons from the

[2020-08-13 08:10] vicchi commented on #202
@stepps00 Bumping on your April 16th bump ... did you make any progress on or work out what a WOF postcode place would look like for this? If so, would be good to use as a starting reference point for UK postal towns, as being discussed over at #1871

[2020-08-13 17:02] thisisaaronland commented on #1871
There are parts of the tooling but like a lot of things they are incomplete. Specifically:

* There is no single monolithic spatial index for the entire dataset. This is largely driven by economic concerns.

* There are tools for indexing slices of the data spatially, notably https://github.com/whosonfirst/go-whosonfirst-pgis and https://github.com/whosonfirst/go-whosonfirst-mysql (MySQL 5.7+ has

[2020-08-13 19:24] straup commented on #1871
FYI: https://github.com/whosonfirst/py-mapzen-whosonfirst-hierarchy/releases/tag/v2.0.0

[2020-08-13 20:11] vicchi commented on #1871
If I get to needing that and you lack bandwidth, I'll give it a crack. I am no Python expert but slow process on bringing WOE back to life (yes, that's still going on in the background) has given me enough Python-fu to at bring some P2 scripts into the P3 fold. Heck, I've even written some (WOE) modules which seem to work and install and don't crash.

Email to follow ...

[2020-08-13 23:22] stepps00 opened #1880 "Investigate statistical, development and economic regions"
In some countries, top-level regions are grouped into development, statistical, and economic regions. Some examples:

- [Development Regions](https://en.wikipedia.org/wiki/Development_regions_of_Romania) in Romania
- [Statistical Regions](https://en.wikipedia.org/wiki/NUTS_statistical_regions_of_Turkey) in Turkey
- [Economic Regions](https://en.wikipedia.org/wiki/Economic_regions_of_Russia) in Rus

[2020-08-13 23:32] stepps00 commented on #1798
It's been a few months since updating these docs.. I'll work on updating both with the most recent data changes and summaries soon.

[2020-08-13 23:45] stepps00 commented on #394
Not full datasets, but potentially useful starting points (in addition to the sources above):

- https://mapit.fortworthtexas.gov/#Downloads
  - The "Neighborhood Organizations" includes some neighbourhood/microhood data
- [Click that Hood - Dallas](https://github.com/codeforamerica/click_that_hood/blob/master/public/data/dallas.geojson)
  - [License](https://github.com/codeforamerica/click_that_h

[2020-08-14 00:00] stepps00 commented on #202
@vicchi this is still in progress, but something I should pick back up and merge into WOF.. I'll craft a PR in the `whosonfirst-data-admin-us` repo that gives an example of the property proposal and flag you.

I also owe a comment or two in #1871 :eyes:

[2020-08-14 20:10] justinelliotmeyers commented on #394
http://peopleorganizingplace.com/know/

[2020-08-16 22:04] Guilherme-B commented on #1856
Just an update: the datasets shared in [ArcGis](http://daticos-geotec.opendata.arcgis.com/datasets/741bdd9fa2ca4d8fbf1c7fe945f8c916_0) are distributed under a Public license, which, according to [creativecommons](https://creativecommons.org/share-your-work/public-domain/pdm/) gives you free right of usage.

[2020-08-17 10:53] missinglink commented on #1878
Yeah this is great, looks tip top to me 🥝

I haven't found an Open data source as good as this which covers, the Hauraki Gulf, for instance.

<img width="901" alt="Screenshot 2020-08-17 at 12 30 23" src="https://user-images.githubusercontent.com/738069/90387148-f261f680-e085-11ea-9f2c-3968ee3ecc88.png">

A huge improvement over what we currently have:
https://spelunker.whosonfirst.org/id/101916761

[2020-08-17 11:22] missinglink commented on #1691
This issue will be resolved by https://github.com/whosonfirst-data/whosonfirst-data/issues/1878

See https://github.com/whosonfirst-data/whosonfirst-data/issues/1878#issuecomment-674811266

[2020-08-17 12:02] justinelliotmeyers opened #1881 "belize data"
https://revolutionarygis.wordpress.com/2020/08/17/belize-2020/
@stepps00 @nvkelso
enjoy ;)

[2020-08-17 12:06] justinelliotmeyers commented on #1880
![image](https://user-images.githubusercontent.com/5324316/90394297-6db0b180-e060-11ea-8162-b87eb31946d0.png)

@stepps00 fresh data amigo!
https://ec.europa.eu/eurostat/web/gisco/geodata/reference-data/administrative-units-statistical-units/nuts

[2020-08-17 15:57] nvkelso commented on #1880
That's a great resource, but we must use caution:

Most of these are groupings of placetypes already in WOF in the clear, so we can use Eurostat as reference to do our own groupings.

[2020-08-17 15:58] nvkelso commented on #1881
So many islands and lakes! :)

[2020-08-17 16:32] justinelliotmeyers commented on #1880
@nvkelso yikes! If I see it somewhere else with a more friendly license, I will upload. Sorry about that

[2020-08-17 17:28] stepps00 commented on #1881
Nice!

Data downloads at source: https://portal.bnsdi.gov.bz/meta-data

I can dig into this more when we start working with the data, but the closest thing to a license that I can see is the main Disclaimer (same as in your repo `metadata.txt`).. nothing specific to each data file.

[code]

[2020-08-18 19:17] stepps00 commented on #1845
@thisisaaronland - this issue should be resolved now, I just pushed commits to ~100 per-country admin repos to fix `wof:id` string values in alt files. I'll crawl repos once more to confirm, then close.

[2020-08-18 21:01] thisisaaronland commented on #1845
Huzzah!

[2020-08-18 21:01] #1845 closed

[2020-08-18 21:01] stepps00 commented on #1879
I've had some time to compare what "current" records are being maintained in WOF and what data is in the newest PSMA files.

For context, we did update various admin records in Australia via #218, but there have been follow-up issues (like this one) and PRs, suggesting more work is needed to update WOF admin records in the country. #218 introduced new macrocounties and geometries for existing reco

[2020-08-18 21:56] NickStallman commented on #1879
Hey @stepps00
So the key layers that need attention are:

*county/local government areas* - There has been quite a lot of LGA merging and shuffling around over the last few years so if the boundaries haven't been updated to match PSMA then there will be a lot that need to be removed/superseded and lots of geometry will need updating.

Just as a practical example, the LGA where I live was affected

[2020-08-18 21:58] NickStallman commented on #1879
I'm not sure what you mean by this? macrocounties shouldn't impact us importing PSMA localities to WOF localities at all. macrocounties should actually be a perfect superset of the localities - so no suburbs are half in and half out of a macrocounty.

[2020-08-18 23:05] stepps00 commented on #1879
Thanks for the replies!

@NickStallman - I'll reach out separately from this issue to sync with you again. It would be great to spec out the localadmin and locality changes, neighbourhoods in the urban areas, and review a few addressing examples.

[2020-08-19 00:08] stepps00 commented on #1845
Confirming this is fixed with the most recent commits to `master`.

[2020-08-19 01:05] justinelliotmeyers opened #1882 "Belarus"
![by_2020](https://user-images.githubusercontent.com/5324316/90580305-84f1bb00-e196-11ea-9da4-fbae417b1556.jpg)

https://revolutionarygis.wordpress.com/2020/08/19/%d0%bd%d0%b0%d1%81%d0%b5%d0%bb%d1%91%d0%bd%d0%bd%d1%8b%d1%85-%d0%bf%d1%83%d0%bd%d0%ba%d1%82%d0%be%d0%b2-%d0%b1%d0%b5%d0%bb%d0%b0%d1%80%d1%83%d1%81%d0%b8/

[2020-08-19 05:29] nvkelso commented on #1882
Using Google Translate:

So let's reach out to them and see if including it in WOF is can be granted permission.

[2020-08-19 12:59] justinelliotmeyers commented on #1882
@nvkelso just emailed: info@gki.gov.by

[2020-08-20 11:55] justinelliotmeyers opened #1883 "Chile Source"
Chile is missing tons of places. Open data here:
ine.cl
http://geoine-ine-chile.opendata.arcgis.com/

I can give you the backdoor in which lands you to the localidades too - some of the datasets have populations

[2020-08-20 11:57] justinelliotmeyers opened #1884 "Czechia Source"
@nvkelso @stepps00
here is the holy grail to Czechia
https://www.arcdata.cz/produkty/geograficka-data/arccr-500

[2020-08-20 11:59] justinelliotmeyers opened #1885 "Hungary"
http://inspire.fomi.hu/inspire/atom/data/AdministrativeUnits_hu_v1.1.zip

[2020-08-20 13:58] missinglink commented on #1842
Just checked this today and the data looks fixed to me 👍

The spelunker is a bit misleading, I think maybe the data is out-of-date?

<img width="359" alt="Screenshot 2020-08-20 at 15 58 10" src="https://user-images.githubusercontent.com/738069/90779306-f39d5880-e2fd-11ea-8e7a-13e04fd748ab.png">

[2020-08-20 18:04] nvkelso commented on #1884
Neat!

I have family from there, 3 or 4 country names ago ;)

[2020-08-20 18:19] stepps00 commented on #28
See also: http://inspire.fomi.hu/inspire/atom/data/AdministrativeUnits_hu_v1.1.zip

Which seems to be populated from: http://inspire.gov.hu/geonetwork/srv/eng/catalog.search#/metadata/b9c3b9ca-75b0-4e06-b519-d0a85d4fe4ab

Licensing terms unclear.

[2020-08-20 18:21] stepps00 commented on #1885
Thanks @justinelliotmeyers!

Since we are already tracking Hungary updates in [a separate issue](https://github.com/whosonfirst-data/whosonfirst-data/issues/28), I'm going to close this out.. but I've added a comment to that issue with this source.

[2020-08-20 18:21] #1885 closed

[2020-08-20 18:41] justinelliotmeyers commented on #28
@stepps00 thanks for cleaning up that dup!!

[2020-08-20 18:50] stepps00 commented on #1884
Nice! Updating the [localadmin](https://spelunker.whosonfirst.org/id/85633105/descendants/?exclude=nullisland&placetype=localadmin) records in Czechia has been a "to do" item for some time.. nice to see data.

I just question the license terms for this dataset. `CC BY` equivalent? `CC BY SA`?

Licensing terms direct from source:

[code]

Roughly translated to:

[code]

[2020-08-20 21:41] stepps00 commented on #1883
Thanks @justinelliotmeyers - as long as there is a landing page on their site, we can scope it out for import into WOF. Some of these admin divisions would be great additions.

I'm having trouble finding license info for data on this site, though.. have you had any luck? If not, I'll reach out to them.

[2020-08-20 21:53] stepps00 commented on #1842
Oh nice, thanks for confirming!

Yeah, I think the Spelunker is out of date in this case. There's an open issue about that here: https://github.com/whosonfirst/whosonfirst-www-spelunker/issues/145

[2020-08-20 22:02] justinelliotmeyers commented on #1883
ill check around - http://geoine-ine-chile.opendata.arcgis.com/pages/publicaciones has excel files w names and pops we can back apply - I'll email/ tweet @ them

[2020-08-21 00:37] #1863 closed

[2020-08-24 17:18] stepps00 commented on #1866
I crawled the admin repos to find all cases, there are ~700 of them: [id_cc_hier_reference.csv.txt](https://github.com/whosonfirst-data/whosonfirst-data/files/5119263/id_cc_hier_reference.csv.txt)

I suspect most are related to superseding/PIP work gone awry. As I update records, I'll link PRs back to this parent issue.

[2020-08-25 23:39] justinelliotmeyers commented on #1883
@stepps00

'Por otro lado, le señalamos que los datos que se encuentran en el sitio web www.ine.cl son públicos y pueden utilizarlos para los fines que estimen convenientes, sólo debe mencionar como FUENTE: INE CHILE.'

[2020-08-26 01:08] stepps00 commented on #1883
_Nice!_

Roughly translating, it looks like that's a `CC BY` equivalent license.. will verify again before working with the data, though..

[2020-08-27 16:43] thisisaaronland opened #1886 ""Schönefeld To Become Part Of New Berlin Airport""
https://simpleflying.com/scho%cc%88nefeld-to-become-part-of-new-berlin-airport/

[2020-08-28 14:28] justinelliotmeyers commented on #1883
I had a chat with a guy on LinkedIn today - it's open. they do not have a formal statement saying this, but can be used. I did formally ask again in their official information request portal:

Your request has been entered into the State Transparency Portal for the National Statistics Institute (INE) on 08/28/2020 with the N °: AH007T0007071 . The confirmation of this entry has been sent to your e

[2020-08-31 17:21] justinelliotmeyers commented on #1878
@stepps00 awesome!! still working on the Chile license - will update asap - trying to keep you busy ;) lmk if you need anything else!

[2020-08-31 21:26] #1875 closed

[2020-08-31 22:58] #1862 closed

[2020-09-01 00:01] stepps00 commented on #1878
Agree with @nvkelso that there is some work to do around the `neighbourhood`/ `borough` placetypes and making sure we ditch some `type` values before import.

I need to investigate a bit more before crafting a PR, but my approach would be to:

- Ditch any feature with a `type` of "COASTAL BAY", "INLAND BAY", "LAKE", or "PARK_RESERVE"
- Dissolve remaining features on the `city_name` attribute. Matc

[2020-09-01 00:34] nvkelso commented on #1878
Some of the "bays" we could mark as neighbourhoods with `mz:landuse_aoi` = 1 so we have them but they don't get a map label?

[2020-09-01 08:38] missinglink opened #1887 "UK population estimates for neighbourhood/borough"
Heya,

We noticed that London Districts (wof:neighbourhood) don't have population estimates.
eg. [Putney](https://spelunker.whosonfirst.org/id/85789965/), [Clapham](https://spelunker.whosonfirst.org/id/85861663/)

Looking up one level in the hierarchy at London Boroughs (wof:borough) they also don't have population info:
eg. [Wandsworth](https://spelunker.whosonfirst.org/id/1158857251/), [Hackney]

[2020-09-01 13:52] missinglink commented on #1886
I believe Tegel will close around the same time, it was scheduled to close this year and then it wasn't, now with Covid maybe it is again, who can keep up 🤷‍♂️

[2020-09-01 13:54] missinglink commented on #1886
The new airport is named "Brandenburg Airport" and I believe it will replace Tegel and absorb Schönefeld (which is adjacent).

[2020-09-01 13:59] justinelliotmeyers commented on #1887
https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates/bulletins/annualsmallareapopulationestimates/mid2018/relateddata

[2020-09-01 14:19] missinglink commented on #1887
I saw those, theres so many that sounds similar it's very confusing.

[This one](https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates/datasets/lowersuperoutputareamidyearpopulationestimatesnationalstatistics) has stats for `Wandsworth` and then it drills down into 'Wards', it unfortunately only has the lower levels defined by their LSOA code.

AFAIK we don

[2020-09-01 14:19] missinglink commented on #1887
<img width="497" alt="Screenshot 2020-09-01 at 16 19 40" src="https://user-images.githubusercontent.com/738069/91863026-f2a9e680-ec6e-11ea-94fe-369ca8356db9.png">

[2020-09-01 14:27] justinelliotmeyers commented on #1887
OAs are at a lower level than the LSOAs. I'm just trying to help you get the lowest level census poly that could in theory help you build up a population dataset for London. There are a couple ways we could back apply an even distribution based on UPRN and how they fall in these. Its probably an hour or two worth of work.

[2020-09-01 14:33] missinglink commented on #1887
A few WOF records seem to have a corresponding GSS code such as the record for [Wandsworth](https://data.whosonfirst.org/115/885/725/1/1158857251.geojson) but it's unfortunately not very common?

<img width="313" alt="Screenshot 2020-09-01 at 16 32 13" src="https://user-images.githubusercontent.com/738069/91864702-d27b2700-ec70-11ea-8f83-048937ea5d22.png">

[2020-09-01 14:39] vicchi commented on #1887
@missinglink This is all very timely and fits into the (still in progress) work I'm going with WOF UK admin boundaries ... basically the key to all of this is adding in to `wof:concordances` the GSS code ... with the caveat that not all of the ONS data will make it into WOF.

So you can map ONS census geographies (OAs, MSOAs and LSOAs) to (electoral) wards, such as this mapping for LSOAs - https:/

[2020-09-01 14:45] missinglink commented on #1887
Aw shucks, why does this all have to be so complicated 😆

I think in the interim I might just spatially intersect the LSOA geometries (if I can find them) with the WOF geometries and distribute the head counts based on overlap percentage.

It's not super accurate but it'll fix our issue while we wait for the proper fix to land.

[2020-09-01 14:57] missinglink commented on #1887
hmmm... or not, that doesn't seem very accurate...

<img width="835" alt="Screenshot 2020-09-01 at 16 55 30" src="https://user-images.githubusercontent.com/738069/91867637-276c6c80-ec74-11ea-9a9b-8d526b174dc4.png">
vs. Wikipedia

<img width="299" alt="Screenshot 2020-09-01 at 16 56 39" src="https://user-images.githubusercontent.com/738069/91867648-2afff380-ec74-11ea-9987-0597ffa1d2b9.png">

[2020-09-01 15:04] justinelliotmeyers commented on #1887
map all uprns to OAs then back apply based on even distribution.

[2020-09-01 16:15] thisisaaronland commented on #1886
This is what we've got now:

* https://spelunker.whosonfirst.org/id/102549025/ (Berlin-Schonefeld International Airport)
* https://spelunker.whosonfirst.org/id/1360695651/ (Berlin Brandenburg Willy Brandt Airport)
* https://spelunker.whosonfirst.org/id/102548985/ (Berlin Tegel Airport)

[2020-09-01 16:33] missinglink commented on #1886
Oh interesting, I haven't heard to it referred to as Willy Brandt until now.

[2020-09-01 18:44] #1686 closed

[2020-09-02 15:20] justinelliotmeyers commented on #1887
will upload UPRNs when done doing join and analysis.

These are the OAs with 2018 estimates joined:
https://drive.google.com/file/d/1Sc2NZjWXPuKRVtH65kPjQKjiDKGRPAtO/view?usp=sharing

[2020-09-02 17:37] Guilherme-B commented on #1883
You are a beast @justinelliotmeyers !

[2020-09-03 17:10] stepps00 opened #1888 "Improve labels for regions of India"
As part of localization work through https://github.com/whosonfirst-data/whosonfirst-data/issues/1640 (India work [here](https://github.com/whosonfirst-data/whosonfirst-data-admin-in/pull/3)), various localized `label` properties were added to the region records of India.

An example record, for Uttar Pradesh: https://spelunker.whosonfirst.org/id/85672205/

[code]

Overall, these labels look good,

[2020-09-03 18:16] thismakessand opened #1889 "Incorrect region in the hierarchy on Kennett, MO"
The region in the hierarchy on all three of these records is Arkansas but it should be Missouri (the shapes and attributes appear correct otherwise):

Kennett, MO: https://spelunker.whosonfirst.org/id/85971121/
Dunklin County: https://spelunker.whosonfirst.org/id/102086175/
Independence Twp: https://spelunker.whosonfirst.org/id/404515999/

[2020-09-03 18:22] thismakessand commented on #1889
If the fix is just to update the region_id in the hierarchy on the three records and parent_id as well on the county record, then let me know and I'm happy to put in a PR.

[2020-09-03 18:26] nvkelso commented on #1889
@stepps00 can you look into why the hierarch is wrong? Does the PIP revGeo point need to be fixed?

[2020-09-03 18:47] stepps00 commented on #1889
Ah, interesting. This all stems from the [Dunklin County](https://spelunker.whosonfirst.org/id/102086175/), Missouri record. The centroid of that record falls _just_ outside it's geometry, giving it a hierarchy that (incorrectly) includes Arkansas.

Thanks for the issue, @thismakessand - we'll file a PR to fix shortly. Can I ask what project/work led you to finding this issue?

[2020-09-03 18:57] thismakessand commented on #1889
@stepps00  thanks!  I came across it while using the WOF admin polygons (via pelias pip-service) as a sanity check on some POI data I have (to verify my points are where they say they are).

[2020-09-04 14:04] thekuiperbelt commented on #1889
Hopefully Malden MO will also be resolved with this fix. Thanks all!
https://spelunker.whosonfirst.org/id/85971119/

[2020-09-04 14:04] missinglink opened #1890 "ID duplicated between xx and xy repos"
Heya,

We had a report today that an ID is duplicated between `xx` and `xy` repos:

- https://github.com/whosonfirst-data/whosonfirst-data-admin-xx/blob/master/data/890/452/243/890452243.geojson
- https://github.com/whosonfirst-data/whosonfirst-data-admin-xy/blob/master/data/890/452/243/890452243.geojson

This is having the unfortunate effect of triggering errors in code consuming the dist files w

[2020-09-04 14:05] justinelliotmeyers commented on #854
@nvkelso @stepps00 Merry Xmas!

![KR_2020_09](https://user-images.githubusercontent.com/5324316/92247942-f7041880-ee95-11ea-8da7-ff1d374bc712.jpg)

https://revolutionarygis.wordpress.com/2020/09/04/%ed%96%89%ec%a0%95%ea%b2%bd%ea%b3%84%ec%9d%8d%eb%a9%b4%eb%8f%99/

[2020-09-04 14:11] missinglink commented on #1890
This could be an error in how I'm bundling, to identify an alt geom I'm checking for `properties.src:alt_label` but that isn't present in a bunch of features such as this one:

https://raw.githubusercontent.com/whosonfirst-data/whosonfirst-data-admin-ee/master/data/101/911/715/101911715-alt-quattroshapes.geojson

Is there a more reliable way of detecting alt geoms?

[2020-09-04 14:17] missinglink commented on #1890
Here's a list of IDs that are showing up in the SQLite dist files with `is_alt=0` more than once:

I actually think there are two distinct issues going on here:
1. some IDs are being duplicates between repos
2. some alt geometries are missing the `src:alt_label` property (seems to be predominantly `admin-ee`)

[code]

[2020-09-04 16:27] stepps00 commented on #1889
Thanks @thekuiperbelt - the Malden, MO record also has the Dunklin County record in its hierarchy, so this record would be fixed as part of this work, too.

[2020-09-04 17:07] stepps00 commented on #1890
Thanks for the detail, @missinglink

This is interesting. I'm not sure why this record is populated in two different repos. Looks like the `XY` record was created at the time of the whosonfirst-data repo splitting into per-country repos. The `XX` record was created about a month later. I'll investigate and remove one of the records.

Looks like there are additional cases, too.. so I'll take a look

[2020-09-04 18:06] nvkelso commented on #854
Very exciting, thank you!

[2020-09-04 18:20] stepps00 commented on #854
Original source: http://data.nsdi.go.kr/dataset/20180927ds0059
Archived: https://web.archive.org/web/20200229042842/http://data.nsdi.go.kr/dataset/20180927ds0059

License is `CC BY`, data looks great.

[2020-09-07 11:39] missinglink opened #1891 "recent property fixes introduced invalid JSON"
Heya,

Thanks for fixing up the issues mentioned in https://github.com/whosonfirst-data/whosonfirst-data/issues/1890

Unfortunately when I went to check it today I found that some of the data are missing a comma in places, this means those docs are no longer valid JSON and so they're triggering parsing errors 😿

I started commenting on https://github.com/whosonfirst-data/whosonfirst-data-admin-ee/

[2020-09-07 11:40] missinglink commented on #1891
I didn't check the other PRs linked from that issue, could it be possible that they suffer the same issue?

<img width="901" alt="Screenshot 2020-09-07 at 13 39 42" src="https://user-images.githubusercontent.com/738069/92383987-9718a680-f10f-11ea-9d0e-46abfdaeae8e.png">

[2020-09-07 12:23] missinglink commented on #1891
I've opened a PR here https://github.com/whosonfirst-data/whosonfirst-data-admin-ee/pull/13

[2020-09-07 17:48] stepps00 commented on #1891
Thanks @missinglink - the other PRs you mention in https://github.com/whosonfirst-data/whosonfirst-data/issues/1891#issuecomment-688270014 do not include the same alt file issues. This issue was the result of me not properly validating the `admin-ee` PR before merging.

Thanks for filing https://github.com/whosonfirst-data/whosonfirst-data-admin-ee/pull/13. Your PR fixed this, so I'll close the is

[2020-09-07 17:48] #1891 closed

[2020-09-08 08:41] missinglink commented on #1890
Hi @stepps00, the bundling is all working again so I downloaded and checked the global file today, they're all fixed but one!

Unfortunately this one single record seems to have slipped through:

[code]

[2020-09-08 15:11] stepps00 commented on #1890
Yikes! Thanks for following up on this.. let me file an additional PR shortly and link it here.

[2020-09-08 16:44] #1890 closed

[2020-09-08 16:45] stepps00 commented on #1890
@missinglink - this should be complete now, but please ping the issue if you run into this again.

[2020-09-08 19:29] justinelliotmeyers commented on #1883
@stepps00 second official response:

Respuesta disponible para Solicitud N°INE-48722-C3Q0S8

Estimado/a Justin Meyers
Junto con saludarle, le informamos de acuerdo a lo solicitado:

"Hola! Que son los terminos de usar los datos aqui: http://geoine-ine-chile.opendata.arcgis.com/
Puedo usar en un producto comercial?"

La respuesta a lo solicitado, es la siguiente:
"'En atención a su consulta, le señ

[2020-09-08 19:31] justinelliotmeyers commented on #1883
I believe they do not have terms about how this data is used, only that it is public, and that the source must be mentioned. I was also told the same by a guy who works there who reached out to the head guy there, saying it is public,, you can use for whatever you want, but you must acknowledge the source as INE. Any thoughts or insight @nvkelso

[2020-09-08 21:27] nvkelso commented on #1883
Sounds like CC-BY equivalent to me.

[2020-09-08 22:45] #1888 closed

[2020-09-09 11:48] missinglink commented on #1890
Confirmed, all fixed now thanks!

[2020-09-11 23:51] stepps00 commented on #1848
This will be taken care of through https://github.com/whosonfirst-data/whosonfirst-data/issues

[2020-09-12 00:36] #1835 closed

[2020-09-12 00:39] #1720 closed

[2020-09-12 00:58] #1832 closed

[2020-09-12 18:17] desiderantes opened #1892 "Wrong name for Salgar"
There are 3 towns in Colombia Called Salgar:

-  [Salgar (Antioquia)](https://www.wikidata.org/wiki/Q1525126)
-  [Salgar (Atlántico)](https://www.wikidata.org/wiki/Q98756097)
-  [Puerto Salgar (Cundinamarca)](https://www.wikidata.org/wiki/Q1524761)

This DB gives the second one the name of the third one, and duplicates the name for counties (which do not exist)

[2020-09-14 16:29] stepps00 commented on #1892
Thanks @desiderantes - I think these are the WOF records you're referring to:

-  [Salgar (Antioquia)](https://www.wikidata.org/wiki/Q1525126): https://spelunker.whosonfirst.org/id/1108699999/
-  [Salgar (Atlántico)](https://www.wikidata.org/wiki/Q98756097): https://spelunker.whosonfirst.org/id/1343285443/
-  [Puerto Salgar (Cundinamarca)](https://www.wikidata.org/wiki/Q1524761): https://spelunker

[2020-09-14 17:09] desiderantes commented on #1892
The name should be "Salgar", and there's the old name "San Antonio de Salgar" which is still used sometimes.

[2020-09-14 17:13] #1744 closed

[2020-09-14 17:38] stepps00 commented on #1056
This will be taken care of through #1878.

[2020-09-17 16:42] #1892 closed

[2020-09-17 20:32] justinelliotmeyers commented on #1887
@missinglink were these useful?

[2020-09-17 23:58] justinelliotmeyers opened #1893 "greenland sources"
https://asiaq.maps.arcgis.com/

gets you to

https://kort.nunagis.gl/refserver/rest/services/NIN/by_bygd/MapServer
https://kort.nunagis.gl/refserver/rest/services/Grunddataregistre/Adresseregister_offentlig/MapServer
https://kort.nunagis.gl/refserver/rest/services/Klimaportal/Klimaportal_KystByBygd/MapServer

enjoy ;)

[2020-09-21 14:01] missinglink commented on #732
Possibly related: https://spelunker.whosonfirst.org/id/1126019647/
Expecting 'Mayotte' in the hierarchy, as a `dependency`?

[2020-09-24 00:35] stepps00 commented on #183
This file will fix a large part of this issue: [non-ascii-eng-translations.csv.txt](https://github.com/whosonfirst-data/whosonfirst-data/files/5272737/non-ascii-eng-translations.csv.txt)

This file contains English name translations for WOF records that currently have:
- non-ascii names
- no `name:eng_*` properties
- no other harvestable source property with a name (like a `ne:*` or `qs:*` propert

[2020-09-25 19:15] stepps00 commented on #1893
Thanks @justinelliotmeyers!

[2020-09-25 20:02] stepps00 commented on #1816
@soulsurfer4 - I've updated name properties in the "Neu Lokstedt" record you linked to in your initial comment in the PR (above). This will fix some issues you're seeing with the "Allermöhe" name, but there is additional work to do in WOF to update neighbourhoods and other placetypes in Hamburg.

I've updated the issue title so we can track additional updates here. There are two comments above tha

[2020-09-25 21:16] stepps00 opened #1894 "Update Hochzeitsfeier record"
Via https://github.com/whosonfirst-data/whosonfirst-data-admin-de/issues/27 / @RealDolos

https://github.com/whosonfirst-data/whosonfirst-data-admin-de/blob/master/data/420/784/285/420784285.geojson

Berlin-Wedding lists:

    "name:deu_x_preferred":[
        "Hochzeitsfeier"
    ],
    "name:deu_x_variant":[
        "Wedding",
        "Berlin-Wedding"
    ],
name:deu_x_preferred is what you get w

[2020-09-27 20:21] soulsurfer4 commented on #1816
Hi stepps00,
thanks for this update. I appreciate your effort to get things done.
best regards,
soulsurfer

[2020-09-28 07:25] missinglink commented on #1894
Possibly related: https://github.com/whosonfirst-data/whosonfirst-data/issues/799#issuecomment-304257029

[2020-09-28 18:39] nvkelso commented on #1894
Oh wow.

[2020-09-30 21:45] stepps00 commented on #1708
There is still work to do, but some progress to import these records here: https://github.com/whosonfirst-data/whosonfirst-data-admin-us/pull/83

[2020-10-01 11:03] missinglink commented on #1425
found some today:
- https://spelunker.whosonfirst.org/id/101842625/
- https://spelunker.whosonfirst.org/id/101842627/
- https://spelunker.whosonfirst.org/id/101842629/
- https://spelunker.whosonfirst.org/id/101842631/

[2020-10-01 14:46] #1750 closed

[2020-10-01 14:47] #1894 closed

[2020-10-01 20:09] stepps00 commented on #1864
Hey @henrylyne - I'm going to close this issue as a duplicate of https://github.com/whosonfirst-data/whosonfirst-data/issues/1425.. that issue will take care of all of the records you've listed above.

[2020-10-01 20:09] #1864 closed

[2020-10-03 23:14] justinelliotmeyers opened #1895 "Paraguay"
https://www.dgeec.gov.py/microdatos/cartografia-digital-2012.php

link at bottom is for todo el pais, so you dont need to dl everything separately 'eh

license:
https://www.dgeec.gov.py/microdatos/license.php

Enjoy @nvkelso @stepps00

[2020-10-05 19:27] justinelliotmeyers opened #1896 "Maldives"
![mv](https://user-images.githubusercontent.com/5324316/95122961-40f34f00-071f-11eb-9f8f-2fe0d7778172.jpg)

@stepps00 or @nvkelso if you guys find terms of use for this, lmk!!!!!
https://isles.gov.mv/Download/Index

[2020-10-07 14:11] SilvrDuck opened #1897 "Switzerland - Coastal municipalities have lakes as parent localadmin"
Hey,
While setting up a [pelias](https://github.com/pelias/pelias) instance for Switzerland, I noticed something peculiar. When looking up addresses close to _Lake Geneva_ (locally called _Lac Léman_), they would come with the `localadmin` of the lake rather than the municipality I’d expect. Digging deeper, the issue seemed to come from the _whosonfirst_ hierarchy.

# Concrete example

Take the ad

[2020-10-07 15:44] zifeo commented on #1897
Hey @stepps00, we are continuing the usage of WOF and just faced that issue. Does that sound something we could contribute/help? Is there a quick fix possible in the usage?

[2020-10-07 20:45] stepps00 commented on #1897
Thanks for the issue @SilvrDuck

There are a couple things to track here:
1. Some localities have "lake" features as their parent_id values and in their hierarchies
2. These "lake" features need to be QA'd to ensure the appropriate `mz` property flags are set appropriately

For the first item, if you were able to provide a file that has the `wof:id` value of any affected locality record, as well a

[2020-10-08 08:24] SilvrDuck commented on #1897
Thanks for your prompt answer @stepps00!

I’ve already done part of the work of identifying those. I will run a few more experiment to make sure the list is correct and comprehensive. I’ll get back to you when it is done.

[2020-10-08 18:46] SilvrDuck commented on #1897
Hey @stepps00

Here’s a csv of the `localities` that have a `localadmin parent` beeing a lake. Note that the lat/lon is the `lbl` field on whosonfirst. I visually checked them to see if they fell into the correct parent `localadmin`. It was the case for all **except Paudex which was on a lake**. This might be something else to correct. Below I replaced Paudex’s position with the corresponding `loc

[2020-10-08 21:49] stepps00 commented on #799
Noting that the `name:ceb_x_*` properties could also use a review. I'm of the opinion that we could probably ditch these names altogether, but I need to investigate a bit more.

Most (all?) of these names come from wikidata/wikipedia, and don't seem to be legitimate at all.

[2020-10-08 21:54] stepps00 commented on #1897
Nice, thank you! I'll take a look at these records soon and propose a PR with updates.

I'll flag both of you when that PR is ready for review.

[2020-10-08 22:58] stepps00 commented on #1878
Tracking the import of this data here: https://github.com/whosonfirst-data/whosonfirst-data-admin-nz/pull/12.

[2020-10-08 23:12] nvkelso commented on #799
They're from a robot that went wild.

[2020-10-09 06:23] missinglink commented on #799
Last I checked there were a lot of Latin translations in WOF (tens of thousands), which may signify a scholarly robot gone wild.

Pelias has historically imported all the WOF names, a while back I added a blacklist to prevent 'vol' and another one from entering the index

What I'm considering doing now is only importing translations from languages corresponding to the officially spoken languages o

[2020-10-09 07:23] missinglink commented on #1897
@SilvrDuck you may find this UI helpful
https://spatial.demo.geocode.earth/explore/pip#11/46.954605/7.394937

You can pan the map around to view WOF polygon coverage (desktop only).

[2020-10-09 08:24] zifeo commented on #1897
@stepps00 @missinglink Great thanks, is this fix something we could contribute ourself?

[2020-10-09 13:56] SilvrDuck commented on #1897
@stepps00 great, thanks. I’ll be waiting for the PR 👍

@missinglink thanks as well, I’ll take a look.

[2020-10-09 14:43] missinglink commented on #1897
FWIW this issue exists in OSM too and you can see the borders on the basemap:
- https://www.openstreetmap.org/relation/1702421#map=9/46.5884/6.6565
- https://www.openstreetmap.org/relation/1685017

<img width="471" alt="Screenshot 2020-10-09 at 16 43 09" src="https://user-images.githubusercontent.com/738069/95597111-8630bd00-0a4e-11eb-9e2e-e4ebf6f2c873.png">

[2020-10-09 16:41] nvkelso commented on #1897
Sometimes we have separate geoms for display and reverse geocoding. Technically the water portion is correct, but can be confusing to some end-users.

[2020-10-09 18:08] nvkelso commented on #799
It's WOF's responsibility to track all the facts.

We do recommend an "allow list" of languages when putting the data into production for operational reasons. Some people only support a single language, some 10, some 50, some 100. Up to your own implementation :)

[2020-10-09 18:08] nvkelso commented on #799
It's WOF's responsibility to track all the facts.

We do recommend an "allow list" of languages when putting the data into production for operational reasons. Some people only support a single language, some 10, some 50, some 100. Up to your own implementation :)

[2020-10-09 18:35] missinglink commented on #799
Yeah agreed, but there are still a lot of names in WOF which likely aren't fact such as Enawene Nawe and Volapük translations, it's really hard to tell which ones are reliable and which ones not.

There's also a fair bit of duplication, for instance the locality of Berlin has a German name of "Berlin" and also a Bislama name of "Berlin" (a language of 10,000 native speakers) which makes me wonder

[2020-10-09 19:10] thisisaaronland commented on #799
Volapuk is a registered IANA language:

https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry

It is not for WOF to decide whether or not someone's language is reliable or valid, no matter how many native speakers there are or are not. Those decisions, and interpretations, are left consumers of the data precisely because there is not a single interpretation and/or the

[2020-10-09 19:33] missinglink commented on #799
It seems unlikely to me that the ~20 people who still speak Volapuk have contributed 52729 translations to WOF.

[2020-10-09 20:03] nvkelso commented on #799
When there is a bot in Wikidata that's run amuck, like with `ceb` we will revert those names. But 💯 to what @thisisaaronland said on everything else.

[2020-10-09 20:56] missinglink commented on #799
This is actually a really interesting read :)
https://en.wikipedia.org/wiki/Volap%C3%BCk_Wikipedia

[2020-10-09 21:23] #1699 closed

[2020-10-09 21:44] thisisaaronland commented on #1844
@nigelhorne This is still missing some data (that is currently being backfilled) but FYI:

[code]

[2020-10-10 09:35] SilvrDuck commented on #1897
Sure, the water portion is correct. The issue was that when reverse geocoding an address on land, the water portion was considered to be the municipality instead of the land one.

[2020-10-12 12:22] poshest opened #1898 "Duplicate preferred names"
Are there supposed to be multiple preferred names for a given names id for a given language (and region?)? Surely only one should be preferred and the rest moved to type 'variant'?

[code]

[code]

Two examples of duplicates taken from the list above.

[code]

[2020-10-12 16:58] stepps00 commented on #1898
Thanks for the issue @poshest

WOF does allow for more than one preferred name value, but we've settled on trying to maintain a single preferred name per language.

I'm noticing that many of the examples you've listed are admin records we maintain for places in the Netherlands. These records were updated through https://github.com/whosonfirst-data/whosonfirst-data/issues/837. In these cases, it lo

[2020-10-13 11:01] hugovk commented on #1507
We can close this now. 👍

https://whosonfirst.org/blog/2019/05/09/changes/

[2020-10-13 11:01] #1507 closed

[2020-10-13 23:14] stepps00 commented on #1898
This issue has been resolved through the linked PRs above, closing.

[2020-10-13 23:14] #1898 closed

[2020-10-14 10:32] zifeo commented on #1897
I think there is a bit of confusion, do we precisely know what is the issue? Currently querying a lat/lng can return a lake as a localadmin, instead of the correct one. Is that only relate to the correctness `mz` flag or could something else be in the middle (where we can also help to fix)?

[2020-10-14 14:22] poshest commented on #1898
Wow, that was fast! Thanks Stephen! :)

[2020-10-14 19:25] stepps00 commented on #1897
Two issues here:
- Some localities have "lake" features as their parent_id values and in their hierarchies
- These "lake" features need to be QA'd to ensure the appropriate mz property flags are set appropriately

To fix, I'm going to use the list of records you sent over to hand-curate new centroids for some records that will be used during the hierarchy building process. These new centroids shou

[2020-10-15 11:00] mihaicosareanu-bolt opened #1899 "Bad Bucharest, RO neighbourhood data"
The Bucharest neighborhood data is pretty bad.
https://spelunker.whosonfirst.org/id/85901767/ - Eliade intre Vii doesn't exist as a neighbourhood
https://spelunker.whosonfirst.org/id/85901775/ - Sala Floreasca doesn't exist, Floreasca could be considered a neighborhood but it's much smaller than the outlined polygon.

I'm curious what was the source of this data and how was it validated, maybe I c

[2020-10-15 17:03] stepps00 opened #1900 "Update names and concordances in Isniq locality record"
https://spelunker.whosonfirst.org/id/890492763/

This record has names and concordances that reference the "Đakovica District", rather than "Isniq". These names are coming from bad Wikipedia/Wikidata concordances, which need to be updated.

[2020-10-15 17:24] stepps00 commented on #1899
Hi @mihaicosareanu-bolt - these neighbourhood geometries are sourced from [Quattroshapes](https://github.com/whosonfirst/whosonfirst-sources/blob/master/sources/quattroshapes.json).

We recently updated administrative boundaries in Romania using data from the [Romanian National Agency for Cadastre and Land Registration](https://github.com/whosonfirst/whosonfirst-sources/blob/master/sources/ro-ancp

[2020-10-15 17:28] justinelliotmeyers commented on #1899
are these too formal @mihaicosareanu-bolt https://ro.wikipedia.org/wiki/Sectoarele_Bucure%C8%99tiului

[2020-10-15 19:59] justinelliotmeyers opened #1901 "2020 Colombia ;)"
@nvkelso @stepps00

que pasa amigos!  Datos abiertos de 2020!!!!!!!!!!!!!!!!!!!!!!

http://geoportal.dane.gov.co/servicios/descarga-y-metadatos/descarga-mgn-marco-geoestadistico-nacional/

hasta pronto
J

[2020-10-15 20:41] stepps00 commented on #1899
Noting that those sectors are in WOF at the `borough` placetype. Our Spelunker tool is not yet updated to show these places, but they are available in GitHub (and through our distribution files). An example:

https://github.com/whosonfirst-data/whosonfirst-data-admin-ro/blob/master/data/171/309/544/5/1713095445.geojson

[2020-10-15 21:20] #1900 closed

[2020-10-15 22:31] #1646 closed

[2020-10-16 14:21] mihaicosareanu-bolt commented on #1899
@justinelliotmeyers The sectors are indeed pretty official and it's easy to find accurate data for the polygons, I haven't found issues with it, but the neighbourhoods are pretty much off - in general the polygon is too big.

@stepps00 - I didn't find reliable data for neighborhoods, nor are they official. I kind of agree with Google's polygons for neighborhoods (here's an example for Drumul Taber

[2020-10-16 18:42] stepps00 commented on #1899
If you're able to, feel free to file a PR in the [whosonfirst-data-admin-ro](https://github.com/whosonfirst-data/whosonfirst-data-admin-ro/) repository with name suggestions. We can go back-and-forth in the PR. Ideally, we'd find an openly licensed dataset that we can use to completely update neighbourhoods in Bucharest... but for the time being, some name fixes would work.

The data in your scree

[2020-10-16 18:59] nvkelso commented on #1899
Another pattern we've used in other countries is to reset the neighbourhood's default geometry to a centroid (point) instead of polygon (moving the polygon to an alternate geometry), when it's hard to say what the shape should be but the place is still valid.

[2020-10-20 07:28] mihaicosareanu-bolt commented on #1899
@stepps00 late reply here, somehow I didn't get the notifications.

Here's what I did. I went to: http://geoportal.ancpi.ro/portal/apps/webappviewer/index.html?id=faeba2d173374445b1f13512bd477bb2 -> selected a polygon type from "Aria de interes (area of interest)" -> draw a big polygon around Bucharest (bigger than the surrounding belt) -> selected "Limita administrativa UAT" which stands for Unit

[2020-10-20 10:03] mihaicosareanu-bolt opened #1902 "Wrong translations for some localities in Bucharest / Ilfov, Romania"
Creating this issue to have support for a PR. The description came from a bigger issue: https://github.com/whosonfirst-data/whosonfirst-data/issues/1899

Copying and pasting the relevant part:

Translations are off for some places. Example: https://spelunker.whosonfirst.org/id/101753931/ . "Parcu Voluntarilor" does not exist and shouldn't be a translation, especially for english

[2020-10-20 12:19] justinelliotmeyers commented on #1899
@mihaicosareanu-bolt https://revolutionarygis.wordpress.com/2019/11/04/romania-localitati-polygon-shapefile-ancpi/

[2020-10-20 14:08] mihaicosareanu-bolt commented on #1902
PR is ready here: https://github.com/whosonfirst-data/whosonfirst-data-admin-ro/pull/18/files

[2020-10-20 17:13] #1056 closed

[2020-10-20 17:27] stepps00 commented on #1691
This has been taken care of via https://github.com/whosonfirst-data/whosonfirst-data-admin-nz/pull/12. We've adjusted all locality placetype records on Waiheke Island and created a new localadmin record for the entirety of Waiheke Island.

Localadmin shown with a darker boundary (entire island), localities shown with a thin blue boundary:

<img width="1191" alt="Screen Shot 2020-10-20 at 10 22 51

[2020-10-20 19:13] stepps00 commented on #1899
Thanks @mihaicosareanu-bolt - we've left some comments in your PR.

If we are unable to find openly licensed data for updates to Bucharest neighbourhoods, would you be open to creating shapes? Your local knowledge of Bucharest could improve WOF's current Bucharest data... just curious if you'd be interested in sharing some hand-curated shapes for import.

[2020-10-21 00:01] #1878 closed

[2020-10-21 00:01] #1691 closed

[2020-10-21 08:23] mihaicosareanu-bolt commented on #1899
@stepps00 honestly what I would do is export the polygon shapes from google maps, since they look pretty good for Bucharest, and I can contribute them. I can add that to my backlog and create another PR somewhere in the near future to fix this

[2020-10-21 11:23] mihaicosareanu-bolt commented on #1899
@justinelliotmeyers How did you get to that export? I've noticed some "intravlian" in the descriptions of the shapes and maybe that is only the polygon for the "urban" terrains. If I export the UAT layer, the locality limits are very close to Google and to what I know

[2020-10-21 16:07] stepps00 commented on #1899
Since Who's On First relies on openly licensed data (`CC-BY`, `CC0`, or equivalent license), we won't be able to pull in shapes from Google Maps. It may be helpful to find the source that they're using, as it may have less restrictive terms. I'll also poke around and try to find additional neighbourhood sources.

[2020-10-22 20:18] stepps00 commented on #1456
This was completed through previous localization work ([commit](https://github.com/whosonfirst-data/whosonfirst-data-admin-mx/commit/c590ca178c3636e58f64bc60a22ef00f177c5b73)).

Example of Nuevo León: https://raw.githubusercontent.com/whosonfirst-data/whosonfirst-data-admin-mx/master/data/856/866/81/85686681.geojson

[2020-10-22 20:18] #1456 closed

[2020-10-22 21:10] stepps00 opened #1903 "QA localities and neighbourhoods in Indonesia"
https://spelunker.whosonfirst.org/id/85632203/descendants/?exclude=nullisland&placetype=locality
https://spelunker.whosonfirst.org/id/85632203/descendants/?exclude=nullisland&placetype=neighbourhood

Let's QA and update the neighbourhood and locality placetypes in Indonesia, as needed.

[2020-10-22 21:16] justinelliotmeyers commented on #1903
ill have to see where i put these... https://revolutionarygis.wordpress.com/2020/02/07/indonesia-desa-2020/

[2020-10-22 23:01] stepps00 commented on #1811
Hey @henrylyne - we recently updated the localadmin, locality, and neighbourhood placetypes in New Zealand via https://github.com/whosonfirst-data/whosonfirst-data-admin-nz/pull/12.

This PR introduced new localities and corrected many hierarchies of neighbourhoods in the process. This issue is fixed, so I'll close.

[2020-10-22 23:01] #1811 closed

[2020-10-22 23:49] henrylyne commented on #1811
Thanks for the update @stepps00
I did a spotcheck on Auckland City Center up to Auckland Localadmin and the hierarchy looks good.

It looks like Spelunker has an updated record for Auckland City Center, but the parent, and its parent, is not yet present. Maybe that's expected, but just wanted to let you know in case its not. https://spelunker.whosonfirst.org/id/85782351/

[2020-10-26 08:53] mihaicosareanu-bolt commented on #1899
Just a quick reminder that the PR for locality translations is ready and the comments have been addressed. It should be ready for merging: https://github.com/whosonfirst-data/whosonfirst-data-admin-ro/pull/18

[2020-10-27 16:22] stepps00 opened #1904 "Investigate records in the admin-xn repo"
https://github.com/whosonfirst-data/whosonfirst-data-admin-xn

Duplicate records for New Amsterdam that live in the `admin-xn` repo:

- https://spelunker.whosonfirst.org/id/1125896203/
- https://spelunker.whosonfirst.org/id/1125896155/

Though WOF has a New Amsterdam record in the correct `admin-gy` repo, too:

https://spelunker.whosonfirst.org/id/890438763/

Let's review the records in the `admin

[2020-10-30 08:52] mihaicosareanu-bolt commented on #1899
Small reminder here. Can we get the PR for locality translations merged? The PR has been opened for some days now: https://github.com/whosonfirst-data/whosonfirst-data-admin-ro/pull/19. 🙏 🙇

[2020-11-17 10:36] zifeo commented on #1897
@stepps00 if you require an updated list (no sure if more records could go wrong), feel free to ask.

[2020-11-17 16:24] justinelliotmeyers opened #1905 "Ukraine 2020"
![ua_2020](https://user-images.githubusercontent.com/5324316/99416960-6602e200-28c7-11eb-8035-862d422ff0d5.jpg)

https://revolutionarygis.wordpress.com/2020/11/17/%d0%b7%d0%b0%d0%b2%d0%b0%d0%bd%d1%82%d0%b0%d0%b6%d1%83%d0%b9%d1%82%d0%b5-%d0%bc%d0%b5%d0%b6%d1%96-%d0%be%d0%b4%d0%b8%d0%bd%d0%b8%d1%86%d1%8c-%d0%b0%d1%82%d1%83/

[2020-11-17 21:05] nvkelso commented on #1905
🇺🇦

[2020-11-18 00:32] nvkelso commented on #1897
This is scheduled for December.

[2020-11-18 00:41] nvkelso commented on #1899
Noting that the translation PRs were resolved. Will keep this issue open until better neighbourhood shapes can be sourced or made.

[2020-11-20 01:36] nvkelso commented on #1871
@vicchi hows this one been going?

[2020-11-30 19:02] thisisaaronland commented on #1886
* 102548985 (TXL) : moved from `-admin-xy` to `-admin-de`; updated cessation date and `iso/wof:country; flag as `mz:is_current=0`
* 102549025/ (SXF) : moved from `-admin-xy` to `-admin-de`; updated cessation date and `iso/wof:country`; flag as `mz:is_current=0`
* 1360695651 (BER) : updated inception date; flag as `mz:is_current=1`

[2020-11-30 19:02] #1886 closed

[2020-12-01 19:46] nvkelso commented on #58
Some examples:

- Toronto
- West New York
- Harrisburg
- New York

@stepps00 please add more details above.

[2020-12-01 19:48] nvkelso commented on #58
More examples:

**London** (locality):
  - WOF: https://raw.githubusercontent.com/whosonfirst-data/whosonfirst-data-admin-gb/master/data/101/750/367/101750367.geojson

**Greater London** (region):
  - WOF: https://raw.githubusercontent.com/whosonfirst-data/whosonfirst-data-admin-gb/master/data/136/069/864/5/1360698645.geojson

These two records are linked together via `wof:coterminous` properties.

[2020-12-01 21:51] stepps00 commented on #1897
Thanks for the patience on this issue, everyone. I'm starting admin updates in the above linked PR to fix this issue, I hope to have this complete in the coming days.

[2020-12-03 18:42] nvkelso commented on #183
Can we close this out?

If not please count and list the remaining record IDs that need work.

[2020-12-03 18:44] nvkelso commented on #1425
Can we close this out?

If not please count and list the remaining record IDs that need work.

[2020-12-03 19:28] thisisaaronland commented on #183
Only if @stepps00 promises to write a blog post about this work :D :D :D

[2020-12-03 21:30] nvkelso commented on #183
Great idea!

[2020-12-03 23:22] stepps00 opened #1906 "Flag coterminous localities, counties, and regions"
**London** (locality):
  - WOF: https://raw.githubusercontent.com/whosonfirst-data/whosonfirst-data-admin-gb/master/data/101/750/367/101750367.geojson

**Greater London** (region):
  - WOF: https://raw.githubusercontent.com/whosonfirst-data/whosonfirst-data-admin-gb/master/data/136/069/864/5/1360698645.geojson

These two records are linked together via `wof:coterminous` properties.

**Edmonton** (

[2020-12-03 23:28] stepps00 commented on #183
So the above PRs fixed this ascii issue in records that had no other `name:` properties to use as a replacement. There are follow-up PRs needed to fix this issue across all records, but the good news is that the remaining records with non-ascii names _should_ have a name or property value we can use as a replacement.

I'll crawl the admin repos soon to gather wof:ids of records that still need an

[2020-12-03 23:32] #1897 closed

[2020-12-03 23:35] stepps00 commented on #1897
@SilvrDuck @zifeo the PR to fix this issue was merged today. Please let us know if you're still experiencing any issues with these records in Switzerland.

[2020-12-04 12:37] zifeo commented on #1897
@stepps00 Awesome! We will check starting on Monday so the dataset has be the time to be refreshed.

[2020-12-08 18:01] stepps00 commented on #1455
We've updated names through various commits recently, as well as new label properties through https://github.com/whosonfirst-data/whosonfirst-data-admin-ar/commit/2fa40023126ef3ce10f2fa25dfbae205d79d2f2b.

Closing this issue.

[2020-12-08 18:01] #1455 closed

[2020-12-09 00:23] stepps00 commented on #58
The PRs to fix this issue this issue have been merged, except for the PR in the `admin-us` repo. Once an unrelated PR is merged in the `admin-us` repo, I'll merge the remaining work and close this issue out.

[2020-12-09 01:38] stepps00 opened #1907 "Update Widnes localadmin record"
https://spelunker.whosonfirst.org/id/101751623/

This record was last updated through https://github.com/whosonfirst-data/whosonfirst-data/pull/1436. As part of this work, the locality and localadmin records GB were updated and, in some cases, were reclassified at different placetypes.

This locality geometry for Widnes actually represents a localadmin. The locality of Widnes is the northern porti

[2020-12-09 20:22] #1907 closed

[2020-12-09 20:24] stepps00 commented on #1902
Hi @mihaicosareanu-bolt - this work was taken care of via https://github.com/whosonfirst-data/whosonfirst-data-admin-ro/pull/19, so I'll close this issue out. Please let us know if you notice additional issues in Romania.

[2020-12-09 20:24] #1902 closed

[2020-12-11 00:46] stepps00 commented on #1238
As part of this issue, let's also investigate region `label` properties.

https://spelunker.whosonfirst.org/id/85684963/

The `label` properties were added to region records of Ireland using a "name" + "placetype" format, in this example the English label is "Cork County". This should actually be "County Cork", as the way these counties of Ireland are referenced is typically "placetype" + "name".

[2020-12-11 20:43] stepps00 opened #1908 "Move Finland to the admin-fi repo"
https://spelunker.whosonfirst.org/id/136253047/

Currently lives in the `whosonfirst-data-admin-xy` repo, here: https://github.com/whosonfirst-data/whosonfirst-data-admin-xy/blob/master/data/136/253/047/136253047.geojson

This country record for Finland should live in the `whosonfirst-data-admin-fi` repo.

[2020-12-11 22:46] stepps00 opened #1909 "Update locality data in Saudi Arabia"
Related: https://github.com/whosonfirst-data/whosonfirst-data/issues/1111

WOF maintains ~2600 [locality records](https://spelunker.whosonfirst.org/id/85632253/descendants/?exclude=nullisland&placetype=locality) in Saudi Arabia, the vast majority contain Point geometries and come from GeoNames.

An example: https://spelunker.whosonfirst.org/id/1310124023/

Opening this issue to investigate a new,

[2020-12-12 01:56] justinelliotmeyers commented on #1909
whats the source amigo!? @stepps00 gracias!

[2020-12-14 22:40] nvkelso commented on #1908
This is for the `empire`? Are the other `empire` records in their respective country code repos?

[2020-12-14 23:38] stepps00 commented on #1908
Ah, I'm going to close this. I glossed over the placetype and assumed this was the `country` record. The `empire` records should live in the `admin-xy` repo, so we're good here.

[2020-12-14 23:38] #1908 closed

[2020-12-14 23:41] stepps00 commented on #1909
@justinelliotmeyers unfortunately no source yet, I'm opening this as a place-holder for when data becomes available. But feel free to share any tips if you come across any locality data in Saudi Arabia! 😉

[2020-12-15 21:41] stepps00 commented on #1906
This was completed via the linked PRs above, closing.

[2020-12-15 21:41] #1906 closed

[2020-12-16 17:17] nvkelso commented on #367
Related: https://github.com/whosonfirst-data/whosonfirst-data/issues/1793

[2020-12-22 18:30] stepps00 commented on #576
This is still worth tackling, as the WOF geometries and placetypes counts could use review. Bonus if we're able to find a source for locality polygons, too. The only locality record in Algeria that contains a non-Point geometry is [Algiers](https://spelunker.whosonfirst.org/id/421174649/), so updating geometries at this placetype would be a huge improvement.

[2020-12-22 18:38] stepps00 opened #1910 "Update admin records in Iraq"
Iraq: https://spelunker.whosonfirst.org/id/85632191/

Descendant region records: https://spelunker.whosonfirst.org/id/85632191/descendants/?exclude=nullisland&placetype=region
Descendant county records: https://spelunker.whosonfirst.org/id/85632191/descendants/?exclude=nullisland&placetype=county
Descendant locality records: https://spelunker.whosonfirst.org/id/85632191/descendants/?exclude=nullis

[2020-12-22 18:41] stepps00 opened #1911 "Update admin records in Qatar"
Qatar: https://spelunker.whosonfirst.org/id/85632299/

Descendant region records: https://spelunker.whosonfirst.org/id/85632299/descendants/?exclude=nullisland&placetype=region
Descendant county records: https://spelunker.whosonfirst.org/id/85632299/descendants/?exclude=nullisland&placetype=county
Descendant locality records: https://spelunker.whosonfirst.org/id/85632299/descendants/?exclude=nulli

[2020-12-22 18:43] stepps00 opened #1912 "Update admin records in Kuwait"
Kuwait: https://spelunker.whosonfirst.org/id/85632401/

Descendant region records: https://spelunker.whosonfirst.org/id/85632401/descendants/?exclude=nullisland&placetype=region
Descendant county records: https://spelunker.whosonfirst.org/id/85632401/descendants/?exclude=nullisland&placetype=county
Descendant locality records: https://spelunker.whosonfirst.org/id/85632401/descendants/?exclude=null

[2020-12-22 20:48] nvkelso commented on #1910
With all the American "intervention" in Iraq the last couple decades there _must_ be some open geo data out there...

[2020-12-22 21:06] justinelliotmeyers opened #1913 "new dataset!?"
@nvkelso @stepps00

Do you know what this is? Or have you ever seen it?

Let me know your thoughts!!
J

https://www.geoboundaries.org/index.html#getdata

[2020-12-22 21:35] justinelliotmeyers commented on #1910
@nvkelso FOIA the NGA! The NGA actually shared out tons of Iraq data like 8 years ago - I have it on an external - every road, city, admin, etc

[2020-12-22 23:00] nvkelso commented on #1913
New to me!

More info on author: https://github.com/wmgeolab/gbRelease

More info on sources below. Looks like each feature is annotated with original source title and web link?

![image](https://user-images.githubusercontent.com/853051/102940900-3b77ec00-4466-11eb-93f0-93281cf25e9d.png)
![image](https://user-images.githubusercontent.com/853051/102940932-492d7180-4466-11eb-9cba-53590097169b.png)

[2020-12-22 23:04] nvkelso commented on #1913
Easiest way to preview the sources is this webpage table:

- https://www.geoboundaries.org/downloadFull.html

There's a good bit of OSM in there, and other tricky licenses. So a good index of sources but as always in WOF we prefer going to the original sources and crediting them.

![image](https://user-images.githubusercontent.com/853051/102941132-c822aa00-4466-11eb-9389-f40102ad8026.png)

[2020-12-23 22:48] stepps00 commented on #1899
Thanks for the PR, @andreibalaban. We've gone back and forth in that PR, but commenting here with an update. I'll work to complete the following and once complete, this issue should be fixed:

- [ ] Validate, add to, and merge the changes in I created this PR to initiate a fix to this: whosonfirst-data/whosonfirst-data-admin-ro#20
- [ ] Use the geometries (assuming the source's license terms work

[2020-12-23 22:53] stepps00 commented on #1547
This issue will be fixed once the above PRs are merged to each per-country repo.

[2020-12-23 23:36] stepps00 commented on #1913
Nice, there are some ADM3 data available under both Public Domain `CC BY 4.0` licenses that would be worth digging into.

This site lists data sources for Cambodia, Italy, Kenya, Mali, Panama, and Rwanda that may be of use to WOF.

[2020-12-24 00:31] thisisaaronland opened #1914 "Update EDTF strings"
From the docs:

[code]

At a glance the two things that will affect most of the data are:

* the unspecified date character (formerly lower case ‘u’) is superseded by the character (upper case) 'X';
* the extended interval syntax  keywords 'unknown' and 'open' have been replaced with null and the double-dot notation ['..'] respectively;

This might affect a small number of records, like Yugoslavia

[2020-12-24 00:47] thisisaaronland commented on #1547
Blog post, please.

[2020-12-24 01:31] thisisaaronland commented on #1914
https://github.com/whosonfirst/go-whosonfirst-edtf#find-invalid

[2020-12-28 18:49] stepps00 commented on #1848
#1878 was merged, closing.

[2020-12-28 18:49] #1848 closed

[2020-12-28 19:01] stepps00 commented on #1735
Noting that the locality of Lahore was updated through https://github.com/whosonfirst-data/whosonfirst-data-admin-pk/pull/12/ and given a [new polygon geometry](https://github.com/whosonfirst-data/whosonfirst-data-admin-pk/blob/3820eab23c87a1ce923e25461230bcfddf04696f/data/421/204/525/421204525.geojson).

[2020-12-30 18:58] stepps00 commented on #202
@missinglink Thanks for this link.. though I may have missed what the columns represent in this file. I've made the assumption that the last column is the amount of times that locality name was found per postalcode, is that true?

My first run had quite a few questionable locality names for postal codes in the US, so I took another shot at generating this postal code <> locality mapping using two

[2020-12-31 20:41] #1801 closed

[2020-12-31 21:12] stepps00 commented on #1872
I reviewed the other `dk-geodk:komhavn` properties in the localadmin records of Denmark, which look correct. This issue only affects the Copenhagen record, likely because I modified the name string as part of the import process to fix https://github.com/whosonfirst-data/whosonfirst-data/issues/1102.

The above PR fixes issues with the `"name:dan_x_preferred"`, `"label:dan_x_preferred"`, and `"dk-g

[2020-12-31 21:13] #1872 closed

[2021-01-06 00:13] missinglink commented on #202
The columns are documented here:
https://github.com/pelias/wof-admin-lookup#contributing

[2021-01-06 13:58] tomtaylor opened #1915 "GB postalcode sync November 2020"
@stepps00 @thisisaaronland @vicchi

I've synced https://github.com/whosonfirst-data/whosonfirst-data-postalcode-gb against the [November 2020 ONS Postcode Directory](https://geoportal.statistics.gov.uk/datasets/ons-postcode-directory-november-2020). The update is on a branch on my fork: https://github.com/tomtaylor/whosonfirst-data-postalcode-gb/tree/sync-nov-2020.

This repo is a real beast to ha

[2021-01-06 15:55] thisisaaronland commented on #1915
@tomtaylor Can we interest you in writing a blog post about the UK postcodes work?

[2021-01-06 16:02] tomtaylor commented on #1915
@thisisaaronland as per our Slack chat, it's on the list! :D

[2021-01-06 22:11] nvkelso commented on #1735
@stepps00 do we still need to evaluate if any of the implicated locality point records around Lahore should be converted to `neighbourhood` placetypes?

[2021-01-06 23:24] nvkelso commented on #202
The files look fairly consistent between Pelias and WOF venue runs, nice! I spot checked a few zipcodes I've lived or worked.

Agree we should strip alternate names when there is just a couple probably bogus instances. Perhaps would require at least X count (like more than 2 instances) or a % (like 1%) to be included as an alternate, as I've seen some rows where there are only 10 total count and s

[2021-01-07 00:57] missinglink commented on #202
We have some test cases in https://github.com/pelias/wof-admin-lookup/blob/master/test/lookupStreamPostalCityTest.js which have been contributed when fixing postal city lookup bugs, these might be helpful for sanity checks.

[2021-01-07 21:01] stepps00 opened #1916 "Update neighbourhood records around Yongin, South Korea"
QAing some of our neighbourhood data in South Korea, I noticed two records that need to be updated:

This neighbourhood is likely bogus and should be deprecated: https://spelunker.whosonfirst.org/id/890475109/
This neighbourhood should be updated with a new geometry: https://spelunker.whosonfirst.org/id/85925883/

[2021-01-07 21:58] justinelliotmeyers commented on #1916
@stepps00 @nvkelso South Korea is just like China. Changes occur monthly - and there are two systems of administrative boundaries. (HJD (행정동 ) and BJD (법정동))

this somewhat keeps track of them, but not always 100% current or correct: https://github.com/vuski/admdongkor

[2021-01-08 00:10] stepps00 commented on #1915
Thanks @tomtaylor. We had some back-and-forth in your previous PRs (like the one [here](https://github.com/whosonfirst-data/whosonfirst-data-postalcode-gb/pull/4) from last February). Was the same logic used to update the postalcode records using the Nov 2020 ONS directory?

If so, we should be able to QA a bit, then push your fork to our master branch.

[2021-01-08 16:59] pdavis156879 commented on #1850
Hi guys,

WOF is incredibly powerful and useful, as long as its data is up to date.

There seems to be a lot of data to be updated/ingested, and not enough time/hands to do so, which is normal and expected.

With this in mind, is it possible to come up with a pipeline/guide of some sort, to guide on updating WOF? E.g. how to integrate new admin boundary information, which scripts need to run to pe

[2021-01-08 17:46] stepps00 commented on #1735
We do, yes.. I'm in the process of merging open PRs to update megacities. Once complete, I plan on filing a follow-up issue to update all descendant records of megacities.. I'll link that issue here.

[2021-01-08 17:57] stepps00 commented on #1275
This is still an issue, and something we should tackle sooner rather than later.. an example: https://spelunker.whosonfirst.org/id/890445001/

I'm guessing these came from either NaturalEarth or GeoNames, based on the vintage of the `wof:id` and source properties.

[2021-01-08 18:12] nvkelso opened #1917 "Megacity cleanup: locality points in new locality polygons"
Evaluate localities that fall in the new megacity locality polygons and either demoted to placetype `neighbourhood` or deprecate.

This is a nice to have... it shouldn't break PIP or map display, but it's inconsistent and we should resolve it since these are all high visibility places.

We've previously reworked these overlapping locality points two ways:

- either moving them to a new record at t

[2021-01-08 19:24] nvkelso commented on #1850
Paging @stepps00. Happy to setup a call where we can go over resources and then work with you to better document the processes.

[2021-01-08 20:13] stepps00 commented on #1547
This is complete, closing.

[2021-01-08 20:13] #1547 closed

[2021-01-08 22:42] stepps00 commented on #1737
Noting here that the locality of Istanbul has been updated via https://github.com/whosonfirst-data/whosonfirst-data-admin-tr/pull/16.

Through this work, we should also consider updating the counties in Istanbul. The locality/region are coterminous in this case and both geometries are quite large. We'll need to QA all records in the area to make sure each place is categorized at the appropriate pl

[2021-01-08 23:14] stepps00 commented on #1850
Hey @pdavis156879 - these are all good points.

Right now, the per-country data updates in Who's On First can be a bit cumbersome, as there are multiple steps to update admin records correctly. In a nutshell, the simplified steps are:

- Grab all "current" records in the per-country repository you're updating
- Find an openly licensed, importable data source to update records
  - Catalogue that da

[2021-01-08 23:35] nvkelso commented on #1850
As part of name updates in the last step, we run a Wikidata name localization import script.

@stepps00 Can you add links to the bullets above, and I think there's a blog post or two to share, and perhaps some material in the cookbook repo?

[2021-01-09 01:07] stepps00 opened #1918 "Remove lbl:bbox properties on megacity records"
Following up on https://github.com/whosonfirst-data/whosonfirst-data/issues/1547

As part of this work, the `lbl:bbox` properties on any megacity locality should have had the `lbl:bbox` property removed. Opening this issue to remove those properties from the ~150 records with new polygons.

[2021-01-10 11:37] tomtaylor commented on #1915
@stepps00 that's right - I used https://github.com/whosonfirst/wof-sync-os-postcodes as before.

[2021-01-11 17:09] stepps00 commented on #1918
This is complete, any "megacity" locality should no longer have a `lbl:bbox` property. Per https://github.com/whosonfirst-data/whosonfirst-data-admin-ph/pull/14#issuecomment-757069667:

[2021-01-11 17:09] #1918 closed

[2021-01-12 23:12] stepps00 commented on #202
https://github.com/pelias/wof-admin-lookup#contributing

Perfect, these are both very helpful.

I've reworked the data a bit and created two new files:

- [This gist file](https://gist.github.com/stepps00/2e1ed01be91f3fd371eacf58f7fed134) is a combination of the runs against WOF and Pelias data, ordered by name occurrence per postalcode.
- And [this gist file](https://gist.github.com/stepps00/9cf0

[2021-01-13 02:00] missinglink commented on #202
Happy NY!

Did you guys come to some decision about postcodes codes which don't actually refer to a `locality` per-se?
I'm still a little concerned about the use of the terminology `wof:postal_locality` for those.

https://github.com/whosonfirst-data/whosonfirst-data-postalcode-us/pull/5#issuecomment-675361316

[2021-01-14 04:38] nvkelso commented on #202
We deferred supporting a new **"postal locality"** placetype to a future date.

Your examples show the full range of beautiful geo soup on offer, bravo! They are indeed a mix of placetypes / though not exactly the same as those features. The world is wild; our goal is to fill in the fake "city name" in a recognizable way useful for address validation. I think this proposal is a big step forward, t

[2021-01-14 20:43] thisisaaronland opened #1919 "Update default branch"
We should update the default branch on all the data repos to be `main` rather than `master`.

This will take a while and probably introduce some hiccups and bumps in the road so I don't expect it will happen right away but we should be opportunistic about when and where we do this in the meantime.

See also: https://open.nytimes.com/finding-the-right-words-491b93b8b668?gi=2ec445965a25

[2021-01-14 23:35] thisisaaronland commented on #1919
Places in code where this change will trigger changes:

* https://github.com/whosonfirst/go-webhookd-github#github

Probably the easiest thing is to add multiple entry points for both the `main` and `master` branches until the rollover is complete.

[2021-01-15 01:14] stepps00 commented on #202
Ah, my mistake. Your comment with the `mz:` prefixes is correct (I've tweaked my comment).

Also, an update on this: out of an abundance of caution, I'm going to import _just_ locality names I've obtained from crawling the WOF venue data. It was pointed out that the Pelias lookup file contains names sourced from OSM, so I'd like to import the names from WOF's own venues as a first pass.

The resul

[2021-01-15 07:20] missinglink commented on #1919
https://github.blog/changelog/2020-07-17-links-to-deleted-branches-now-redirect-to-the-default-branch/

[2021-01-16 06:17] straup commented on #1919
* https://github.com/github/renaming

[2021-01-19 00:54] missinglink opened #1920 "Various NZ locality fixes"
heya,

I'd like to deprecate/remove "Lower Hutt" https://spelunker.whosonfirst.org/id/101914319/

I think the correct record here is https://spelunker.whosonfirst.org/id/102079337/ which is at the `county` level rather than the `locality` level.

The [wikipedia](https://en.wikipedia.org/wiki/Lower_Hutt) entry defines `Lower Hutt` as a City (ie. `county` in WOF) containing a bunch of Suburbs (ie. `

[2021-01-19 01:37] missinglink commented on #1920
Semi related (same repo at least) is https://spelunker.whosonfirst.org/id/101918677/ which is an incorrect spelling of https://spelunker.whosonfirst.org/id/101914287/ and can also be deprecated/removed.

[2021-01-19 01:47] missinglink commented on #1920
One more from NZ, this locality which seems to be two places combined into one:
https://spelunker.whosonfirst.org/id/101915063/

[2021-01-19 01:53] missinglink commented on #1920
Also https://spelunker.whosonfirst.org/id/101916599/ can be superseded by https://spelunker.whosonfirst.org/id/101915581/, the latter of the two being sourced from the recent LINZ locality import and better represents the peninsula.

[2021-01-19 01:56] missinglink commented on #1920
I found these errors after investigating which `locality` records in NZ are not `src:geom=nz-linz`:

[code]

[2021-01-19 02:04] missinglink commented on #1920
The last one on the list [Leithfield Beach](https://spelunker.whosonfirst.org/id/101915887/) is very similar to [Amberley Beach](https://spelunker.whosonfirst.org/id/101916487/) farther north, except "Leithfield Beach" is still "mz:is_current" whereas Amberley Beach isn't.

Was that possibly missed in this commit?
https://github.com/whosonfirst-data/whosonfirst-data-admin-nz/commit/ca5aa9f0ccebb26

[2021-01-19 19:13] stepps00 commented on #1920
Hmm.. thanks for these comments @missinglink

It's possible that a handful of records were missed during the working in https://github.com/whosonfirst-data/whosonfirst-data-admin-nz/pull/12. I'll pull out all locality records in NZ to figure out what issues are present and reply here.

If you see additional issues in NZ, feel free to append them to this issue.

[2021-01-21 01:23] missinglink opened #1921 "NZ hierarchy issues"
Hi @stepps00 ,

There seem to be some issues in New Zealand with how the placetypes are being defined 🤷‍♂️
It's common to find the same place twice in WOF appearing in two different placetypes.

Looking in my local area as an example:

- [Wellington City](https://spelunker.whosonfirst.org/id/101914285/) exists on the `locality` level
- [Wellington City](https://spelunker.whosonfirst.org/id/1020793

[2021-01-21 01:33] missinglink commented on #1921
I think actually a lot of our PIP issues where `Wellington` is being assigned as the `locality` for addresses instead of the Suburb will naturally resolve themselves since the Dec 2020 change to make [Wellington City](https://github.com/whosonfirst-data/whosonfirst-data-admin-nz/blob/master/data/101/914/285/101914285.geojson) on the `locality` layer a `Point` geometry.

I'm guessing there is a rea

[2021-01-21 02:37] missinglink commented on #1921
Here's `Auckland` for comparison:

- [Auckland City](https://spelunker.whosonfirst.org/id/102079403/) `county`
- [Auckland City](https://spelunker.whosonfirst.org/id/101914257/) `locality`

https://en.wikipedia.org/wiki/List_of_suburbs_of_Auckland

- [Ponsonby](https://spelunker.whosonfirst.org/id/85773127/) `neighbourhood`
- [Celevedon](https://spelunker.whosonfirst.org/id/101914783/) `locality`

[2021-01-21 19:16] stepps00 commented on #1920
So, I've exported all "current" admin records in the `whosonfirst-data-admin-nz` repo for review and can confirm that each of these five records need to be corrected:

- https://spelunker.whosonfirst.org/id/101914319
- https://spelunker.whosonfirst.org/id/101915063
- https://spelunker.whosonfirst.org/id/101915887
- https://spelunker.whosonfirst.org/id/101916599
- https://spelunker.whosonfirst.org/

[2021-01-21 21:23] missinglink commented on #1920
Thanks @stepps00 I'm back in NZ until April now or until the pandemic eases up enough to return home, so you might see some more of these NZ issues coming in from me as I spot check like a 🥝 🇳🇿

[2021-01-21 22:37] stepps00 commented on #1921
Thanks for the issue @missinglink.

When trying to debug some of these issues, I realized the Spelunker is actually out of date in some cases (though the distribution files should be up-to-date). I think it's related to https://github.com/whosonfirst/whosonfirst-www-spelunker/issues/145.

That being said, a few comments:

With this Wellington example, we've also introduced some `localadmin` record

[2021-01-22 19:57] justinelliotmeyers opened #1922 "Cyprus"
https://eservices.dls.moi.gov.cy/arcgis/rest/services/OGC_Services/AdminBoundaries_Indexes_OGC/MapServer

[2021-01-22 22:18] stepps00 commented on #1922
Thanks @justinelliotmeyers!

[2021-01-24 19:23] Guilherme-B opened #1923 "Normalize Features"
Bundles seem to be getting quite large, for instance, the US dist is now 3.6GB uncompressed.

If features were normalized into the third form, we could easily decrease their size, either creating whole or split identifiers, e.g:
- "src:label" could be ID 1
- or split into two, category and type "src" category 1, and "label" type 1

Is this something worthwhile considering?

On a side note, what is

[2021-01-24 21:33] missinglink commented on #1921
Agh you are completely right, I think the confusion is due to the Spelunker being out-of-date.
I spot checked a couple and they seem to be correct on Github so I'm going to close this, sorry for the noise.

[2021-01-24 21:33] #1921 closed

[2021-01-24 22:49] missinglink commented on #1923
Hi @Guilherme-B, as the publisher of https://geocode.earth/data/whosonfirst I'll chip in my 2c

The goal of the bundles wasn't to provide as small a download as possible, it was to provide an easy way to download the data which was faithful to what's in Github, that way it can benefit the widest group of people and foster adoption and contribution to the project.

If your goal is to provide the *s

[2021-01-25 09:12] pdavis156879 commented on #1923
Hi @missinglink,

Well, that clears it up, I really thought bundles were the go-to resource for downloading the data and GitHub was merely the repository used to generate the consumables (bundles).

On a side note, are you aware of which is the proper Go package for handling/manipulating SQLLite distributions?

[2021-01-25 10:19] missinglink commented on #1923
No, Github is the authoritative 'source of truth' when it comes to the data, the distributions are read-only point-in-time snapshots of Github in one form or another.

TBH I am still not understanding what you wrote in the issue description and what exactly you're trying to solve by 'normalizing features' 'into the third form'.

I believe maybe you're referring to a custom encoding possibly a bina

[2021-01-25 18:10] Guilherme-B commented on #1923
That is exactly what I was referring to.

But given the bundles are merely a presentation layer and size is of no concern, I will close the issue.

[2021-01-25 18:10] #1923 closed

[2021-01-26 00:32] stepps00 commented on #1921
No worries, thanks for these issues @missinglink. Let us know if you find any other issues in NZ.

[2021-01-29 01:16] #1920 closed

[2021-01-29 17:58] #202 closed

[2021-02-03 22:18] orangejulius opened #1924 "Small cities named São Paulo seem to have inherited the population of the big one"
Hi all,
Here's the WOF record for the Brazilian megacity [São Paulo](https://spelunker.whosonfirst.org/id/101965533/). As expected it has a large population: `11967825`.

Here's the WOF record for another Brazilian city called [São Paulo](https://spelunker.whosonfirst.org/id/101976989/), located far away elsewhere in Brazil. While it's clear from satellite imagery and other data sources that this

[2021-02-04 01:46] stepps00 commented on #1924
Nice catch, thanks for the issue @orangejulius.

I've opened a PR with fixes here: https://github.com/whosonfirst-data/whosonfirst-data-admin-br/pull/16

It's okay for non-megacity records to have population data, but I think a good indicator of where we might have an issue in WOF would be:

- Reviewing pairs/triples/etc of records with the same exact `wof:population` value
- Reviewing records wit

[2021-02-04 02:23] orangejulius commented on #1924
Sounds good. I'll see if there are other megacities at least that share a population value with other cities.

[2021-02-04 12:31] missinglink commented on #1924
Here's a script to help try detect records with this issue:

[code]

[code]

The full list includes 7912 potential dupes:
https://gist.github.com/missinglink/fddf8840ee557ba83e60a24f7b8de4b9

I also noticed that there's a lot of records with a 0 population, or a population <100 which seems like maybe an error?

[2021-02-04 15:54] orangejulius commented on #1924
Funny, I also spent some time writing SQL to find duplicates like this.

Here's a list of 200 places that all look to be either true duplicates of megacities, or cases like the Sao Paulos sharing population, but being distinct places.

[code]

Mine looks at only places that share an exact population with a megacity. Because it's a massive self join on a large table, and doing lots of `json_extract

[2021-02-05 01:11] stepps00 commented on #1924
Nice, thanks for these lists to review..

This list is interesting and seems manageable to hand review. I'm seeing the same issue we had with Sao Paolo in some of these cases, but also valid cases (like San Jos, Costa Rica), where a coterminous locality / county have the same population. I'll try to review this soon and push changes to PRs to fix.

This list may be a bit difficult to review, but I

[2021-02-05 17:13] orangejulius commented on #1924
Okay, here's an updated script that compares `parent_id` values to make sure that nothing in the list is the direct parent of another.

That brings the list down to 166 and all the duplicates I checked look pretty legitimate now.

[code]

[code]

[2021-02-05 17:55] stepps00 commented on #1915
@tomtaylor - my apologies, this slipped through the cracks.

I QA'd the changes and the updates look great.. I'll work on merging your fork ASAP.

[2021-02-07 14:21] c960657 opened #1925 "Typo in Holbaek, Denmark"
There is a typo in [Holbaek, Denmark](https://spelunker.whosonfirst.org/id/1159297717/).

It's _Holbaek/Holbæk_, not _Holaek_. See e.g. https://en.wikipedia.org/wiki/Holb%C3%A6k_Municipality.

PR here: https://github.com/whosonfirst-data/whosonfirst-data-admin-dk/pull/14

[2021-02-08 17:30] stepps00 commented on #1925
Thanks @c960657 - we'll take a look.

[2021-02-08 17:49] #1925 closed

[2021-02-09 23:10] stepps00 commented on #1903
PR started here: https://github.com/whosonfirst-data/whosonfirst-data-admin-id/pull/10

[2021-02-09 23:23] missinglink commented on #1092
I had a look at this today, these PA (Planning Areas) are not exactly what the locals would refer to as neighbourhoods.

For instance many online travel websites will talk about 'Sentosa' as a neighbourhood but the PA for that is 'Southern Islands'.
Another example on the mainland (main island!?) is 'Chinatown' in the PA of 'Outram'.

Just wanted to highlight that, I think someone will need to mak

[2021-02-09 23:29] missinglink commented on #1109
Added a comment on https://github.com/whosonfirst-data/whosonfirst-data/issues/1092#issuecomment-776312261 regarding subdivisions of the planning areas.

[2021-02-10 00:06] missinglink commented on #1109
note: the link above to `singstat.gov.sg` is now returning 404, this one works:
https://www.singstat.gov.sg/-/media/files/publications/population/population2019-map1.pdf

[2021-02-10 00:11] missinglink commented on #1109
The `data.gov.sg` website lists data downloads for `region`, `planning area` and `subzone` KML files published under the [Singapore Open Data Licence](https://data.gov.sg/open-data-licence).

https://data.gov.sg/search?q=boundary+2019

[2021-02-10 00:18] missinglink commented on #1092
Sources: https://data.gov.sg/search?q=boundary+2019

#### Master Plan 2019 Planning Area Boundary (No Sea)

<img width="849" alt="Screenshot 2021-02-10 at 13 16 15" src="https://user-images.githubusercontent.com/738069/107445961-5c290c00-6ba2-11eb-92c5-d3bd6c88d80e.png">

### Master Plan 2019 Subzone Boundary (No Sea)

<img width="800" alt="Screenshot 2021-02-10 at 13 15 20" src="https://user-imag

[2021-02-10 01:54] nvkelso commented on #1092
@stepps00 can you take a fresh look, please?

[2021-02-10 01:56] nvkelso commented on #1109
That license is workable for WOF.

[2021-02-10 02:23] missinglink commented on #1109
What is the desired placetype mapping for Singapore, does this look right?

[Country](https://en.wikipedia.org/wiki/Singapore) -> `wof:placetype=country`
[City](https://en.wikipedia.org/wiki/Singapore) -> `wof:placetype=macroregion`
[Regions](https://en.wikipedia.org/wiki/Regions_of_Singapore) -> `wof:placetype=region`
[Planing Areas](https://en.wikipedia.org/wiki/Planning_Areas_of_Singapore) -> `

[2021-02-12 01:50] stepps00 commented on #1109
Because of the relatively low amount of records in Singapore and workable source license, this may be an issue I can fix with a PR over the next couple of weeks.

@missinglink I haven't dug into the placetype mapping in Singapore yet, but at first glance, I'd imagine the placetype structure could be something like this:

[Country](https://en.wikipedia.org/wiki/Singapore) -> `wof:placetype=country`

[2021-02-12 03:41] missinglink commented on #1109
That was the other scheme I was considering.

You didn't mention the Regions in your structure above.

The tricky thing with Singapore is that the Country and City are coterminous and the Regions are a subdivision of that coterminous area.

So either the City of Singapore is in a place type *above* region (such as `macroregion`) or the City is a `county`, but then the Regions parent the City which

[2021-02-13 00:51] stepps00 commented on #1109
Ah - I just updated my comment above.. I placed the "regions" at the borough level and "planning areas" at the macrohood placetype.

IMO, "Singapore" should be a locality, so it's just a matter of placing the remaining subdivisions at a placetype below locality. I'm also open to suggestion if there are strong opinions on placetypes in Singapore.

[2021-02-17 22:34] thisisaaronland opened #1926 "KLAS (airport) set to be renamed"
This hasn't happened yet so this is a placeholder issue to make sure we don't forget:

[code]

https://onemileatatime.com/las-vegas-airport-harry-reid/

Once the change has happened we should simply supersede the existing record with a new one and update the name.

https://spelunker.whosonfirst.org/id/102527209/

[2021-02-22 23:54] #1924 closed

[2021-02-22 23:59] stepps00 opened #1927 "Review records with identical population values"
Here's a script to help try detect records with this issue:

[code]

[code]

The full list includes 7912 potential dupes:
https://gist.github.com/missinglink/fddf8840ee557ba83e60a24f7b8de4b9

I also noticed that there's a lot of records with a 0 population, or a population <100 which seems like maybe an error?

_Originally posted by @missinglink in https://github.com/whosonfirst-data/whosonfirst-d

[2021-02-23 00:00] stepps00 commented on #1927
More relevant comments in https://github.com/whosonfirst-data/whosonfirst-data/issues/1924.

[2021-02-23 00:01] stepps00 commented on #1924
We've updated the Sao Paolo records identified in the initial comment - that work is now merged to the `whosonfirst-data-admin-br` repo. I've opened https://github.com/whosonfirst-data/whosonfirst-data/issues/1927 as a follow up to tackle the other cases found in this issue.

[2021-02-23 00:25] #1911 closed

[2021-02-23 02:05] missinglink commented on #1927
many of the duplicate populations are under ~100, some are under 10 people and quite a few with 0.
I believe (for the most part) these are errors?

would you consider adding an exportify option which avoids setting `pop == 0` and maybe `pop <= n`?

[2021-02-23 02:38] missinglink commented on #1924
Thanks, we also made some small label fixes and results are looking much better now 🎉

<img width="732" alt="Screenshot 2021-02-23 at 15 38 11" src="https://user-images.githubusercontent.com/738069/108796260-331a6980-75ed-11eb-8a13-67c18da6bef3.png">

[2021-02-23 17:54] #1912 closed

[2021-02-24 06:43] nvkelso commented on #1109
@stepps00 your proposal makes sense to me, please proceed.

In practice, there might be some subzones (neighbourhoods) that are more like microhoods (a few norths and souths), and a few that should also be dual listed as placetype `campus` (airports, hospitals, university). Housing estates are unique and might also sometimes quality for campus treatment. But basic approach would be to import every

[2021-02-24 19:36] #538 closed

[2021-02-24 21:56] stepps00 commented on #1109
I'm going to start pushing commits to a new branch with updated records in Singapore, but:

I think this can be represented in WOF using `wof:placetype_alt` properties in this placetype setup:

[Country](https://en.wikipedia.org/wiki/Singapore) -> `wof:placetype=country` (coterminous)
[City](https://en.wikipedia.org/wiki/Singapore) -> `wof:placetype=region` (coterminous)
[City](https://en.wikipedi

[2021-02-27 01:07] stepps00 opened #1928 "QA Quattroshapes locality coverage"
Noting that other countries suffer from popcorn localities can be determined looking upstream at Quattroshapes [makefile](https://github.com/foursquare/quattroshapes/blob/master/open_administrative_data/Makefile) for countries that were made using `quattroshapes_localities_priority_and_extras_master_post_diss_attr2.shp` file.

These are the original 16 countries with popcorn shapes locality from q

[2021-02-27 23:15] missinglink opened #1929 "Calling Codes"
I stumbled on this cool map of calling codes recently:
https://en.m.wikipedia.org/wiki/File:Country_calling_codes_map.svg

It seems calling code prefixes map pretty well to geographic regions, so maybe one day we might include these in WOF?

![calling codes](https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Country_calling_codes_map.svg/800px-Country_calling_codes_map.svg.png)

[2021-02-27 23:16] missinglink commented on #1929
Prior work: https://github.com/whosonfirst-data/whosonfirst-data/pull/893

[2021-02-27 23:19] missinglink commented on #1929
Are calling code maybe already available via these properties? If so any idea of the coverage?

https://github.com/whosonfirst/whosonfirst-properties/tree/master/properties/itu

[2021-02-28 00:13] ImreSamu commented on #1929
imho: via Wikidata - it is easy to add:
* country calling code (P474):  https://www.wikidata.org/wiki/Property_talk:P474
* local dialing code (P473) :     https://www.wikidata.org/wiki/Property_talk:P473

[2021-02-28 00:16] nvkelso commented on #1929
These should already be included on `country`, `dependency`, and rarely `region` placetypes via #893 and the Statoids import. Certainly it's worth 2x checking them against Wikidata, too :)

If you see any issues please note them here, else we can close the issue.

[2021-02-28 03:17] missinglink commented on #1929
Great thanks, I'll have a look at what's already there next week and report back.

[2021-02-28 23:33] missinglink commented on #1929
[code]

[2021-02-28 23:33] #1929 closed

[2021-03-04 11:48] tomtaylor commented on #1915
@stepps00 thanks! (sorry for the slow reply!)

[2021-03-04 19:55] missinglink commented on #1915
I believe `SW18 1AG` is a newer postcode which might serve well as a test case.

[2021-03-08 19:10] nvkelso opened #1930 "Add support for worldview / point of view alt geoms"
WOF sister issue to https://github.com/nvkelso/natural-earth-vector/issues/301.

I've been editing Natural Earth the last year to add support for a wide range of "points of view" (sometimes called worldview). This issue tracks that work, and is related to https://github.com/nvkelso/natural-earth-vector/issues/108 – this is issue is more general.

More info in the two related Tilezen release notes

[2021-03-08 19:11] nvkelso commented on #1930
- Update disputed areas
- Add country alternate geometries for POV for the "home country" and the "opinion" countries.

[2021-03-08 19:12] nvkelso commented on #1930
Here's pre-release v5 Natural Earth:

- [ne_disputed_v5-pre.zip](https://github.com/whosonfirst-data/whosonfirst-data/files/6103619/ne_disputed_v5-pre.zip)

[2021-03-09 17:09] thisisaaronland commented on #1930
This smells like a blog post.

[2021-03-09 19:29] #1109 closed

[2021-03-09 19:32] stepps00 commented on #1109
@missinglink this work should be complete, curious what improvements Pelias sees from these updates.

PR with fixes: https://github.com/whosonfirst-data/whosonfirst-data-admin-sg/pull/9
New source: https://github.com/whosonfirst/whosonfirst-sources/blob/master/sources/sg-sggov.json

[2021-03-09 19:33] stepps00 commented on #1092
This was complete through https://github.com/whosonfirst-data/whosonfirst-data-admin-sg/pull/9, new source here: https://github.com/whosonfirst/whosonfirst-sources/blob/master/sources/sg-sggov.json

Closing.

[2021-03-09 19:33] #1092 closed

[2021-03-17 21:20] stepps00 commented on #1930
@nvkelso I'm wrapping up the prep work for this issue and found nine disputed records in Who's On First that are not in the NaturalEarth files you linked to above.

Here's a shapefile of the diff (places in WOF, not in NE): [disputed_diff.zip](https://github.com/whosonfirst-data/whosonfirst-data/files/6159775/disputed_diff.zip)

[2021-03-18 17:59] nvkelso commented on #1930
Here's a shapefile from Natural Earth v5-pre showing the defacto country boundaries. Please review WOF to make sure the default geom reflects defacto in the same way so we can cookie-cutter the disputed in seamlessly for the different point-of-view geoms.

- [ne_10m_admin_0_countries_v5-pre.zip](https://github.com/whosonfirst-data/whosonfirst-data/files/6166313/ne_10m_admin_0_countries_v5-pre.zip)

[2021-03-19 18:20] SilvrDuck commented on #1897
Hey @stepps00,

Through more investigation, I found the following `localities` that have the same issue of having a lake as a `localadmin`.

[code]

Do you want me to open a new issue at [whosonfirst-data/whosonfirst-data-admin-ch](https://github.com/whosonfirst-data/whosonfirst-data-admin-ch)?

**While investigating that, I also found another interesting issue:**

Some localities have their `fra_

[2021-03-19 18:42] stepps00 commented on #1930
As I review all of the disputed places in both Who's On First and NaturalEarth, I'm noticing a handful of discrepancies. I'm tracking a list of those issues in [this comment](https://github.com/whosonfirst-data/whosonfirst-data-admin-xx/pull/12#issuecomment-799802085), which will be helpful in updating the NaturalEarth files provided above.

[2021-03-19 18:43] stepps00 commented on #1897
Hey @SilvrDuck - thanks for the info. I'll use your comment to spin off into a new issue.. let's chat about the problem in that new issue.

[2021-03-19 18:44] stepps00 opened #1931 "Update Switzerland locality records"
Hey @stepps00,

Through more investigation, I found the following `localities` that have the same issue of having a lake as a `localadmin`.

[code]

Do you want me to open a new issue at [whosonfirst-data/whosonfirst-data-admin-ch](https://github.com/whosonfirst-data/whosonfirst-data-admin-ch)?

**While investigating that, I also found another interesting issue:**

Some localities have their `fra_

[2021-03-22 23:43] stepps00 opened #1932 "County of Al Gharba, UAE was renamed"
https://spelunker.whosonfirst.org/id/1376826403/

According to [Wikipedia](https://en.wikipedia.org/wiki/Al_Dhafra,_Abu_Dhabi), the county of "Al Ghardba" was renamed a few years ago to "Al Dhafra". The name and label properties in this record should be updated to reflect that name change.

[2021-03-29 18:32] stepps00 commented on #1068
This issue will be fixed as a subtask of https://github.com/whosonfirst-data/whosonfirst-data/issues/1930.

[2021-03-29 18:32] stepps00 commented on #1580
This issue will be fixed as a subtask of https://github.com/whosonfirst-data/whosonfirst-data/issues/1930.

[2021-03-29 18:32] stepps00 commented on #1408
This issue will be fixed as a subtask of https://github.com/whosonfirst-data/whosonfirst-data/issues/1930.

[2021-03-29 18:59] stepps00 commented on #170
This specific issue with Arunachal Pradesh is complete, but there is additional work around this disputed place taking place through https://github.com/whosonfirst-data/whosonfirst-data/issues/1930.

Closing this issue, tracking additional updates to this record through the PR for #1930.

[2021-03-29 18:59] #170 closed

[2021-03-30 00:25] stepps00 commented on #975
Bumping this issue because I've found a solution using Shapely that should fix these long-standing geometry issues. Some of the records listed in this issue have already had their geometries fixed, but [here](https://github.com/whosonfirst-data/whosonfirst-data/files/6225294/invalid_ids.csv.txt) is a list of records that seem to still be invalid.

I'll try to prioritize this issue this week, link

[2021-03-31 23:32] stepps00 commented on #6
This will be taken care of through https://github.com/whosonfirst-data/whosonfirst-data-admin-xx/pull/12.

[2021-04-05 22:40] #1932 closed

[2021-04-07 09:51] mihaicosareanu-bolt opened #1933 "Harlesdon neighborhood should be named Harlesden"
Hello!

https://spelunker.whosonfirst.org/id/85787935/

This neighbourhood should have the `eng_x_preferred` changed to Harlesden as per some of our support cases.

Thank you!

Mihai

[2021-04-07 13:00] mihaicosareanu-bolt opened #1934 "Poland - Myslowice polygon is incorrect"
Hello there!

We noticed that the polygon of Myslowice is incorrectly defined, it is way bigger than the city itself. Here is the spelunker link: https://spelunker.whosonfirst.org/id/101752123/

Can we correct the polygon for this city?

Thank you!

[2021-04-07 13:02] mihaicosareanu-bolt opened #1935 "Sweden - The polygon of Goteburg is incorrect"
Hello there!

The polygon of Goteburg (https://spelunker.whosonfirst.org/id/101752295/) is incorrect as a locality. It contains for example the Molndal city which is different from Goteburg.

Can we fix it?

Thank you!

[2021-04-07 13:06] mihaicosareanu-bolt opened #1936 "Latvia - Balozi polygon and duplicates"
Hi there!

I observed multiple duplicates for the city of Balozi in Latvia, many of them don't have a polygon, but this one has: https://spelunker.whosonfirst.org/id/1175612925/. However, the polygon is not correct.

Can we fix the polygon?

Thanks!

[2021-04-07 13:09] mihaicosareanu-bolt opened #1937 "Lithuania - Kaunas polygon is wrongly defined"
Hi there!

We identified that the Kaunas city polygon (https://spelunker.whosonfirst.org/id/101752745/) is wrongly defined as it contains some other cities as well, e.g. Noreikiškės

Can we fix it?

Thank you!

[2021-04-07 15:49] nvkelso commented on #1935
Thanks for the report! Is there a better source of data we should be using, and could you help integrate it?

[2021-04-07 15:50] nvkelso commented on #1934
Thanks for the report! Is there a better source of data we should be using, and could you help integrate it?

@stepps00 can you verify if the Spelunker shape is accurate vis-a-vis what's in Github?

[2021-04-07 15:55] nvkelso commented on #1933
Want to file a PR via [WOF Write Field editor](https://writefield.nextzen.org/place/edit?url=https%3A%2F%2Fraw.githubusercontent.com%2Fwhosonfirst-data%2Fwhosonfirst-data-admin-gb%2Fmaster%2Fdata%2F857%2F879%2F35%2F85787935.geojson)?

[2021-04-07 16:39] stepps00 commented on #1934
Here's the shape in GitHub: https://github.com/whosonfirst-data/whosonfirst-data-admin-pl/blob/master/data/101/752/123/101752123.geojson

The shapes look the similar, but I think there are slight differences due to clipping/alignment to the [pl-gugik](https://github.com/whosonfirst/whosonfirst-sources/blob/master/sources/pl-gugik.json) source. It may be worthwhile to review locality shapes again,

[2021-04-07 16:41] stepps00 commented on #1936
Thanks for the tip, @mihaicosareanu-bolt.. WOF data in Latvia could use a review and comparison to another dataset. Do you happen to know of any administrative datasets for Latvia?

[2021-04-07 16:42] stepps00 commented on #1937
Agree there is some work to do in Lithuania. Another issues at the admin2 (county) level: https://github.com/whosonfirst-data/whosonfirst-data/issues/917.

Do you happen to know of any sources for administrative data in this country?

[2021-04-08 07:39] mihaicosareanu-bolt commented on #1933
Wow that's so cool! I didn't know about that tool :D Thanks a lot!

[2021-04-08 07:59] mihaicosareanu-bolt commented on #1934
I played a bit with Poland's geo portal which seems to have a much more accurate polygon, although I didn't find any way of exporting it. Will look around a bit more and if I find something, I'll add a comment. https://mapy.geoportal.gov.pl/imap/Imgp_2.html?gpmap=gp0&locale=en

The ux on the geoportal is a bit weird, you need to locate the Search -> General and then type the city name "Myslowice"

[2021-04-08 09:07] mihaicosareanu-bolt commented on #1936
I don't have much experience with GIS services to test this one: https://dpps.viss.gov.lv/DPPS.REQ/URN_IVIS_100001_ISS-VIDM-WMS_ATR_02022021-v1-0/guest/URN_IVIS_100273_LIC-EB3E6FD85096D1489BACDA09E746CFC3?request=GetCapabilities&service=WMS

It appears to be the official Administrative Territory dataset. I got to it from here: https://geolatvija.lv/geo/search

There's also a web visualizer, but it

[2021-04-08 09:19] mihaicosareanu-bolt commented on #1937
Exploring a bit through their data, they have this portal: https://www.geoportal.lt/geoportal/
I used google translate to get to an Administrative Boundaries data set: https://www.geoportal.lt/map#portalAction=openService&serviceUrl=https://www.geoportal.lt/gwa/services/LEIP/adm_ribos_adresai/MapServer/WMSServer

The web viewer displays only bounding boxes, but it seems that there is a WMS Server,

[2021-04-08 10:34] mihaicosareanu-bolt commented on #1936
I found a data set that looks pretty good for regions and seems to be ok license-wise, it can be downloaded here: https://geolatvija.lv/geo/p/658

Might be a good idea to refresh the regions as well if we can

However, it doesn't have data for cities. I'll keep on searching.

[2021-04-09 00:12] stepps00 commented on #1930
Work on the `disputed` placetype is nearly complete for this issue and `country` records are currently being updated in branches in all ~260 per-country repos. A quick summary of the work that has been done so far:

- WOF has gained a handful of new `disputed` records, along with new NE properties and concordances at this placetype
- `country` boundaries have been aligned to one another to fix lar

[2021-04-09 20:46] orangejulius commented on #1274
A Pelias user recently mentioned a potential data source for Canadian Postal codes: https://www.serviceobjects.com/blog/unique-us-canadian-zip-code-files-available-download/

There's nothing there about licensing, so I wonder if we want to investigate further. I'm sure we all want better Canadian postal code data, but we don't want Canada Post coming after us either 😅