[2021-04-09 21:46] stepps00 commented on #1274
Hey @orangejulius, great timing! I actually reached out to them earlier this week and was pointed to this license info:

https://www.serviceobjects.com/zip-eula

The relevant snippet:

At this point, it doesn't look to be useable in Who's On First.. but we're always on the lookout for CA postalcode data. I'll update here if I see any changes in the license terms.

[2021-04-10 01:46] orangejulius commented on #1274
Ohh, very good to know! I guess we won't be using that data any time soon.

[2021-04-12 09:47] mihaicosareanu-bolt commented on #1934
Is this data usable or should I look for something else? I'm not sure how you guys are looking for this kind of data sources, some docs would be useful to understand better :)

[2021-04-12 09:48] mihaicosareanu-bolt commented on #1935
I've researched a bit and didn't yet find a free polygon dataset for Sweden (only some paid MIT stuff). Do you have a process to approach the dataset search? I understand it's quite time consuming and I can help you with it, but I feel that I don't quite know how to search for it

[2021-04-12 18:10] #1933 closed

[2021-04-14 01:26] stepps00 commented on #1930
I've added these new alt features with the `{id}-alt-{source}-interior.geojson` convention for now, but can update filenames/prop values before merge if needed.

[2021-04-15 21:47] stepps00 commented on #975
Some additional validation work done on WOF's `constituency` geometries, added [here](https://github.com/whosonfirst-data/whosonfirst-data-constituency-us/commit/57626b41a23a74d6fda7b303d976effe6e7aa972?short_path=c0c5c5d#diff-c0c5c5d511e584d5c41e0ebc3d2e9c4bbff2a57b60bef3db36345421e7829404).

[2021-04-16 23:17] stepps00 commented on #1934
Thanks for this link @mihaicosareanu-bolt, I'm taking a look at this source now.

Who's On First requires a `CC0`, `CC-BY`, or equivalent license for import for new data imports. Poking around the geoportal link you provided, I am noticing links back to the same [pl-gugik](https://github.com/whosonfirst/whosonfirst-sources/blob/master/sources/pl-gugik.json) source that was used for the initial adm

[2021-04-19 17:14] thisisaaronland opened #1938 "Add Kukes International Airport"
* https://www.airport-technology.com/news/albania-kukes-international-airport/
* https://github.com/whosonfirst-data/whosonfirst-data-admin-al

[2021-04-19 17:30] ImreSamu commented on #1938
* https://www.wikidata.org/wiki/Q1431804  "Kukës International Airport"
* https://en.wikipedia.org/wiki/Kuk%C3%ABs_International_Airport

[2021-04-21 23:13] stepps00 opened #1939 "Update locality records in the UAE"
Opening this issue to track geometry and property updates at the locality placetype in the UAE. In some cases where localities are coterminous with their parent county, locality records maintain a Point geometry.

In these handful of records, locality records should be updated with a more accurate polygon, and flagged as coterminous with a county using the `wof:coterminous` property.

[2021-04-23 15:29] #1939 closed

[2021-04-29 23:40] stepps00 commented on #1454
Fixed by https://github.com/whosonfirst-data/whosonfirst-data-admin-kr/pull/13.

[2021-04-29 23:40] #1454 closed

[2021-04-30 19:27] thisisaaronland commented on #1938
* https://github.com/whosonfirst-data/whosonfirst-data-admin-al/commit/c49dd3ecc9fb455a75b04f07faa90d41c731ee65
* https://github.com/whosonfirst-data/whosonfirst-data-admin-al/commit/a0dc5b56de5281566b01d548d17662ed6cb46acc
* https://github.com/whosonfirst-data/whosonfirst-data-admin-al/commit/3885eedadaceba886543d66524b9ff64c5734371

[2021-04-30 19:27] #1938 closed

[2021-05-04 04:44] dwsilk opened #1940 "New Zealand localities - update with official names"
https://data.linz.govt.nz/table/105353-fire-and-emergency-nz-localities-nzgb-compliant-names/

This dataset contains 688 official names where the FENZ Localities dataset (previously incorporated into whosonfirst here: https://github.com/whosonfirst-data/whosonfirst-data/issues/1878) currently contains an unofficial alternative.

FYI @stepps00 @nvkelso @justinelliotmeyers

I'd have a go at a PR for

[2021-05-04 19:17] stepps00 commented on #1940
@dwsilk this is great.. do you have an example Who's On First record that currently contains an unofficial alternative name that differs from the name in the above dataset? Are updates needed to all 688 respective records in Who's On First?

We will take a look a look and try to import these names; we'll ping you on a PR once started.

[2021-05-04 20:00] justinelliotmeyers commented on #1940
@dwsilk Thanks for sharing this resource!!!

[2021-05-07 20:58] stepps00 commented on #1940
Got it, thanks for the examples. I agree with the **Pūrākaunui** example, but I'm also remembering some of the name work that was done during the last LINZ import.

During the last import, some parenthetical names, like **Te Henga (Bethells Beach)** were split (**Te Henga** and **Bethells Beach**). In some (many?) cases, the LINZ names included both an English name and a Maori name, so WOF preferr

[2021-05-07 22:22] dwsilk commented on #1940
I think both should be **Te Henga (Bethells Beach)**. That is the [official name](https://gazetteer.linz.govt.nz/place/5938).

Where alternative official names exist there are two records in the Gazetteer, e.g. [North Island](https://gazetteer.linz.govt.nz/place/54453) and [Te Ika-a-Māui](https://gazetteer.linz.govt.nz/place/54454). This is rare.

It's much more common that a single official name

[2021-05-10 03:14] missinglink commented on #1940
Wait... so you're saying the Māori name is "Te Henga (Bethells Beach)" and the English name is also "Te Henga (Bethells Beach)"?

[2021-05-10 10:04] dwsilk commented on #1940
No, I'm saying that the name is **Te Henga (Bethells Beach)** and I think that `wof:name` and `name:eng_x_preferred` should both use that official name. Are there `name:mri_x_preferred` populated in Who's On First too?

For additional context, the [Standard for New Zealand place names](https://www.linz.govt.nz/system/files_force/media/doc/nzgbs60002_standard_for_new_zealand_place_names.pdf) contai

[2021-05-12 19:06] nvkelso commented on #1940
I'm open to considering using the compound name in `wof:name`, but agree with @missinglink that `name:eng_x_preferred` and `name:mri_x_preferred` have specific meanings now that shouldn't change as it would exist existing consumers of the data.

The default `wof:name` is there for downstream consumers who don't have much additional display logic, and generally we try to make that "English" or ASCI

[2021-05-12 20:17] thisisaaronland commented on #1940
The rules for `wof:name` are only that:

* There is a _default_ language for names across the entire corpus. Today it is English but in the future it could be Chinese or Spanish or something else.
* That name is transliterated according to the rules of the default language. In the case of English we say 7-bit ASCII.

By that logic the name "Te Henga (Bethells Beach)" seems fine to me as a `wof:nam

[2021-05-14 01:09] bamyers99 commented on #1322
I have just finished removing backlinks to wof that had been placed on non-geographical wikidata items.
I have generated a tsv file that lists the wof items that are pointing to these wikidata items: [https://gist.github.com/bamyers99/467e31c9791701e5c21a729d3dfcf1a0](url)

[2021-05-15 21:07] dwsilk commented on #1940
Ah I would never have guessed that this would be a uniquely New Zealand problem (especially the problem around introducing non-ASCII placenames in English).

I noticed that [Taupō](https://spelunker.whosonfirst.org/id/101914385/) has `eng_gb_x_preferred : Taupō` (?) and `eng_x_preferred : Taupo`. If `eng_x_preferred` needs to remain ASCII, then maybe the solution is an `eng_nz_x_preferred : Taupō`

[2021-05-15 21:46] thisisaaronland commented on #1940
The `name:` properties are expected to be full Unicode so anything goes, so to speak. The 7-bit ASCII rule is only for `wof:name` properties.

[2021-05-17 01:11] missinglink commented on #1940
Agh yeah actually you're right that English *could* contain non-ASCII chars in rare cases where loan-words enter from other languages, although I can't think of any off the top of my head, there is a tendency to ascii-fold those words when they enter the English language, like café -> cafe, I have no doubt this is not universal, but seems extremely very common.

So while the ASCII rule may not be

[2021-05-17 01:15] missinglink commented on #1940
The `wof:lang_x_official` and `wof:lang_x_spoken` fields are super useful to hunt out and find the local languages when one or the other field is not set.

<img width="343" alt="Screenshot 2021-05-17 at 13 14 20" src="https://user-images.githubusercontent.com/738069/118420015-cc9b7800-b711-11eb-8ddf-ea81894af48a.png">

[2021-05-17 01:36] missinglink commented on #1940
As Nathanial mentioned, Switzerland has a lot of similarities, my wife is from `Bern/Berne/Bärn/Berna` (whatever you want to call it 😆 ) but the difference is that CH has "linguistic regions", so we can definitively say that the default name is `Bern` as that is the name in `DE-CH` which is the language region to which the city belongs.

New Zealand is different in that there are two officially sp

[2021-05-17 12:26] Joxit opened #1941 "Australia Localadmin - wrong polygon / missing localadmin"
Hi there,

I was looking for Gledswood Hill localadmin in Australia and I found that Gledswood Hill was missing and Catherine Field polygon was wrong.

![image](https://user-images.githubusercontent.com/5153882/118470949-7d504a00-b707-11eb-99f0-dfb14cc73c9c.png)
In the image blue lines are from portal.spatial.nsw.gov.au and red/green bubbles from WOF. The read area is the polygon of Catherine Fiel

[2021-05-17 18:39] stepps00 commented on #1941
Hi @joxit - there is some discussion about updating Australia admin data in https://github.com/whosonfirst-data/whosonfirst-data/issues/1879.

Perhaps @NickStallman has more information about this case.

[2021-05-17 18:44] stepps00 commented on #1322
Thanks @bamyers99 - your gist is very helpful. For these ~1800 WOF records, it looks like the solution is to:

- Remove the existing `wd:id` concordance
- Review `name:` properties (some names were pulled from Wikidata)

[2021-05-21 03:11] justinelliotmeyers commented on #1937
@stepps00 I got all this if you need it!

[2021-05-21 03:12] justinelliotmeyers commented on #1936
@stepps00 I have the admins here (*mentioned above) - cities are a long different story - which I can help explain (*massive headache)

[2021-05-21 03:14] justinelliotmeyers opened #1942 "rwanda villages"
https://datacatalog.worldbank.org/dataset/rwanda-admin-boundaries-and-villages

**there are cities above these, and they are more informal, but what you will see on all maps. This data is missing them. Locals understand these villages.  lmk if you have questions.

J

[2021-05-21 17:26] stepps00 commented on #1937
@justinelliotmeyers is your source different than the geoportal site linked above? We admittedly haven't dug into the Lithuania data since this issue was opened, so happy to poke around another source.

[2021-05-21 17:30] stepps00 commented on #1942
Nice, thanks for this dataset. Looks like the license terms are `CC-BY 4.0`, which works with WOF's license.
Would you happen to have a source for the cities, too? I'd be curious to compare the two placetypes with what is in WOF.

[2021-05-21 17:51] justinelliotmeyers commented on #1937
https://www.registrucentras.lt/p/1201

but there is a layer of wild complexity with this data:
https://github.com/justinelliotmeyers/Lithuania_Oficialus_Gyvenvietes

lmk if you need further guidance - its a beast!

[2021-05-21 17:56] justinelliotmeyers commented on #1942
@stepps00
Sorry, only a dev dataset (*can't share) - with a little elbow grease... page 19 (4) - https://microdata.statistics.gov.rw/index.php/catalog/65/download/513

sometimes they use district/ sector/ cell names. I was told this level of govt is not official, although official, and not currently mapped/ maintained.

[2021-05-25 12:21] zifeo commented on #1931
@stepps00 Do you have an ETA for handling those cases? Happy to give a shot if you can point me in the right direction as always :)

[2021-05-25 20:42] #1627 closed

[2021-05-25 22:19] stepps00 commented on #1931
Hi @zifeo, thanks for pinging this issue.. we have not taken a look at this issue recently, but we'll investigate.

If a PR was crafted in the Switzerland admin repo, would you mind reviewing and offering your thoughts on the changes?

[2021-05-25 23:07] zifeo commented on #1931
@stepps00 Eager to learn & review :)

[2021-06-04 15:39] veskiii opened #1943 "County Poznan appears as "Loredan Popa""
Poznań has the name "Loredan popa" in all languages except Polish.
<img width="583" alt="Screenshot 2021-06-04 at 17 38 21" src="https://user-images.githubusercontent.com/56825599/120827365-aa03be80-c55b-11eb-9c42-44b5fc3df951.png">

[2021-06-04 16:37] stepps00 commented on #1943
Place: https://spelunker.whosonfirst.org/id/102079921/

It looks like these names are coming in from Wikidata. Who's On First maintains [Q6680284](https://www.wikidata.org/wiki/Q6680284) as the Wikidata concordance for this place, which is incorrect.

We'll file a PR to fix the concordance and names shortly.

[2021-06-08 04:25] nvkelso commented on #1943
Will be fixed via related PR https://github.com/whosonfirst-data/whosonfirst-data-admin-pl/pull/35.

[2021-06-08 16:48] #1943 closed

[2021-06-08 17:44] #1931 closed

[2021-06-08 23:52] thisisaaronland opened #1944 "Southern Ocean"
https://www.nationalgeographic.com/environment/article/theres-a-new-ocean-now-can-you-name-all-five-southern-ocean

[2021-06-09 01:24] nvkelso commented on #1944
I was part of those debates long ago and preemptively created https://spelunker.whosonfirst.org/id/404528707/ already ;)

[2021-06-09 01:24] #1944 closed

[2021-06-09 15:45] thisisaaronland commented on #1944
Go us! You should write a blog post about this.

[2021-06-10 07:11] tst-abat opened #1945 "Multiple WhosOnFirst-entries for Bremen (Germany). One is wrong!"
Hello folks,

there are two whosonfirst entries for the German city Bremen:

Entry with type "locality":
[Wrong entry](https://spelunker.whosonfirst.org/id/101913887/)

Entry with type "localadmin":
[Correct entry](https://spelunker.whosonfirst.org/id/1377689379/)

The first entry contains wrong information and therefore the Pelias engine returns wrong addresses.
For example, the region is Lower S

[2021-06-10 22:07] nvkelso commented on #1945
The `locality` placetype is a core building block in Who's On First. It sounds like we should copy over the information from the `localadmin` to the `locality` and mark them as coterminous? What do you think @stepps00?

[2021-06-11 00:00] stepps00 commented on #1945
Thanks for the report, @tst-abat

These issues all boil down to Who's On First maintaining an inaccurate centroid on the locality record. The fix here would be:

- Update the centroid geometries in the Bremen locality record
- re-PIP the locality + descendant records to fix the issues seen in Pelias
- Flag the localadmin and locality as coterminous (and verifying other placetypes are flagged as co

[2021-06-11 16:41] #1945 closed

[2021-06-14 07:43] tst-abat commented on #1945
Hello @stepps00,

thanks for the really quick implementation and correction of the data. That's great!
I don't know if it's good practice to comment here again after closing an issue, but I have a question:
For example, the hierarchy of the corrected entry still shows the following:

`the country of Germany`
`the continent of Europe`
`the region of Lower Saxony`
`the county of Diepholz`
`the local

[2021-06-14 16:55] stepps00 commented on #1945
Hi @tst-abat, no problem. The issue you're seeing is that our Spelunker tool is not yet up to date with the most recent data changes. The hierarchy of [this place](https://raw.githubusercontent.com/whosonfirst-data/whosonfirst-data-admin-de/master/data/101/913/887/101913887.geojson) in WOF now looks like this:

`the country of Germany`
`the continent of Europe`
`the region of Bremen`
`the county o

[2021-06-16 20:48] SilvrDuck opened #1946 "Wrong geometry for Switzerland"
Exploring Swiss data, I found two instances where geometries where wrong, inducing wrong hierarchy for some addresses in these areas. Here is the info I have gathered for now.

# La Tour-de-Trême

_La Tour-de-Trême_ [1126014799](https://spelunker.whosonfirst.org/id/1126014799/) is a Swiss `locality` that should have _Bulle_ [404568447](https://spelunker.whosonfirst.org/id/404568447/) as `localadmi

[2021-06-16 22:01] stepps00 commented on #1946
Hi @SilvrDuck - thanks for the report.

After reviewing our locality and localadmin coverage, I don't believe there are any geometry issues; I think the issue here is we're comparing locality and localadmin records to one another (rather than comparing localities to localities, and localadmin to localadmin).

I do agree that some hierarchies could be improved, but those issues will likely be taken

[2021-06-17 12:07] SilvrDuck commented on #1946
Thanks for your answer. I was unaware that some postal codes (`locality`) boundaries do not match with the respective communes (`localadmin`), but you are indeed right. This can be seen on the [official swisstopo map](https://map.geo.admin.ch/?time=None&lang=fr&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo-vd.ortschaftenverzeichnis_plz,ch.swisstopo.zeitreihen,ch.bfs.gebaeude_

[2021-06-17 15:33] straup opened #1947 "Incorporate historical US post office data"
https://github.com/cblevins/us-post-offices/

[2021-06-17 16:17] thisisaaronland commented on #1926
This has happened.

https://onemileatatime.com/las-vegas-airport-harry-reid/

[2021-06-18 09:15] tst-abat commented on #1945
Hello again,

thank you for your answers!
Is it already foreseeable when the changes will be available? Spelunker is not up to date yet and under [Geocode earth](https://pelias.github.io/compare/#/v1/search?boundary.country=DE&text=An+der+Reeperbahn+10+28217+Bremen) I don't see any difference yet either.

So it doesn't make sense yet to ask ORS to rebuild their Pelias index.

I also have another q

[2021-06-18 18:05] nvkelso commented on #1945
Hello @tst-abat. This data issue was fixed via https://github.com/whosonfirst-data/whosonfirst-data-admin-de/pull/46 a few days ago. That means the data in the Github repo now has the correct changes.

I'm not sure why Geocode.Earth might not incorporate this change yet. @orangejulius might you know?

As to the Spelunker it only receives occasional updates right now so it's expected to be out of d

[2021-06-24 10:00] tst-abat commented on #1945
Dear @nvkelso and @stepps00,

thank you for your support. It is running again and ORS now finds the correct data for Bremen when searching for a specific address. If only Bremen is searched for, an entry for Lower Saxony is returned in addition to the correct entry. But this does not bother me. The problem is now solved.

Thanks again and all the best. You are doing a great job!

Many greetings
ts

[2021-06-26 00:11] stepps00 commented on #1946
Here is some documentation about setting up a PIP service to update WOF hierarchies: https://github.com/whosonfirst/whosonfirst-cookbook/blob/master/how_to/setting_up_pip_service.md

This requires several steps, so we typically use these PIP tools to update hierarchies before merging branches with updated WOF geometries in a single go.

Places with multiple "parent" records (like NYC) require manu

[2021-06-28 23:16] stepps00 opened #1948 "Update admin records in Luxembourg"
Moving a conversation from [here](https://github.com/whosonfirst-data/whosonfirst-data-admin-lu/issues/13) to a new issue.

Luxembourg data in Who's On First should be updated to reflect the country's current administrative structure. The existing [region](https://spelunker.whosonfirst.org/id/85633275/descendants/?exclude=nullisland&placetype=region) records in Luxembourg have been dissolved and r

[2021-07-08 08:03] cafsenra opened #1949 "Localadmin for Porto, Portugal"
The city of Porto has seven localadmin:
- Aldoar, Foz do Douro e Nevogilde
- Bonfim
- Campanhã
- Cedofeita, Santo Ildefonso, Sé, Miragaia, São Nicolau e Vitória
- Lordelo do Ouro e Massarelos
- Paranhos
- Ramalde

Nevertheless, it seems that all neighbourhood appears to belong to "Cedofeita, Santo Ildefonso, Sé, Miragaia, São Nicolau e Vitória".
For example, if we check neighbourhood "Bonfim" (htt

[2021-07-08 08:37] missinglink commented on #1949
hi @cafsenra, a couple quick observations:

This polygon: https://spelunker.whosonfirst.org/id/1125358961/ doesn't seem to match the shape of the one on wikipedia

<img width="250" alt="Screenshot 2021-07-08 at 10 33 08" src="https://user-images.githubusercontent.com/738069/124890008-b7650a80-e02b-11eb-9257-26d273b850a1.png">

<img width="280" alt="Screenshot 2021-07-08 at 10 33 37" src="https://u

[2021-07-08 08:53] cafsenra commented on #1949
Hi @missinglink, thank you for your observations ;)
Indeed, there might be issues at the parent geometries. For the city of Porto all neighbourhood are wrongly associated to localadmin Cedofeita, Santo Ildefonso, Sé, Miragaia, São Nicolau e Vitória. Another example is Ramalde neighbourhood (https://spelunker.whosonfirst.org/id/1126095623/) who is wrongly associated to localadmin Cedofeita, Santo I

[2021-07-08 09:06] cafsenra commented on #1949
Others examples are "Paranhos" neighbourhood (https://spelunker.whosonfirst.org/id/1126085087/), "Campanhã" (https://spelunker.whosonfirst.org/id/85798957/), "Aldoar" (https://spelunker.whosonfirst.org/id/1126064737/), etc.
They shouldn't be "Cedofeita, Santo Ildefonso, Sé, Miragaia, São Nicolau e Vitória" localadmin, but they should be respectively "Paranhos", "Campanhã" and "Aldoar, Foz do Douro

[2021-07-08 10:11] missinglink commented on #1949
Hi folks, so Stephen Epps is the maintainer, he's based in us-west, since I'm in eu-central I can give you some pointers.

You can use a filter on the spelunker to list things like:
- [all the localadmin records](https://spelunker.whosonfirst.org/search/?iso=pt&placetype=localadmin)
- [all the neighbourhood records](https://spelunker.whosonfirst.org/search/?iso=pt&placetype=neighbourhood)

With yo

[2021-07-08 10:14] missinglink commented on #1949
I believe the data was sourced from https://www.dgterritorio.gov.pt/dados_abertos/caop/
Is that the best open data to use?

If you're working with them could you please mention that link has an invalid SSL cert and returns 404 😄

[2021-07-08 10:55] justinelliotmeyers commented on #1949
@missinglink I have more granular data for Portugal from official sources. what is the easiest format for you to work with? I can upload so you can look.

Cheers,
Justin

[2021-07-08 11:46] justinelliotmeyers commented on #1949
[Desktop.zip](https://github.com/whosonfirst-data/whosonfirst-data/files/6784154/Desktop.zip)

here are the centroids in shapefile format - if you think these will assist you or @stepps00 I can get you my working polygons or raw data as well. I plan on fully developing these soon, but need to wrap up a few other projects.  Cheers!

[2021-07-08 14:42] missinglink commented on #1949
Is there a link to the official license text, I could only find [legal restrictions](https://snig.dgterritorio.gov.pt/rndg/srv/por/catalog.search#/metadata/198497815bf647ecaa990c34c42e932e) with a big "Open Data" stamp on it 😄

<img width="1041" alt="Screenshot 2021-07-08 at 16 41 42" src="https://user-images.githubusercontent.com/738069/124941821-33c51100-e05f-11eb-8659-9e86f6f8bca6.png">

[2021-07-08 19:15] gabriellaIO opened #1950 "American Samoa Shape Issue "id": 85632697"
The shape "id": 85632697, or American Samoa from quattroshapes is mis-aligned with the coordinates of the mapbox basemap. The shapes of the islands falls a few miles too far to the west which is an issue when doing raster math with additional datasets, ie. remote sensing data over the region does not fully intersect with the shape of the island.

<img width="281" alt="Screen Shot 2021-07-08 at 3 1

[2021-07-08 19:52] stepps00 commented on #1950
Thanks for the issue, @gabriellaIO

There are a handful of geometries for places in the Pacific Ocean that have similar issues. When we take a look and propose changes, we'll flag this issue with an update.

[2021-07-08 20:13] stepps00 commented on #1949
@cafsenra - thanks for the issue.. and thanks all for the links/comments.

~Two years ago, Who's On First gained new localadmin geometries from Portugal's "Directorate-General for the Territorial Development of Portugal" ([source information](https://github.com/whosonfirst/whosonfirst-sources/blob/master/sources/pt-dgt.json)), as part of https://github.com/whosonfirst-data/whosonfirst-data/issues/

[2021-07-08 20:57] justinelliotmeyers commented on #1949
@missinglink always the other pain to figure out. So after some digging: https://snig.dgterritorio.gov.pt/rndg/srv/por/catalog.search#/metadata/198497815bf647ecaa990c34c42e932e

does this work for you?

[2021-07-09 15:52] gabriellaIO commented on #1950
Thanks for the update @stepps00. Would you happen to have a list of all the shapes with this issue?

[2021-07-09 22:39] stepps00 commented on #1950
I don't have a full list, but this is a good place to start: https://spelunker.whosonfirst.org/id/102191583/descendants/?exclude=nullisland&placetype=country

This is a list of all countries in Oceania, some of which may have similar geometry precision issues.

[2021-07-19 23:07] #1948 closed

[2021-07-19 23:08] stepps00 commented on #1149
This was completed through https://github.com/whosonfirst-data/whosonfirst-data-admin-lu/pull/14, closing.

[2021-07-19 23:08] #1149 closed

[2021-07-27 10:29] assaflavi opened #1951 "Wrong population figure for Detroit, Illinois (85939649)"
Population for this tiny village in Illinois is listed as 680250, probably taken from the record for Detroit, Michigan.

Best data I could find for this locality is 81, taken from US Census Bureau (2019):
https://www2.census.gov/programs-surveys/popest/tables/2010-2019/cities/totals/SUB-IP-EST2019-ANNRES-17.xlsx

[2021-07-27 16:05] stepps00 commented on #1951
Fixed through https://github.com/whosonfirst-data/whosonfirst-data-admin-us/pull/100.

[2021-07-27 16:05] #1951 closed

[2021-07-27 18:18] stepps00 opened #1952 "Update Riyadh neighbourhoods"
Who's On First neighbourhood records in Saudi Arabia contain mostly Point geometries. Let's QA existing neighbourhoods in Riyadh (perhaps other large cities, too?) and update accordingly.

### tl;dr

Status:
- [ ] Propose **sources**
- [ ] Establish **concordances** between WOF and source
- [ ] **Upgrade / add** WOF shapes
- [ ] **Add new or missing** features to WOF
- [ ] **Deprecate / supersede*

[2021-07-29 08:50] cafsenra commented on #1949
@missinglink and @stepps00 is there any updates on this issue? There is a timeline for solving this issue? How can we help?

I provided several examples on the city of Porto, it is hard to provide more, specially outside Porto, but I think the examples I provided are enough to see the problem. Please let me know if you are blocked and what you need to go further.

Thanks!

[2021-07-29 18:22] stepps00 commented on #1949
Hey @cafsenra - thanks for flagging this issue. I've taken another look at all current WOF records in/around Porto, some notes about what needs to be done, below. Let me know your thoughts.

- The locality of [Porto](https://spelunker.whosonfirst.org/id/101752093) has a geometry sourced from Quattroshapes, which doesn't fully cover the extent of all of the seven parishes in Porto. This geometry sh

[2021-07-30 09:56] cafsenra commented on #1949
Hey @stepps00 - thanks for the reply.
I fully agree with your notes. I am available to have a role as reviewer to help QA changes. Please let me know when can you craft a PR with data changes.
Also agreed that might exists a problem in more areas of Portugal. If it is that the case, we might open a new issue for country-wide fixes later.

[2021-08-01 04:24] sdacunha commented on #1571
Hi, I just wanted to follow up on this issue - I just noticed that the geometry for the Tokyo locality looks pretty odd - is this expected for now? I apologize if this has been covered elsewhere since I'm new to using the dataset directly.

[2021-08-02 16:00] #1952 closed

[2021-08-02 16:13] stepps00 commented on #1571
Hi @sdacunha - the geometry for the Tokyo locality in Who's On First isn't as accurate as could be.. this is expected for now, but we'll flag this issue when we push an update to the record (hopefully soon!).

[2021-08-02 16:58] nvkelso commented on #1571
@sdacunha how were you using the dataset before?

[2021-08-02 17:12] stepps00 commented on #1949
@cafsenra would you happen to have a source for neighbourhood polygon data in Porto? I've reviewed links in this issue, which point back to the data we're using for localadmin places, but unable to find neighbourhood geometries. I've looked through datasets on [Porto's Open Data portal](https://opendata.porto.digital/), but I am unable to find that data.

cc @justinelliotmeyers

[2021-08-02 17:21] justinelliotmeyers commented on #1571
I have 2010 and 2015 census data if you need it. GSI might have data too. lmk 'eh

[2021-08-02 22:44] sdacunha commented on #1571
Appreciate the update - that make sense.

[2021-08-02 22:46] sdacunha commented on #1571
We were using it indirectly with Pelias for our admin related geocoding, but now we need the geometry for localities, regions and countries so I fetch GeoJSON as needed from the sqlite dbs.

[2021-08-03 20:08] justinelliotmeyers commented on #420
https://www.comune.roma.it/TERRITORIO/geoserver/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=toponomastica:SuddivisioniToponomastica&SRSNAME=EPSG:6708&outputFormat=SHAPE-ZIP

https://www.comune.roma.it/TERRITORIO/geoserver/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=statistica:ZoneUrbanistiche&SRSNAME=EPSG:6708&outputFormat=SHAPE-ZIP

@nvkelso  @stepps00 I just emailed y

[2021-08-03 20:09] stepps00 opened #1953 "Review mz zoom properties"
There is some number of WOF records that have both `mz:min_zoom` and `mz:max_zoom` property values set to `0.0`.  A subset of those records, below:

[code]

In many (all?) of these cases, the `lbl:max_zoom` is set to `18.0`, which is meant to mask the place name from appearing as a map label. I suspect these `mz:` properties were set to zero at some point to mask them from display, too, but we sho

[2021-08-03 21:08] stepps00 commented on #420
This is great, thanks @justinelliotmeyers. I dug into both datasets, it's a bit confusing trying to understand the difference between the two divisions.

It looks like the Suddivisioni Toponomastica data represent "historical subdivisions", made up of 22 "rioni", 35 "quartieri", 6 "suburbi", and 53 "zones."

While the Zone Urbanistiche are defined as: "the urban subdivision represented by the 155

[2021-08-03 23:33] #1889 closed

[2021-08-04 19:56] justinelliotmeyers commented on #420
http://websit.cittametropolitanaroma.it/Download.aspx

has good copyright if we need to use a different source - split out by similar source, did not check actual data

[2021-08-05 21:40] stepps00 commented on #1640
This issue is complete for the countries listed in the initial comment.

We're planning some upcoming localization work to fill in various localization coverage for certain languages.. once that work is complete, I'll QA top-level placetypes again to ensure we haven't missed any records. We should track future work in a new issue.

[2021-08-05 21:40] #1640 closed

[2021-08-06 08:44] cafsenra commented on #1949
@stepps00 I am currently on vacations, however @jaimeventura had contacted the city hall in order to get the information we need. Please stay tuned, we will deliver this information counting that this information exists on city hall side (and we expect that it does).

[2021-08-06 20:37] stepps00 commented on #1949
Thanks for the update - worth noting that it would be very helpful to include the data license along with any data provided by City Hall... we're looking forward to seeing neighbourhood shapes.

[2021-08-09 20:17] azaroth42 opened #1954 "Duplicate entries"
https://spelunker.whosonfirst.org/id/1125920321/ and https://spelunker.whosonfirst.org/id/1126039789/
both identify the same locality (Rāwandūz) with a different latinized form of the name.

Suggest that 1126039789 be superseded by 1125920321 ?

(hopefully more to come as I look through my placeholder reconciliation errors)

[2021-08-09 20:41] azaroth42 commented on #1954
102527841 and 1125889935  -- first looks better.

[2021-08-10 00:01] stepps00 commented on #1954
Thanks for the issue @azaroth42

I agree there are duplicate records for Iraqi localities that could use superseding work. We can look for more duplicates across that repository, but feel free to send over any other cases you see. Also, I'm curious how you found these duplicate records.. could you describe how you're using WOF data / finding these errors?

[2021-08-10 13:03] azaroth42 commented on #1954
I'm testing the accuracy of [placeholder](https://github.com/pelias/placeholder) by:

* Finding records in our data that have a match in wikidata, where the wikidata record has a WOF identifier in its record. This reconciliation happens normally via the Library of Congress Name Authority File,  FAST, VIAF or Geonames, so something like:  record -> external -> wikidata -> WOF. This found identifier

[2021-08-10 14:57] stepps00 commented on #1954
That's great, thank you for the detail! Feel free to append more duplicate entries for us to investigate.

I should also mention that the second case you noted (102527841 and 1125889935) is actually acceptable for WOF. In this case, one record is a [campus placetype](https://github.com/whosonfirst/whosonfirst-placetypes/#campus) and one is a [locality placetype](https://github.com/whosonfirst/whos

[2021-08-10 19:58] azaroth42 commented on #1954
* 890497213 vs 890500103
* 101996545 vs 1242831929
* 102013341 is missing a name
* 421178327 is missing its hierarchy, but might be 890441463
* 1209010525 looks like 85633293

[2021-08-10 21:10] azaroth42 commented on #1954
* 1276470415 vs 101913783

[2021-08-10 21:21] azaroth42 commented on #1954
* 1125897265 is at null island

[2021-08-10 21:57] thisisaaronland commented on #1954
@azaroth42 If a place is "visiting" Null Island that means we lack coordinate information for that place (hence `0.0, 0.0`). This was mostly to accommodate postal code and airport records from the original GeoPlanet exports   but there are also localadmin records, from the Quattroshapes exports, that lack well-known geometries.

* https://spelunker.whosonfirst.org/nullisland/
* https://spelunker.w

[2021-08-11 16:42] azaroth42 commented on #1954
* 890513295 vs 890512759 -- different names for the same place?

[2021-08-11 18:07] azaroth42 commented on #1954
* 1209526271 vs 1209221025 -- different latinizations of same place?

[2021-08-13 06:26] jaimeventura commented on #1949
After contacting the appropriate city service, i was told that there are small differences between the national chart and the municipality's chart, and, for legal issues, the national chart should be used.

Having that said, they provided the direct link to the info on the same website you mentioned before:
http://mapas.dgterritorio.pt/ATOM-download/CAOP-Cont/Cont_AAD_CAOP2020.zip

The person i ta

[2021-08-13 20:05] stepps00 commented on #1949
Thanks for reaching out to them @jaimeventura

Reviewing the files you provided, it looks like these geometries are identical to what WOF already has at the localadmin placetype (and what I propose we adds as boroughs, too). Are there additional files for smaller divisions in Porto that we'd be able to import as neighbourhoods?

[2021-08-16 08:57] cafsenra commented on #1949
Hi @stepps00,

If the geometries are identical to what WOF already has at localadmin, then something is wrong, cause there is seven localadmin, and the WOF only shows one localadmin. These are the seven localadmin (Freguesia):

[code]

Can you identify in the json what you propose as neighbourhoods as I done to the localadmin?

[2021-08-16 16:38] stepps00 commented on #1949
The seven localadmin that represent the Freguesias of Porto are here:

- https://github.com/whosonfirst-data/whosonfirst-data-admin-pt/blob/master/data/151/168/038/5/1511680385.geojson
- https://github.com/whosonfirst-data/whosonfirst-data-admin-pt/blob/master/data/151/168/037/5/1511680375.geojson
- https://github.com/whosonfirst-data/whosonfirst-data-admin-pt/blob/master/data/151/168/032/5/151168

[2021-08-16 21:00] stepps00 opened #1955 "Update neighbourhoods in Mecca, SA"
### tl;dr

Status:
- [ ] Propose **sources**
- [ ] Establish **concordances** between WOF and source
- [ ] **Upgrade / add** WOF shapes
- [ ] **Add new or missing** features to WOF
- [ ] **Deprecate / supersede** WOF features
- [ ] **Draft review**
- [ ] **Draft revisions** based on review comments
- [ ] **Final review**
- [ ] **Final revisions** based on review comments
- [ ] **Import** into Who'

[2021-08-17 08:11] missinglink opened #1956 "concordances updates"
heya,

I was looking at the record for [Berlin](https://raw.githubusercontent.com/whosonfirst-data/whosonfirst-data-admin-de/master/data/101/909/779/101909779.geojson) today and noticed that the `wof:concordances` structure is missing some of the foreign keys found elsewhere in the file.

I think we can resolve this programmatically to bring the `wof:concordances` up-to-date.

What I'm currently d

[2021-08-17 20:24] stepps00 commented on #1956
Sure!

In this case, we'd want to ignore the `qs:id` concordance since it has a 0 value, similar to the way we should handle `gn:id` concordances of -99. Also, some background on `qs:id` versus `qs_pg:id`, here: https://github.com/whosonfirst/whosonfirst-sources/issues/63.

[2021-08-18 10:47] missinglink commented on #1956
I've added a script to the `wof` cli tool in https://github.com/pelias/wof/pull/37

I believe the command listed in the description of that ticket to be sufficient to programmatically produce byte-for-byte compatible WOF files which can be used directly in a PR, although it's been a long road to get here 😄

There'r still a few issues with `exportify`, such as it being quite slow when spawning a ne

[2021-08-18 12:01] missinglink commented on #1956
I've opened some automated PRs against Singapore so we can discuss for a smaller geography first:
- https://github.com/whosonfirst-data/whosonfirst-data-admin-sg/pull/12
- https://github.com/whosonfirst-data/whosonfirst-data-admin-sg/pull/13

[2021-08-18 13:17] cafsenra commented on #1949
Ok I think that the neighbourhood are actually the same of localadmin for "Ramalde", "Paranhos", "Bonfim" and "Campanhã", but not for "União das freguesias de Aldoar, Foz do Douro e Nevogilde", "Freguesia": "União das freguesias de Cedofeita, Santo Ildefonso, Sé, Miragaia, São Nicolau e Vitória" and "União das freguesias de Aldoar, Foz do Douro e Nevogilde", cause those localadmin aggregates neigh

[2021-08-18 17:01] #1955 closed

[2021-08-24 11:13] taygun opened #1958 "Locality geometry mismatch"
Hello 👋
How is the geometry for this locality generated https://spelunker.whosonfirst.org/id/1125935985/?
In spelunker I see the locality polygon drawn on map, but checking the github data the geometry for this locality is a point  https://github.com/whosonfirst-data/whosonfirst-data-admin-ee/blob/master/data/112/593/598/5/1125935985.geojson

[2021-08-24 17:48] nvkelso commented on #1958
The polygon you see in Spelunker is for the parent. Instead this feature is just a point geometry originally from the Quattroshapes point gazetteer, which merged the records from GeoNames (GN) and Where On Earth (WOE).

[2021-08-24 17:48] #1958 closed

[2021-08-24 21:14] stepps00 commented on #1958
@taygun a bit confusing since the Spelunker tool and GitHub are out of sync at the moment, but the polygon you're seeing in the Spelunker is the geometry for this locality's parent: https://github.com/whosonfirst-data/whosonfirst-data-admin-ee/blob/master/data/171/331/094/3/1713310943.geojson

Data source: https://github.com/whosonfirst/whosonfirst-sources/blob/main/sources/ee-mamt.json

[2021-08-27 15:28] orangejulius opened #1959 "Neighbourhood "Usa" actually referrs to University of South Alabama"
We recently noticed a neighbourhood called 'Usa' located near Mobile, Alabama. ([85885417](https://spelunker.whosonfirst.org/id/85885417/)).

It causes some problems currently since it conflicts with the USA abbreviation for the United States, and at first I thought it was just a junk record that came in somehow.

However, after some research I realized it corresponds to the [University of South A

[2021-08-28 00:58] #1959 closed

[2021-08-30 13:17] tomtaylor opened #1960 "whosonfirst-data-postalcode-gb August 2021 update"
Unfortunately I can't generate a pull request for this in the Github UI - it's too big.

I've updated https://github.com/whosonfirst-data/whosonfirst-data-postalcode-gb with the latest August 2021 release of the ONS Postcode Directory. This was created using the latest version of https://github.com/whosonfirst/wof-sync-os-postcodes.

Along with creating new postcodes and ceasing any newly terminat

[2021-08-30 13:18] tomtaylor commented on #1960
cc @stepps00 @vicchi @missinglink

[2021-08-30 14:19] missinglink commented on #1960
oof, yeah I'm trying to get it to work on the CLI, big repo!

[2021-08-30 14:25] tomtaylor commented on #1960
Yeah, landing shortly is the script that gets everything set up on the 64GB VM with ram disk, needed to actually perform the sync! 😬

[2021-08-30 14:36] missinglink commented on #1960
Is git having difficulties because of the amount of changes made in this PR, or are there relatively few changes but the amount of total files in the repo is the problem?

[2021-08-30 14:50] tomtaylor commented on #1960
I think it's the ~3M files in the repo - reading lots of tiny files really hurts the performance. This has a reasonable number of changes, but no more than previous updates.

[2021-08-30 15:11] tomtaylor commented on #1960
Added some docs about performing the sync for future generations to discover: https://github.com/whosonfirst/wof-sync-os-postcodes#performing-the-sync

[2021-09-03 23:08] stepps00 opened #1961 "Import admin names from Natural Earth"
New name translations have been added to Natural Earth recently (commits: [1](https://github.com/nvkelso/natural-earth-vector/commit/1fb6dc0e67a41baddb8dbe7aec58d94f1735d67a), [2](https://github.com/nvkelso/natural-earth-vector/commit/b7199ec373c79cbb9bf61d66f437d8a0feeb8afe), [3](https://github.com/nvkelso/natural-earth-vector/commit/7277195fb3afe8f2fdfd1bdf69e8a542aac98a72), [4](https://github.c

[2021-09-07 16:19] #1916 closed

[2021-09-08 00:29] stepps00 commented on #1949
@cafsenra @jaimeventura I took a shot at creating new neighbourhood shapes for Porto using the existing localadmin geometries as a baseline. Take a look at them here: https://gist.github.com/stepps00/11ccb8af26dceb84b525c52ff62182df

I used existing WOF data, satellite imagery, streetlines, and Wikipedia pages to estimate where the boundaries roughly are, so these aren't perfect.. but curious what

[2021-09-08 11:01] missinglink commented on #1949
I just had a quick look and noticed the neighbourhood named `Sé`, is that the correct name to use?

<img width="259" alt="Screenshot 2021-09-08 at 13 00 15" src="https://user-images.githubusercontent.com/738069/132498049-397e9d0b-629d-4864-99bb-c31b7e8e8bf6.png">

[2021-09-08 11:58] cafsenra commented on #1949
Hi @missinglink,

Yes, the correct name is "Sé", which is located on Downtown Porto. However, Downtown Porto ("baixa"), which is the historic centre of Porto, has others neighborhoods like "Cedofeita", "Santo Ildefonso", "Miragaia", "São Nicolau" and "Vitória".

[2021-09-08 12:10] cafsenra commented on #1949
Please note that localadmin for "Sé" neighborhood is "União das freguesias de Cedofeita, Santo Ildefonso, Sé, Miragaia, São Nicolau e Vitória".

[2021-09-08 17:51] nvkelso commented on #1949
@stepps00 please remember to keep the water parts for a revgeo polygon, but the default shape should clip to the shore. Otherwise LGTM as an improvement over what's there! Some of the smaller neighbourhoods could be added as microhoods later, and maybe a few macrohoods as well? But "better than yesterday".

[2021-09-08 19:28] stepps00 commented on #1949
I've clipped these geometries to the coastline and updated the gist.. @cafsenra let me know your thoughts on these shapes. I'm curious if these shapes more or less line up with local expectations. If they look good, I'll craft a PR this week and merge the changes.

[2021-09-09 22:38] #1653 closed

[2021-09-10 08:36] cafsenra commented on #1949
Hi @stepps00,
According to the information that we have in our possession I believe that this shapes are ok. For sure it is an improvement of the previously version. As a Porto city native, I don't find any issue and the shapes looks good to me.

[2021-09-10 13:14] cafsenra commented on #1949
Hi @stepps00,
I have a second look to you map and I found some diferences with the map I had:

![image](https://user-images.githubusercontent.com/55795848/132858755-48b07db6-854a-4675-ad92-494b1b83a7b6.png)

[2021-09-13 22:32] evanhobbs-burner3 opened #1962 "San Francisco neighborhood name mispelled"
The correct name should be "Parnassus" but I'm seeing "Panassus" in places: https://github.com/whosonfirst-data/whosonfirst-data-admin-us/search?q=panassus

https://www.google.com/search?q=parnassus+san+francisco&oq=parnassus+san+fran&aqs=chrome.0.0i512j69i57j0i22i30l5j69i60.2457j0j7&sourceid=chrome&ie=UTF-8

[2021-09-14 16:02] stepps00 commented on #1962
Thanks @evanhobbs-burner3 - we'll update those neighbourhood names shortly.

[2021-09-14 18:48] #1962 closed

[2021-09-15 04:15] stepps00 opened #1963 "Backfill name properties with IATA/ICAO codes"
In many cases, airport campus records maintain IATA and ICAO codes as variant names, a few examples:

- https://spelunker.whosonfirst.org/id/102532251/ (PDX and KPDX are English name variants)
- https://spelunker.whosonfirst.org/id/102531023/ (MIA and KMIA are English name variants)

However, the IATA / ICAO codes are not listed as variant names in others. Examples:

- https://spelunker.whosonfirs

[2021-09-15 04:19] stepps00 commented on #1963
@thisisaaronland I'm considering crawling admin repos to backfill `name:eng_x_variant` properties with the IATA and ICAO concordances, when available, for airport campuses.. thoughts? Is that a fair approach?

[2021-09-15 14:18] thisisaaronland commented on #1963
👍

[2021-09-16 02:53] #1963 closed

[2021-09-16 13:05] H-ishak opened #1964 "wrong region in the city of Douera ,Algeria"
https://spelunker.whosonfirst.org/id/421174649/
this is incomplete check the latest one.
example Douera is part of Algiers not Tipaza

[2021-09-16 17:28] stepps00 commented on #1964
Locality of Douera: https://spelunker.whosonfirst.org/id/421190887/
Region of Tipaza: https://spelunker.whosonfirst.org/id/85670771/

Thanks @H-ishak - it looks like the issue here is that the geometry for the regions of Algiers and Tipaza are inaccurate, is that true? Are there other issues you've found with data in Algeria?

[2021-09-16 17:50] H-ishak commented on #1964
yes it is
i didn't test the other regions

[2021-09-16 20:57] stepps00 commented on #1964
Interesting.. would you happen to know of an openly licensed data source that we could use to update geometries for places in Algeria?

[2021-09-16 20:59] H-ishak commented on #1964
no just google maps

[2021-09-20 09:52] cafsenra commented on #1949
Hi @stepps00,

Have you looked into the map diferences? I understand that it can be frustrating working with few information, however we supplied all the information that we had. Hope that you can do improvements with the information we gatherer. The map above is a map supplied in a document from city hall.

[2021-09-20 10:37] cafsenra commented on #1949
Hi @stepps00,

We are going to ask to city hall if they can supply data for the neighbourhoods. Please hold on your changes until that. Thank you.

[2021-09-20 15:58] stepps00 commented on #1949
Thanks @cafsenra - we'll hold off on changes until the city responds. If they do not provide a data source, we can reference the map above to fine-tune our geometries.

[2021-09-20 22:45] jaimeventura commented on #1949
Hey @stepps00 ,
Ive just receive a reply from the municipality services.
Hope the file attached helps.
Thanks you for your effort
[freguesias.zip](https://github.com/whosonfirst-data/whosonfirst-data/files/7199076/freguesias.zip)
.

[2021-09-21 00:34] stepps00 commented on #1949
Thanks @jaimeventura - do you happen to have information about the data license for this `freguesias_porto.shp` file? Ideally the file is openly licensed (CC0 or CC-BY equivalient) and can be imported directly into Who's On First.

[2021-09-21 11:12] jaimeventura commented on #1949
Very pertinent question.
I've asked the municipality, and although that wouldn't be a problem, we/you may take a different approach.

Until 2013, neighbourhoods were split (meaning each neighbourhood was also a localadmin). In 2013, some neighbourhoods ( i.e. “aldoar”, “foz do Douro”, “nevogilde”) were merged as localadmins (“União de freguesias de aldoar, foz do Douro e Nevogilde”)

So, a workaro

[2021-10-06 11:24] cafsenra commented on #1949
Hi @stepps00 ,

Have you the opportunity to look to the files above? Does that help you? Is there any prediction on when can you have those changes reflected in the WOF?

Note: I am embracing a new challenge but @jaimeventura will continuous to give us all the support from municipally.

[2021-10-09 20:40] missinglink opened #1965 "geom:bbox antimeridian crossing"
Heya,

I noticed today that the `geom:bbox` calculations for geometries crossing the antimeridian are incorrect.

Eg. [Fiji](https://raw.githubusercontent.com/whosonfirst-data/whosonfirst-data-admin-fj/master/data/856/327/55/85632755.geojson) -> `"geom:bbox": "-180.0,-21.738659,180.0,-12.457111"`

<img width="305" alt="Screenshot 2021-10-09 at 22 40 23" src="https://user-images.githubusercontent.c

[2021-10-11 20:35] stepps00 commented on #1949
Hi all, we've updated the neighbourhood (and localadmin + locality) records in Porto with new `whosonfirst`-sourced geometries in https://github.com/whosonfirst-data/whosonfirst-data-admin-pt/pull/17; they'll likely be merged soon. If follow-up work is needed, let's open a new PR to track.

[2021-10-12 17:47] #1949 closed

[2021-10-12 21:48] stepps00 commented on #1068
This issue was fixed recently. The geometry of Kazakhstan no longer has a hole over the cosmodrome.

https://spelunker.whosonfirst.org/id/85632307/
https://github.com/whosonfirst-data/whosonfirst-data-admin-kz/blob/master/data/856/323/07/85632307.geojson

[2021-10-12 21:48] #1068 closed

[2021-10-12 23:37] stepps00 commented on #1218
This was completed as part of #1930.

[2021-10-12 23:37] #1218 closed

[2021-10-12 23:39] #6 closed

[2021-10-13 22:01] stepps00 commented on #1580
Disputed record: https://spelunker.whosonfirst.org/id/1159339547/
Region record: https://spelunker.whosonfirst.org/id/85688855/

These records were recently updated, let's track additional changes through #1408.

[2021-10-21 16:26] thisisaaronland opened #1966 "Add Kushinagar International Airport"
* https://simpleflying.com/kushinagar-international-airport-opens/
* https://github.com/whosonfirst-data/whosonfirst-data-admin-in/

[2021-11-09 21:56] stepps00 opened #1968 "Stapleton neighbourhood needs a name update"
https://spelunker.whosonfirst.org/id/85871347/

This place was renamed to "Central Park", more info here:

- https://en.wikipedia.org/wiki/Central_Park,_Denver
- https://denver.cbslocal.com/2020/08/01/stapleton-neighborhood-central-park/

A good case for using `name:{lang}_x_historical` name properties.

[2021-11-10 19:06] #1968 closed

[2021-11-10 22:56] stepps00 commented on #1702
This is a duplicate of https://github.com/whosonfirst-data/whosonfirst-data/issues/1662, closing.

[2021-11-10 22:56] #1702 closed

[2021-11-10 23:11] stepps00 commented on #595
This issue should be fixed for all placetypes, not just admin1/admin2. We crawled all WOF records a while back to untangle the `name:und_x_` properties.

If any `und` name was found in another namespace, it was removed from the `und` list. Then, any leftover `und` names were stored in the `name:und_x_variant` property.

We can re-open this if needed.

[2021-11-10 23:11] #595 closed

[2021-11-10 23:22] stepps00 commented on #711
The cases outlined in this issue are complete. If there are additional cases, let's open a new issue to track.

[2021-11-10 23:22] #711 closed

[2021-11-10 23:26] stepps00 commented on #1810
This was fixed as part of https://github.com/whosonfirst-data/whosonfirst-data-admin-us/pull/86.

The new "Concord" locality is here: https://raw.githubusercontent.com/whosonfirst-data/whosonfirst-data-admin-us/master/data/172/944/223/5/1729442235.geojson

[2021-11-10 23:26] #1810 closed

[2021-11-12 18:01] stepps00 commented on #1633
https://github.com/whosonfirst-data/whosonfirst-data-admin-us/pull/115

We've added a `wof:population_rank` property to the locality record for Charlotte, so we should be good here. I'll close this issue, but @henrylyne feel free to let us know if you find additional cases.

[2021-11-12 18:01] #1633 closed

[2021-11-12 18:03] #1843 closed

[2021-11-12 22:15] stepps00 commented on #1919
There are a handful of open PRs in the various admin repos, but once those are merged, it would be great to tackle this issue.

@thisisaaronland is it best for me to open `main` branches in all WOF admin repos, then flag you to convert? I believe that's what we did in other repos ([cookbook](https://github.com/whosonfirst/whosonfirst-cookbook/issues/43)) because of GH permissions.

[2021-11-12 23:09] stepps00 commented on #1448
This is no longer an issue. This work was completed through https://github.com/whosonfirst-data/whosonfirst-data-admin-id/pull/13.

[2021-11-12 23:09] #1448 closed

[2021-11-12 23:15] stepps00 commented on #133
Fairfield locality: https://github.com/whosonfirst-data/whosonfirst-data-admin-us/blob/master/data/172/944/047/3/1729440473.geojson

I believe this issue was fixed as part of a separate issue that was fixed this year, https://github.com/whosonfirst-data/whosonfirst-data/issues/538 (PR: https://github.com/whosonfirst-data/whosonfirst-data-admin-us/pull/86)

I'll close this issue, but feel free to r

[2021-11-12 23:15] #133 closed

[2021-11-12 23:17] stepps00 commented on #276
Closing, no changes are needed to these place names.

[2021-11-12 23:17] #276 closed

[2021-11-13 01:10] thisisaaronland commented on #1919
Sure, that sounds good.

[2021-11-15 23:32] stepps00 commented on #1961
This is complete, commits to admin repos were added last week. Example: [AU repo](https://github.com/whosonfirst-data/whosonfirst-data-admin-au/commit/62fe0a8b4082e9b1e16d0846ac42055f025f93c2), [JP repo](https://github.com/whosonfirst-data/whosonfirst-data-admin-jp/commit/2b7cd0d7d07aafdbd8c6d0f529da7de3a173079e).

[2021-11-15 23:32] #1961 closed

[2021-11-16 20:20] stepps00 commented on #1443
Closing this in preference of https://github.com/whosonfirst-data/whosonfirst-data/issues/1849.

[2021-11-16 20:20] #1443 closed

[2021-11-16 20:21] stepps00 commented on #1238
Closing this in preference of https://github.com/whosonfirst-data/whosonfirst-data/issues/1849, which will update place data in Ireland and verify names/geometries.

[2021-11-16 20:21] #1238 closed

[2021-11-16 20:22] stepps00 commented on #1134
Closing this in preference of https://github.com/whosonfirst-data/whosonfirst-data/issues/1849.

[2021-11-16 20:22] #1134 closed

[2021-11-17 00:44] stepps00 commented on #1849
Neighbourhood and campus placetypes aside, WOF currently has the following data / placetype structure for Ireland:

- **Country**: 1 record, maps to https://en.wikipedia.org/wiki/Republic_of_Ireland
- **Region**: 31 records, maps to https://en.wikipedia.org/wiki/Administrative_counties_of_Ireland
- **Localadmin**: 960 records, map to "Settlements"
- **Locality**: 9,462 records, map to "Settlements

[2021-11-17 18:58] nvkelso commented on #1849
Sounds good!

[2021-11-17 20:11] henrylyne commented on #1849
I see a few problems with your suggestions Stephen. Starting with Ireland, the island, it is made up of 2 different countries(Republic of Ireland and Northern Ireland) and they share a province Ulster. So some counties in Ulster belong to Northern Ireland and some belong to the Republic.This would seem to create problems for a simple linear hierarchy. So maybe it is easier to omit province as a re

[2021-11-17 20:17] justinelliotmeyers commented on #1849
**BE CAREFUL W SETTLEMENTS HERE - NOT A FULL DATASET - MISSING A LOT OF TOWNS/ CITIES** BASED ON A PREVIOUS DEV I DID SEVERAL YEARS AGO - These are also a fun little stick in the spokes: https://data.gov.ie/en_GB/dataset/townlands-osi-national-statutory-boundaries1?package_type=dataset

[2021-11-17 20:27] henrylyne commented on #1849
@justinelliotmeyers any examples of towns or cities missing? I can see villages that are missing from the list I linked to above, so I wonder if it is only smaller localities that are omitted. Some examples I found are Eyeries and Allihies, which are less than a thousand people.

[2021-11-17 20:58] justinelliotmeyers commented on #1849
@henrylyne I'd have to go back and look. This was several years ago - I just know it was a handful of small towns, probably like you mentioned. If I have time I will poke around and see if I can find dev notes/ data.

[2021-11-17 22:53] stepps00 commented on #1849
Thanks for the discussion! A few comments:

Who's On First does support multiple hierarchies, so this shouldn't be an issue.. see [New York](https://spelunker.whosonfirst.org/id/85977539/) for an example. That being said, I'm not sure if the historical counties belong in / are worth importing into Who's On First.

Aside from that, I generally agree with your placetype structure. I missed that ther

[2021-11-17 23:30] henrylyne commented on #1849
Some tweaks to your suggestion. Ignore the provinces, have county map to the commonly known 26 counties of the Republic of Ireland. Ignore the 31 county council areas, or include as Localadmin as suggested earlier, these are not the commonly recognized counties of Ireland.

Country: 1 - Republic of Ireland
County: 26 - should have 26 records that are made up of the distinct entries in the column t

[2021-11-17 23:58] stepps00 commented on #1849
Who's On First has "common" placetypes, that are maintained globally, `region` being one of them.. so we should at minimum have `country`, `region`, `county`, and `locality`. I think that would mean keeping 26 regions and 31 counties (which is close to what WOF already maintains in the country at the `region` placetype).

[2021-11-18 21:26] mmz15 opened #1969 "What CRS does whosonfirst use?"
I'm doing a spatial join with a point that has a lng, lat of -73.883669, 40.725833 with the expectation that it'll map to Middle Village, NY, which has an `id` of `420529699` and `path` of `420/529/699/420529699.geojson`. Instead, it's mapped to Elmhurst, NY (`85817879`, `858/178/79/85817879.geojson`). I suspect this might be caused by the CRS (coordinate reference system) used. Is there a field t

[2021-11-18 21:41] henrylyne commented on #1849
I'm going to be a stickler on this and insist that there are exactly 26 counties in the Republic of Ireland, any other number is wrong. If you want to include Regions, I think the 4 provinces make more sense. So it would look like

**Country: 1** Republic of Ireland
**Region: 4** - provinces https://en.wikipedia.org/wiki/Provinces_of_Ireland
**County: 26** - distinct entries in the column titled C

[2021-11-18 22:19] thisisaaronland commented on #1969
Hi @mmz15,

Who's On First documents are GeoJSON documents so `WSG-84`:

https://datatracker.ietf.org/doc/html/rfc7946#page-12

[2021-11-18 23:22] stepps00 commented on #1849
@henrylyne I agree that the 26 counties should be in Who's On First. The counties of Ireland are the first-level admin1 of the country, which maps to the Who's On First placetype of `region`. Who's On First will store the localized name for these divisions (in this case "county") in the `wof:placetype_local` property. So these features will definitely be in WOF, they'll just need to conform to WOF

[2021-11-18 23:46] mmz15 commented on #1969
Oh wow didn't know that WSG-84 applies to all GeoJSON. Thank you!

[2021-11-18 23:46] #1969 closed

[2021-11-19 00:47] henrylyne commented on #1849
Great, thanks @stepps00
I trust you know the right placetypes to use, way better than I do.

Let me know if I can help in some other way.

[2021-11-19 17:00] stepps00 commented on #1849
Thanks @henrylyne.. I've opened a pull request (work in progress) to fix this issue, here: https://github.com/whosonfirst-data/whosonfirst-data-admin-ie/pull/25

I'll let you know when this is ready for merge, it would be great to get your opinion on the changes.

[2021-11-19 19:10] thisisaaronland opened #1970 "Deprecate 756108409 (Art Institute of Chicago)"
Bunk record. Superseded by: 756110711

[2021-11-19 19:10] thisisaaronland opened #1971 "Correct address and geometry for 756110711 (Art Institute of Chicago)"
111 S Michigan Ave, Chicago, IL 60603

[2021-11-19 19:21] thisisaaronland opened #1972 "Add record for Georgia O'Keefe Museum"
https://www.okeeffemuseum.org

[2021-11-19 19:23] thisisaaronland opened #1973 "Add records for SI museums on the Mall"
Basically all of them, it seems.

[2021-11-19 19:24] thisisaaronland opened #1974 "Add records for National Gallery of Art"
https://www.nga.gov/

[2021-11-19 19:24] thisisaaronland opened #1975 "Add record for Chrysler Art Museum"
https://chrysler.org

[2021-11-19 19:26] thisisaaronland opened #1976 "Add records for Minneapolis Art Museum"
https://new.artsmia.org

[2021-11-19 19:26] thisisaaronland opened #1977 "Add record for National Museum of Anthropology (Mexico)"
https://museu.ms/museum/details/16762

[2021-11-19 19:52] nvkelso commented on #1973
Should they also get a `campus` record to group with?

[2021-11-19 20:00] thisisaaronland commented on #1973
For the Mall? Yes, I think so.

[2021-11-19 20:19] thisisaaronland commented on #1971
Paging @nikhiltri : Is there openly-licensed geographic data for the footprint (outline) of AIC that could be added to this record ?

[2021-11-19 20:20] nvkelso commented on #1973
We already have a `neighbourhood` for the Mall, but might be fun to make a `campus` for just the parts of the Mall that are SI museum?

[2021-11-19 20:37] thisisaaronland commented on #1976
Paging @kjell : Is there openly-licensed geographic data for the footprint (outline) of MIA that could be added to this record ?

[2021-11-22 22:54] nikhiltri commented on #1971
Hey @thisisaaronland. We, unfortunately, don't have anything published for the general public yet. I'll see if I can get something out there, but it'll take some time.

[2021-11-22 23:54] thisisaaronland commented on #1970
https://github.com/whosonfirst-data/whosonfirst-data-venue-us-il/commit/b74c8ac9a9e2bd75b9a68746f755895b1e54d589

[2021-11-22 23:54] #1970 closed

[2021-11-22 23:55] thisisaaronland commented on #1971
Now there is at least a single record for AIC with a correct address and centroid:

https://github.com/whosonfirst-data/whosonfirst-data-venue-us-il/commit/f045a4f9e08627334add67bf65ff2efe88bc9342

[2021-11-23 16:47] thisisaaronland commented on #1973
To do: Deprecate various "Smithsonian Institute" records where applicable:

https://spelunker.whosonfirst.org/search/?q=Smithsonian

[2021-11-23 23:51] thisisaaronland opened #1978 "Sort out multiple records for Cleveland Museum of Art"
* https://spelunker.whosonfirst.org/id/706601219/
* https://spelunker.whosonfirst.org/id/706608439/
* https://spelunker.whosonfirst.org/id/706599119/
* https://spelunker.whosonfirst.org/id/706600581/

This one should be kept, the others deprecated:

* https://spelunker.whosonfirst.org/id/706599119/

[2021-11-23 23:55] thisisaaronland opened #1979 "Add record for Centre Pompidou (Paris)"

[2021-11-23 23:57] thisisaaronland opened #1980 "Add record for Musée d'Orsay (Paris)"

[2021-11-23 23:59] thisisaaronland opened #1981 "Add record for Vatican Museums (Vatican City)"

[2021-11-24 00:00] thisisaaronland opened #1982 "Sort out multiple records for Museo del Prado"
* https://spelunker.whosonfirst.org/id/1008068569/
* https://spelunker.whosonfirst.org/id/1008068573/
* https://spelunker.whosonfirst.org/id/1008068575/

[2021-11-24 05:55] straup opened #1983 "Add record for Museo Reina Sofía"

[2021-11-24 05:57] straup opened #1984 "Add record for National Museum of Korea"

[2021-11-24 05:58] straup opened #1985 "Add record for National Gallery Singapore"

[2021-11-30 15:48] justinelliotmeyers commented on #1922
@stepps00 @nvkelso https://www.data.gov.cy/node/835?language=en

CC - BY - 40 - LETS GOOOOOOOOOOOOO!!!!!!!!!!!!!!!!!!

[2021-12-01 01:30] stepps00 commented on #1922
Nice! Poking around now.. which dataset is in your screenshot?

[2021-12-01 13:56] justinelliotmeyers commented on #1922
the one I sent in the link - think they call it one in the same - municipalities/ communities
SAME LINK:
[https://www.data.gov.cy/node/1017](url)
[https://www.data.gov.cy/dataset/%CE%B4%CE%B9%CE%BF%CE%B9%CE%BA%CE%B7%CF%84%CE%B9%CE%BA%CE%AC-%CF%8C%CF%81%CE%B9%CE%B1-%CE%B4%CE%AE%CE%BC%CF%89%CE%BD-%CE%BA%CE%B1%CE%B9-%CE%BA%CE%BF%CE%B9%CE%BD%CE%BF%CF%84%CE%AE%CF%84%CF%89%CE%BD-%CE%B4%CE%B9%CE%BF%CE%B9

[2021-12-02 12:27] watkinsm opened #1986 "Finland: Incorrectly indexed places in wof:hierarchy objects"
A handful of places have one or more -1 values at some point in their wof:hierarchy object(s). Many of those places are located in Åland, but some are also on continental Finland. The place IDs for which this occurs in continental Finland are in Kajaani, Lahti, and Kerava, and are all missing an ID at the "locality" level.

Kajaani:
85898879
85898911

Lahti:
1126093949
85898923
85898913

Kerava:
8

[2021-12-02 16:20] orangejulius opened #1987 ""San Francisco" ghost town in Minnesota"
Hi folks!

I noticed today that we have a record for the town of San Francisco in Minnesota, of all places.

[WOF record on GitHub](https://github.com/whosonfirst-data/whosonfirst-data-admin-us/blob/master/data/172/946/250/7/1729462507.geojson)

According to Wikipedia, this is a [Ghost town](https://en.wikipedia.org/wiki/San_Francisco%2C_Minnesota).

What's the best way to represent this in WOF? S

[2021-12-02 16:46] orangejulius commented on #1987
Ok great, that should be taken care of in https://github.com/whosonfirst-data/whosonfirst-data-admin-us/pull/118 (after a few false start PRs)

[2021-12-02 16:49] thisisaaronland commented on #1987
Oh, I forget to suggest adding a Wikidata concordance for the record as well. As in:

[code]

* https://www.wikidata.org/wiki/Q7413896

[2021-12-02 19:09] nvkelso commented on #1986
@stepps00 can you take a look, please? Sounds similar to the problem we saw in Switzerland earlier this year.

[2021-12-02 22:00] #1987 closed

[2021-12-02 22:09] stepps00 commented on #1986
@watkinsm thanks for the issue - I've left a few comments below.

Who's On First maintains two records for Finland - a [country](https://spelunker.whosonfirst.org/id/85633143/) and an [empire](https://spelunker.whosonfirst.org/id/136253047/). The country's geometry does not include Aland, while the empire does. This is the cause for some of these `-1` country values appearing / missing altogether.

[2021-12-03 07:09] watkinsm commented on #1986
@stepps00 that makes sense. I noticed in the placetypes graph (https://github.com/whosonfirst/whosonfirst-placetypes) that country is "common" while dependency is "common_optional". So I suppose it's logical that country shows up as incorrectly indexed since it doesn't really exist in this case, but the hierarchy supposes that it should be there, even though the graph indicates that country can be

[2021-12-03 16:40] thisisaaronland commented on #1986
@watkinsm You said:

The classifications  (common, common_optional, etc.) for placetypes are an attempt to balance the _minimal shared_ requirements for disparate projects using WOF against the complexities of all the different places on a big planet.

"Common" placetypes can be encoded using five numberic identifiers which means that if you and I have disparate projects using WOF we can reconcile

[2021-12-03 23:13] straup commented on #1978
Fixed in https://github.com/whosonfirst-data/whosonfirst-data-venue-us-oh/commit/e0681f444b32d008aea29dd010c33eca37c839ba

[2021-12-03 23:13] #1978 closed

[2021-12-06 23:58] stepps00 commented on #1859
https://spelunker.whosonfirst.org/id/1141909309/

Who's On First does have a record for this place, with a geometry sourced from Natural Earth. Closing.

[2021-12-06 23:58] #1859 closed

[2021-12-07 09:48] missinglink opened #1988 "South Aegean Islands"
I noticed today we don't have a records for [Santorini](https://en.wikipedia.org/wiki/Santorini) or any of the popular tourist Islands in the South Aegean region of Greece.

- https://spelunker.whosonfirst.org/id/85684659/
- https://www.openstreetmap.org/relation/453964
- https://www.openstreetmap.org/relation/530652

[2021-12-07 09:50] missinglink commented on #1988
possible dupe/related https://github.com/whosonfirst-data/whosonfirst-data/issues/1754

[2021-12-07 17:44] #1515 closed

[2021-12-07 18:07] stepps00 commented on #1988
Likely related to https://github.com/whosonfirst-data/whosonfirst-data/issues/1145, which took care of `region` records in the country. It sounds like Who's On First is also missing locality and other placetype data in Greece, too.

Much of the data here is released under a CC-BY 3.0 license, it may be a source for new records & geometries.

[2021-12-07 23:34] stepps00 commented on #726
These duplicate pairs were taken care of (one of each of the pairs marked as is_current = 0) through https://github.com/whosonfirst-data/whosonfirst-data/pull/1343. Closing this issue, can re-open or create a new issue if needed.

[2021-12-07 23:34] #726 closed

[2021-12-09 21:43] #1849 closed

[2021-12-09 22:15] #1499 closed

[2021-12-09 23:59] #1780 closed

[2021-12-13 23:32] #1822 closed

[2021-12-14 13:33] missinglink opened #1989 "invalid json - whosonfirst-data-admin-ie repo"
There is an alt geom in the `whosonfirst-data-admin-ie` repo which is invalid JSON:

[code]

cc @stepps00 this is unfortunately breaking the builds, I'm going to add some code to skip these records but it would great to have this fixed soon if possible 🙏

[2021-12-14 13:35] missinglink commented on #1989
I ran a script to check the rest of the `whosonfirst-data-admin-ie` repo and this was the only feature suffering this issue.

[2021-12-14 15:46] #1989 closed

[2021-12-14 15:49] stepps00 commented on #1989
Thanks @missinglink - I've fixed this in https://github.com/whosonfirst-data/whosonfirst-data-admin-ie/pull/26, and merged the PR. This shouldn't have slipped by.

I mentioned in the PR comments that we use the validation tools before merging PRs. This bunk json either slipped by somehow, or the validation tool wasn't used correctly. I'll have to review the workflow so this sort of thing doesn't h

[2021-12-14 17:01] missinglink commented on #1989
awesome thanks, this is a quick script I wrangled together to check that all files in the `data/` dir are valid JSON, we could add something like that to a git precommit hook or github action.

[code]

[2021-12-14 17:21] thisisaaronland commented on #1989
I am not opposed to commit hooks but I would prefer to roll this sort of thing in to tools/packages in https://github.com/whosonfirst/go-whosonfirst-validate

At least that way we can generate pre-compiled binaries and not make `jq` and everything needed to install it a dependency.

[2021-12-14 18:15] missinglink commented on #1989
builds have all been regenerated today, I manually removed that one file but it'll come back in on the next build in a few hours now it's fixed.

unfortunately I'm not able to recover from these errors in the bundling code since it uses a streaming JSON parser, when it hits invalid tokens there's no way for the parser to know how many subsequent tokens to discard to resume the stream at the next r

[2021-12-14 19:37] thisisaaronland commented on #1989
Okay, the `wof-validate` tool in `whosonfirst/go-whosonfirst-validate` has been updated to ensure a known-valid WOF URI that can be parsed as valid GeoJSON:

https://github.com/whosonfirst/go-whosonfirst-validate/blob/main/cmd/wof-validate/main.go#L44-L60

The remaining validation tests (there is currently only one for name tags) continue to be optional. More validations are welcome.

This would b

[2021-12-30 22:27] stepps00 opened #1990 "Japan: Review neighbourhood zoom levels"
The `mz:min_zoom` and `mz:max_zoom` values in Japan neighbourhood records (representing Chomes) could use a round of review.

There are ~8300 neighbourhood records in Japan, and when displayed on a map using existing zoom values, causes many labels to appear in dense areas around zooms 15/16.

A few QGIS screenshots of coverage around Tokyo:

![Screen Shot 2021-12-17 at 10 07 47 AM](https://user-i

[2022-01-07 18:05] #1990 closed

[2022-01-17 14:55] sindile opened #1991 "Update localadmin for South Africa"
It seems that the localadmin data for South Africa is outdated.
For example:
Nxuba - 1125271139
Nkonkobe - 1125278467
The above were merged. How do I send the new boundary data?

[2022-01-18 15:18] missinglink commented on #1991
Hi @sindile, could you please provide some links to an authoritative + openly licensed data source which could be used as a replacement?

[2022-01-18 15:42] sindile commented on #1991
Hi @missinglink
The institution responsible for boundary redetermination is the https://www.demarcation.org.za/#
The smallest unit is the ward, which are agreggated into municipalities:
wards - https://dataportal-mdb-sa.opendata.arcgis.com/datasets/9092c804a70a49efa40932082eacdb55_0
local municipality - https://dataportal-mdb-sa.opendata.arcgis.com/datasets/f676be280ea94648999d176d58a5e772_0
distr

[2022-01-18 16:12] missinglink commented on #1991
Thanks @sindile, it's not clear how this data is licensed and if that license allows it to be included in whosonfirst.

<img width="237" alt="Screenshot 2022-01-18 at 17 08 54" src="https://user-images.githubusercontent.com/738069/149974562-8715497c-eeeb-475d-8788-92a812275a7d.png">

Are you able to clarify how this data is licensed?

[2022-01-18 16:42] sindile commented on #1991
Hi @missinglink
Generally in South Africa data collected by public institutions is public data.
I can find out from the Municipal Demarcation Board and report back.
I might as well add that the data currently used in WOF would have come from the Municipal Demarcation Board.

[2022-01-19 00:41] stepps00 commented on #975
This issue should be fixed. All WOF geometries are valid according to the GeoJSON spec, and should index in ElasticSearch without issue.

[2022-01-19 00:41] #975 closed

[2022-01-19 20:24] #1398 closed

[2022-01-19 20:24] #1579 closed

[2022-01-20 10:02] artemChernitsov opened #1992 "Incorrect locality in search results in WI, USA (North America project)"
Just enter in search "639 Baxter Drive Mukwonago"
https://pelias.github.io/compare/#/v1/autocomplete?text=639+Baxter+Drive+Mukwonago

**Expected behavior**
Locality must be Mukwonago, not Waterford.

Looks like this is due to there being two overlapping polygons by this issue https://github.com/pelias/docker/issues/281:

https://spelunker.whosonfirst.org/id/101732271/
https://spelunker.whosonfirst

[2022-01-20 10:08] missinglink commented on #1992
Actually on closer inspection these polygons don't actually overlap, I think this issue might be on the Pelias end, sorry for the noise.

<img width="610" alt="Screenshot 2022-01-20 at 11 07 11" src="https://user-images.githubusercontent.com/738069/150317792-6ddd5aba-2380-424b-bd0f-e8a986c22d0f.png">

[2022-01-20 10:38] missinglink commented on #1992
confirmed it's a Pelias issue, this can be closed 🙇

[2022-01-21 00:52] nvkelso commented on #1992
No worries!

[2022-01-21 00:52] #1992 closed

[2022-01-21 01:05] nvkelso commented on #1991
@stepps00 can you take a look, please?

[2022-01-21 05:46] sindile commented on #1991
Hi @missinglink @nvkelso @stepps00
Here is the clarification from the Municipal Demarcation Board
![image](https://user-images.githubusercontent.com/1027916/150472821-6e18f00a-b672-4d5a-9feb-44b6669c6fd7.png)

[2022-01-22 01:04] stepps00 commented on #1991
This data looks great.. thanks for following up with license information, @sindile

I'm unable to find a license through the dataportal links above, but I will take a closer look once we start to import. The links provide enough to update WOF records at all placetypes in South Africa. I'll set aside time next week to compare features and reply here with an update.

[2022-01-22 07:29] sindile commented on #1991
I am glad to have been of assistance and looking forward to the updates.

[2022-01-25 16:24] thisisaaronland opened #1993 "CITATION files"
* https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-citation-files

Might be worth adding to all the `-data` repositories? If yes, I can automate that work.

cc @nvkelso @stepps00

[2022-01-25 19:03] nvkelso commented on #1993
We'd need to include a link back to the full license which lists all the source data in the citation.

[2022-01-26 20:34] stepps00 commented on #1991
I spent a bit of time reviewing the source data from the Municipal Demarcation Board, comparing it with existing WOF records. I'd propose the following changes per placetype:

- **Country**
	- No changes
- **Region (Provinces)**
	- No changes
	- Dissolving the district municipalities on the "DISTRICT" attribute results in the same regions currently in WOF
- **County (District Municipalities)**
	-

[2022-01-27 00:48] nvkelso commented on #1991
Sounds like a good plan.

Are the localities often crossing the localadmin boundaries? Is this a multi-hierarchy issue?

If the localities are primary in terms of government administration then I think multi-hierarchy with multiple localadmin.

Generally WOF tries to treat localities (not localadmin) as the "essential question", so I'd hesitate to cut up the localties to fit inside single localadm

[2022-01-27 01:01] stepps00 commented on #1991
There are only a handful of cases where a locality polygon overlaps these parent source geometries (counties).. and in each case, it looks like an issue with the locality polygon.. I will provide some examples/screenshots in a PR once I start updates in the repo.

[2022-01-27 13:30] sindile commented on #1991
I hope my comments below will make your life easy.

**Here are the list of changes that are applicable, this is mainly due to name changes**

- Sarah Baartman (Cacadu - 1108730515)

- City of Johannesburg (Johannesburg - 1108730509) there is another Johannesburg - 102089581

- King Cetshwayo (Uthungulu - 1108730563)

- Harry Gwala (Sisonke - 1108730569

- Garden Route (Eden - 1108730621)

**New lo

[2022-01-27 18:47] stepps00 commented on #1991
Great, thanks for the additional info. I've updated my comment to call out some needed name changes at the county and localadmin placetypes.

There are no names associated with them. These are called wards and are referred using the numbers under "WardNo" field.
As an example refer to the picture below: one would say I leave in Beacon Bay and the ward is Ward 28 in Buffalo City Municipality. They

[2022-02-07 22:44] stepps00 commented on #1991
We'll be tracking updates to South Africa admin records in this PR: https://github.com/whosonfirst-data/whosonfirst-data-admin-za/pull/14

[2022-02-11 12:20] tomtaylor commented on #1960
I'd love to get this merged! Who should I speak to?

[2022-02-11 14:00] missinglink commented on #1960
Ok, I figured out a workflow using `bare` clones which would allow this to get reviewed cc/ @stepps00

[code]

[2022-02-11 14:13] missinglink commented on #1960
The diff is `3.9GB` 😱 so I won't be sharing it 😆, it took several minutes to compute but not ♾️

Just looking at the top change, there seems to be some potential issues (maybe not worth worrying about?):

- some extra whitespace added after the `"wof:belongsto"` elements
- removal of the "date:*" tags
- removal of `wof:hierarchy` self-reference

note: you can extract a file from a bare repo for sp

[2022-02-11 14:17] missinglink commented on #1960
actually it seems most of the changes in this changeset are related to these properties changing and no actual geometry changes as you'd expect to see, so maybe this is mostly as a result of changes to the `exportify` command rather than related to the postcode update itself.

there are certainly some other records where the geometry changes, but they seem to be in the minority:

<img width="552"

[2022-02-11 14:48] tomtaylor commented on #1960
@missinglink yeah, that's correct. Everything it put through the Go exporter, so there are decisions made there that have created some churn in the diffs. Some geometry may change _slightly_ as new properties have been built in the postcode and the underlying centroid has moved.

[2022-02-11 18:12] thisisaaronland commented on #1960
Curious about how/where/why the `date:upper_*` and `date:lower_*` properties got removed. I double checked that the `go-whosonfirst-export` is setting them where applicable:

https://github.com/whosonfirst/go-whosonfirst-export/blob/main/properties/edtf.go#L61-L83
https://github.com/whosonfirst/go-whosonfirst-export/blob/main/properties/edtf.go#L118-L140

Nothing in the export code should be expli

[2022-02-11 21:22] orangejulius commented on #1960
Hi folks,
It really looks like this is pretty close, great work Tom.

Is it possible to run `exportify` over all the current data to generate a PR or series of commits that include just those changes? Then we'd be able to generate a new diff with _just_ the changes in data. I could see that being to much work or it might make it easier to make progress.

### Postalcode cities

We actually just got

[2022-02-11 21:40] tomtaylor commented on #1960
Thanks @orangejulius! I’m happy to try and land a PR containing just the formatting and other property changes from running exportify, followed by another which does the August 2021 update (there’s a November 2021 update now, and I think there’s one due in Feb too). That should make it a bit easier to review.

On the postal cities, unfortunately I think all the address info is under a restrictive

[2022-02-13 19:43] tomtaylor commented on #1960
I've had a look - I think the diff has been generated back to front, so they're actually being added in this PR, not removed!

[2022-02-13 20:22] tomtaylor commented on #1960
cc: @orangejulius @missinglink

OK, I've made a new branch in which I've updated the unspecified EDTF dates to the ISO standard, and run exportify over for formatting and other minor property changes.

https://github.com/tomtaylor/whosonfirst-data-postalcode-gb/tree/exportify

If we can land this, then I'll open a separate PR syncing the latest ONS postcode updates.

[2022-02-20 09:43] H-ishak commented on #1964
@stepps00 this is a source of accurate polygons
https://nominatim.openstreetmap.org/ui/search.html?state=blida&country=Algeria
you should check it

[2022-03-09 19:38] #1991 closed

[2022-03-11 00:13] evanhobbs-burner3 opened #1994 "Incorrect parent locality for "North San Jose" neighborhood"
Current:
North San Jose ([85882411](https://spelunker.whosonfirst.org/id/85882411/)) has it's parent locality as Milipitas ([85922371](https://spelunker.whosonfirst.org/id/85922371/))

Expected:
North San Jose should be a neighborhood of San Jose ([85922347](https://spelunker.whosonfirst.org/id/85922347/))

I would fix but I'm not able to work with the repo on my computer.

[2022-03-11 00:34] stepps00 commented on #1994
Thanks for the report, @evanhobbs-burner3. Agreed, this place's hierarchy should reference San Jose, instead of Milpitas.

We'll take a look, file a PR, and link to this issue.

[2022-03-11 14:28] evanhobbs-burner3 commented on #1994
Thanks @stepps00!

[2022-03-15 22:08] stepps00 opened #1995 "Update county names around Delhi"
These county records in Delhi could use name updates.. rather than simply "South" or "West", I'd expect names to be "South Delhi" or "West Delhi". There are also incorrect variant names of "West" in some of these records, which can simply be removed.

- https://spelunker.whosonfirst.org/id/1108695773/
- https://spelunker.whosonfirst.org/id/1108695769/
- https://spelunker.whosonfirst.org/id/8905074

[2022-03-21 17:02] #1995 closed

[2022-03-25 10:03] Meganmabe opened #1996 "Outdated Johannesburg Suburbs."
Johannesburg suburbs seem to be outdated or incorrect and need to be updated according to these official websites.
[<div id="ctl00_PlaceHolderPageTitleInTitleArea_PGTitle"> 	City of Johannesburg regions</div>](https://www.joburg.org.za/about_/regions/Pages/City-of-Johannesburg-regions.aspx) and
[GeoLIS](https://ags.joburg.org.za/cgismobi/)

[2022-03-25 10:29] missinglink commented on #1996
Hi @Meganmabe, thanks for the bug report.

I had a look at the links you provided.

The first one gives a nice overview of each Region but I couldn't find the vector geographic data.
The second link has a map view but I couldn't figure out where to download the data from.

Could you please provide a link to where the raw geographic boundary data can be downloaded and also the license for it?

[2022-03-25 11:26] Meganmabe commented on #1996
Hi @missinglink
I found a source on Github and the data seems to be identical to that on the Johannesburg official page.
The source seems to have all South African suburbs and not just Johannesburg.

https://github.com/OpenUpSA/SA-Maps

Subplace = Suburbs

I am not entirely sure about the licensing though.

Please do reach out to me if there is anything else required or if the data will do.

[2022-03-28 09:08] Meganmabe commented on #1996
Hi
Just a follow up comment to check if we are still on track or additional data/Information is needed.
The situation with our Johannesburg (ZA) suburbs seems to be a big issue on our side and any response would be highly appreciated.

[2022-03-28 22:16] stepps00 commented on #1996
Hi @Meganmabe - thanks for filing this issue.

We recently updated admin data in South Africa via https://github.com/whosonfirst-data/whosonfirst-data-admin-za/pull/14, which included the following work:

- Updated `county` geometries
- New `localadmin` Polygon geometries, and property work
- Cleaned up Polygon geometries around four big cities in South Africa (Johannesburg, Cape Town, Durban, Pre

[2022-03-30 15:04] questionablequestion opened #1997 "Name of the place update"
Hello,

I'm wondering if I you can let me know where is data for Bosnia and Herzegovina fetched from? And how is it possible to rename some names as they are not really official names (some county names). Is editing the .geojson and making PR sufficient enough or how is that handled? I can't really figure out based on the readme.

Thanks

[2022-03-30 15:37] nvkelso commented on #1997
@stepps00 can you give @questionablequestion a few tips, please?

[2022-03-30 16:46] Meganmabe commented on #1996
Hi @stepps00 - Thank you for your response.

Yes, there is a bit more work that needs to be done (Unfortunately),we identified an issue with the suburbs within Johannesburg which ,in turn, would need to be updated.

A few areas are located in incorrect suburbs and that seems to be causing issues with some of our couriers and clients.

For example:
1. Portman Place is a complex in Melrose but it ap

[2022-03-30 21:44] stepps00 commented on #1997
Hey @questionablequestion you can poke around Who's On First records using the [Spelunker tool](https://spelunker.whosonfirst.org/search/?q=Bosnia+and+Herzegovina). You'll find source information for geometries in individual records' `src:*` properties. Check out [this record](https://spelunker.whosonfirst.org/id/85669235/) as an example.

Names come from a variety of sources, namely Wikidata, Nat

[2022-03-30 22:20] stepps00 commented on #1996
Got it, thanks for the detail. I looked at the following sources, but I'm unable to find an open data license (`CC0`, `CC-BY`, or equivalent) for suburb / sub-district data:

- https://github.com/OpenUpSA/SA-Maps
- https://www.joburg.org.za/about_/regions/Pages/City-of-Johannesburg-regions.aspx
- https://ags.joburg.org.za/cgismobi/

Are you aware of geometries for these places that fall under such

[2022-03-31 17:11] thisisaaronland commented on #1997
@questionablequestion Records in Who's On First are never deleted. Rather if a record is considered invalid or incorrect (or otherwise "bunk") it is marked as deprecated.

Specifically it is assigned a `edtf:deprecated=YYYY-MM-DD` property. If a deprecated record has been replaced by a newer record then it is considered "superseded" and is assigned a `wof:superseded_by=[ NEW_ID ]` property. The ne

[2022-03-31 17:53] questionablequestion commented on #1997
Good to know, thank you @thisisaaronland

[2022-04-01 07:59] questionablequestion commented on #1997
How to properly add a new entries (like a new locality)?

Also I find something confusing, if you can help me:
[openstreetmap:venue:way/475677703](https://www.openstreetmap.org/way/475677703) is showing that the county is [1108759181](https://spelunker.whosonfirst.org/id/1108759181/) but it should be [1108759047](https://spelunker.whosonfirst.org/id/1108759047/). And that same problem is repeating

[2022-04-03 08:56] questionablequestion commented on #1997
@stepps00  @thisisaaronland Can you please help me with how to make proper changes? I have been checking out other PR's and they have dates that seems like they are generated (with differences in ms in between them), are they actually or do I just get current timestamp and paste it there? Also roughly how long does it take for changes to be released?

I can if you still want me to make a list with

[2022-04-05 23:50] stepps00 commented on #1997
Yes - changes to records would be made to the geojson files in the Who's On First admin repo(s), which are split by iso-country code. The Norway admin repo, as an example:

https://github.com/whosonfirst-data/whosonfirst-data-admin-no

If I understand this correctly, the location of this bridge you're linking to in Sarajevo falls within the geometry of 1108759181, rather than 1108759047 when using

[2022-04-06 08:19] questionablequestion commented on #1997
@stepps00 Thanks! I have already made changes to geojson files (Bosnia and Herzegovina) and I will make a PR on those first before attempting at creating new records (they are mostly neighbourhoods and some changing from locality to neighbourhood). I still would have to figure out if there's any source to take boundaries (geometry) for those new neighbourhoods.

About that misalignment, I'm still

[2022-04-06 16:51] golden-spiral opened #1998 "Wenigumstadt (ID 1393659815) has wrong properties"
https://spelunker.whosonfirst.org/id/1393659815/
reads

county	[Darmstadt-Dieburg 102063549](https://spelunker.whosonfirst.org/id/102063549/)
local admin	[Schaafheim 1377693209](https://spelunker.whosonfirst.org/id/1377693209/)
macrocounty_id	404227581
region	[Hesse 85682531](https://spelunker.whosonfirst.org/id/85682531/)

It must be

county	[Aschaffenburg 102063553]
local admin	[Großostheim 1019

[2022-04-06 22:53] stepps00 commented on #1997
Sounds good, feel free to flag me in any PRs, I can review the change(s).

How are you determining "openstreetmap:venue:way/475677703 is showing that the county is 1108759181 but it should be 1108759047."? Is this an issue you're seeing with Pelias? I'm assuming this is due to Who's On First geometries because these records have simplified geometries.. but there may be additional data or parameter

[2022-04-06 22:56] stepps00 commented on #1998
Thanks @golden-spiral! I think this issue is being caused by the label centroid of this record falling within the geometry of it's neighbor: https://spelunker.whosonfirst.org/id/101906951/

Once that label centroid is corrected, we can [re-PIP](https://github.com/whosonfirst/whosonfirst-cookbook/blob/main/how_to/setting_up_pip_service.md) the record to update it's hierarchy. As part of this issue,

[2022-04-07 07:39] golden-spiral commented on #1998
Any action I can do or is this now in your hands?

[2022-04-07 09:44] questionablequestion commented on #1997
@stepps00 Yes, I see that issue in Pelias and I'm guessing I should ask them instead as they are probably calculating that in the background.

Another question I have is, Bosnia and Herzegovina is contained with two entities (Federation of BiH and Republic of Srpska) and Brcko Distrikt. Currently, there's no Federation of BiH record in Who's On First. There is deprecated record (890519107) but no

[2022-04-07 16:54] thisisaaronland commented on #1997
@questionablequestion WOF does not import any OSM data due to the former's licensing restrictions. In software licensing terms OSM is akin to the GPL and WOF is like the MIT or BSD licenses.

[2022-04-07 18:17] questionablequestion commented on #1997
@thisisaaronland Oh, okay, I saw in the sources that there's osm source defined and I guessed it was being used. So what would my options be for the geometry if there's no other source I could use? Would tracing boundaries by myself be good enough to be added in WOF? Neighbourhoods are in questions so they are not big nor complex. That would mean much more labor work but I would do that if there's

[2022-04-08 10:55] Meganmabe commented on #1996
Hi @stepps00

Just to let you know, I am still following up on the data and its licensing.
I did the next best thing after not receiving a response from [OpenUpSA](https://github.com/OpenUpSA/SA-Maps) and contacted the mentioned sources for the relevant information.

[2022-04-13 16:51] Meganmabe commented on #1996
Update:

I was in contact with [Stats SA](https://www.statssa.gov.za/) using email info@statssa.gov.za and
 [City of Johannesburg](https://eservices.joburg.org.za/onlinemaps/) using email cgisprojects@joburg.org.za.

Stats SA provides the data (1.8 GB) upon request with a declaration form and City Of Johannesburg sends you the same declaration form that needs to be returned before the data can be

[2022-04-15 23:07] stepps00 commented on #1996
Thanks for reaching out the Stats SA; unfortunately, it looks like the terms in the Declaration Form would limit use of this data in Who's On First. I will spend a bit of time looking for additional SA data sources and share them here if I find anything falling under a `CC-BY` or `CC0` license.

[2022-04-15 23:22] stepps00 commented on #1997
@questionablequestion if we're able to find an openly licensed dataset to import, that would be great.. but if not, Who's On First can use hand-curated geometries to update place records. Ideally the geometries would have a `wof:id` attribute associated with them to simplify the import.

[2022-04-19 08:00] Meganmabe commented on #1996
Thank you.
Please do let me know if there is any help required from me.

[2022-04-29 15:08] kRutkowski0 opened #1999 "Polish localities spelling problem"
Hi,
there are few localities which have some spelling problems in their name:

- [Stara Wies Proszenie](https://spelunker.whosonfirst.org/id/1344089157/) should be: Stara Wieś Proszenie
- [Stara Wies](https://spelunker.whosonfirst.org/id/1209843539/) should be: Stara Wieś
The same goes for few other localities with the same name "Stara wies", where it should be "Stara wieś", for example:
https://s

[2022-05-11 10:46] tomtaylor commented on #1960
Once more with feeling! I'd really love to get this landed - GB post codes are now 9 months out of date. Who can help get this merged?

[2022-05-11 12:02] missinglink commented on #1960
Hi @tomtaylor sorry I don't have merge access, it's all handled by @stepps00

[2022-05-16 08:37] missinglink opened #2000 "duplicate RUS locality?"
These two records named "Novokuznetsk" share the same concordances:

- https://spelunker.whosonfirst.org/id/102013243/
- https://spelunker.whosonfirst.org/id/102013211/

[code]

I believe 102013243 is preferable?

[2022-05-16 15:57] nvkelso commented on #2000
Looks like one has the geometry from Quattroshapes (nice), and the other is from Natural Earth (so has better min_zoom info). I agree they should be merged. @stepps00 can you do the honors please?

[2022-05-16 16:15] missinglink commented on #2000
We have reports of other RUS localities with similar issues, I'll add them to this ticket once I have more info.

[2022-05-17 00:06] stepps00 commented on #2000
This is actually the same exploded multi-part geometry issue we've see before with Quattroshapes localities (like this [Wellington issue](https://github.com/whosonfirst-data/whosonfirst-data/issues/118) or this [issue in Palestine](https://github.com/whosonfirst-data/whosonfirst-data/issues/1627)).

I will spend some time to pull all localities out of the admin-ru repo, review them, and file a PR

[2022-05-17 12:43] missinglink commented on #2000
A query such as this might be helpful to detect records which share a common concordance:

[code]

[code]

[2022-05-24 20:47] stepps00 commented on #602
As part of this issue, let's review the admin1 and admin2 in the Hanoi area closely.. the region record of Hanoi isn't correctly maintained in WOF right now, and the current parent region of Hanoi, [Ha Tay](https://spelunker.whosonfirst.org/id/85680653/) merged with another region.

- https://en-academic.com/dic.nsf/enwiki/796306
- https://en.wikipedia.org/wiki/H%C3%A0_T%C3%A2y_province

This impa

[2022-05-24 21:25] stepps00 commented on #1824
[A discussion](https://github.com/whosonfirst/whosonfirst-sources/discussions/194) was started in the `whosonfirst-sources` repo, pointing to the Eurogeographics dataset as a possible source for data updates..

What likely needs to happen at each placetype (will update with more detail once data has been reviewed):

**Regions**: Maps to statistical region. Confirm placetype count matches expectati

[2022-05-24 22:35] burritojustice commented on #602
It also seems that districts in Hanoi such as Hoan Kiem are labeled as counties, and the current city of Hanoi roll up to it even though they are smaller.  https://spelunker.whosonfirst.org/id/1108780787/
https://spelunker.whosonfirst.org/id/421177479/

If the city of Hanoi absorbed the region of Ha Tay then this relationship might actually make sense — there are now 12 urban districts (which incl

[2022-06-01 17:38] missinglink commented on #2000
Attached are the testing notes from the user, there seems to be an overlap with the list I posted above but I'll post it anyway in case it helps better illustrate the issue from someone with local knowledge.

[Geocode.xlsx](https://github.com/whosonfirst-data/whosonfirst-data/files/8817681/Geocode.xlsx)

[2022-06-02 22:40] slaperche-zenly opened #2001 "Duplicated ID 102524727 in whosonfirst-data-admin-us"
There are 2 shapes with the ID 102524727:
- [102524727.geojson](https://github.com/whosonfirst-data/whosonfirst-data-admin-us/blob/fbdf31344e769b841de6de5511f0c24208db2a56/data/102/524/727/102524727.geojson)
- [1746879067.geojson](https://github.com/whosonfirst-data/whosonfirst-data-admin-us/blob/fbdf31344e769b841de6de5511f0c24208db2a56/data/174/687/906/7/1746879067.geojson)

They have no supersed

[2022-06-02 22:42] slaperche-zenly opened #2002 "Duplicated ID 102531473 in whosonfirst-data-admin-us"
There are 3 shapes with the ID 102531473:
- [102531473.geojson](https://github.com/whosonfirst-data/whosonfirst-data-admin-us/blob/bd875c203ce0bf4ee6a77226cba708066aa86b7c/data/102/531/473/102531473.geojson)
- [1746904803.geojson](https://github.com/whosonfirst-data/whosonfirst-data-admin-us/blob/bd875c203ce0bf4ee6a77226cba708066aa86b7c/data/174/690/480/3/1746904803.geojson)
- [1746904805.geojson]

[2022-06-03 00:06] stepps00 commented on #2001
Hey @slaperche-zenly - with this case, 1746879067 is a historical record for El Paso Municipal Airport. In this record, you'll see a `"mz:is_current": 0`, which indicates the place is no longer "current" in Who's On First. The record also has `edtf:` properties that can be used to determine when the place was current/active. 102524727 is the current record for El Paso International Airport. So the

[2022-06-03 00:20] slaperche-zenly commented on #2001
Ha I didn't know about those properties, thanks for the details @stepps00

[2022-06-03 00:24] slaperche-zenly commented on #2002
yup, all clear now.
Thanks 🙂

[2022-06-06 08:30] slaperche-zenly opened #2003 "Invalid lang tag in 1393596465"
In in [1393596465 .geojson](https://raw.githubusercontent.com/whosonfirst-data/whosonfirst-data-admin-de/master/data/139/359/646/5/1393596465.geojson) there is an invalid lang tag:

[code]

Should be `name:lat_x_variant` I think.

[2022-06-06 19:43] nvkelso commented on #2003
@stepps00 can you take a look, please?

[2022-06-06 21:00] stepps00 commented on #2003
This is interesting.. looks like this was introduced as a one-off via [this commit](https://github.com/whosonfirst-data/whosonfirst-data-admin-de/commit/4f32a0dad76fb07160cdd4660d4ed2e250316beb). I'll update this single record shortly, but curious if you see this elsewhere @slaperche-zenly

[2022-06-06 21:54] missinglink commented on #2003
I had a look through all the admin data and it appears to be a one-off

[2022-06-06 22:09] #2003 closed

[2022-06-22 01:31] pravink opened #2004 "Data hierarchy missing for Yarrabilba, QLD, AU"
- Issue Description
we found that the suburb Yarrabilba, QLD, AU is missing from the whosonfirst admin data

- Possible Solution/Data Source
If someone can guide me how add this data in whosonfirst admin data then I am happy to contribute here.

Thanks,
Pravin

[2022-06-22 23:55] nvkelso commented on #2004
@stepps00 can you help Pravin, please?

[2022-06-23 22:23] stepps00 commented on #2004
Hey @pravink can you point us to an authoritative data source for Australia? In the past, Who's On First has imported [PSMA](https://github.com/whosonfirst/whosonfirst-sources/blob/main/sources/aus-psma.json) and [ABS](https://github.com/whosonfirst/whosonfirst-sources/blob/main/sources/ausstat.json) to update administrative records.. but the data Who's On First maintains is likely outdated in som

[2022-06-27 11:09] missinglink commented on #2004
<img width="901" alt="Screenshot 2022-06-27 at 13 09 37" src="https://user-images.githubusercontent.com/738069/175928200-bdfe9d3d-2c7f-44fb-8ddc-f0fcc86890e8.png">

[2022-06-29 01:20] pravink commented on #2004
@stepps00 if you have any steps handy for loading these geojson files to wof admin data then could you please share with those with me?

[2022-06-30 00:25] stepps00 commented on #2004
Hey @pravink - WOF's Australia admin repo lives here: https://github.com/whosonfirst-data/whosonfirst-data-admin-au

This is where we'd want to maintain a new record for Yarrabilba. Since WOF doesn't have a record for this place already, we should be able to add it through a PR, as long as its formatted appropriately.

Here are some examples of locality records already present in WOF: [Sydney](htt

[2022-07-06 07:35] pravink commented on #2004
HI @stepps00  Thanks for pointing out above links..  I did followed below steps but looks like need more guidance here..
1. download the shapefile: wget https://data.gov.au/data/dataset/bdcf5b09-89bc-47ec-9281-6b8e9ee147aa/resource/53c24b8e-4f55-4eed-a189-2fc0dcca6381/download/may22_adminbounds_gda94_shp.zip
2. unzip it
3. find a specific dbf file: find MAY22_AdminBounds_GDA94_SHP -type f -name '*

[2022-07-07 22:21] stepps00 opened #2005 "Update locality records in India"
The Quattroshapes polygons used to represent localities in India are sometimes inaccurate and don't always encompass the full area of the locality, a few examples:

<img width="1205" alt="Screen Shot 2022-07-07 at 3 14 44 PM" src="https://user-images.githubusercontent.com/18567700/177880623-1cce96cc-f8d1-4330-b744-d42cb55bf643.png">

<img width="1214" alt="Screen Shot 2022-07-07 at 3 13 56 PM" src

[2022-07-07 23:19] stepps00 commented on #2004
Thanks for the detailed steps here.. all of this looks good, but there are several steps required to convert a source shapefile or feature to a WOF record (step 8); there is no single script that will do that work.

I'd recommend looking at the three locality examples in https://github.com/whosonfirst-data/whosonfirst-data/issues/2004#issuecomment-1170619414, and cloning one of them as a new recor

[2022-07-08 21:14] stepps00 commented on #1838
The Moranwali locality has been added via https://github.com/whosonfirst-data/whosonfirst-data-admin-in/pull/124/commits/0c94162e85e81c8c743a49c71677be375a7d5f6c

The Pardi and Gauribidanūr geometries have been adjusted via https://github.com/whosonfirst-data/whosonfirst-data-admin-in/pull/124/commits/2a201b3f4c8500e2e03078beee950fb79aadf208

This issue can be closed out once those commits are mer

[2022-07-08 21:15] stepps00 commented on #1855
These localities have been added via https://github.com/whosonfirst-data/whosonfirst-data-admin-in/pull/124/commits/0c94162e85e81c8c743a49c71677be375a7d5f6c

[2022-07-12 12:03] slaperche-zenly opened #2006 "Invalid concordance source in 102541661"
The entry [102541661](https://raw.githubusercontent.com/whosonfirst-data/whosonfirst-data-admin-jp/136fea14782154c5bd1a1e26070b527bd3921583/data/102/541/661/102541661.geojson) in whosonfirst-data-admin-jp is using the key `wikidata` instead of `wd:id` for the Wikidata ID

[2022-07-12 12:15] mihaicosareanu-bolt commented on #1934
Hey Stephen! Any updates on this issue? We are still receiving complaints from our users due to incorrect locality attribution

[2022-07-12 12:44] missinglink commented on #2006
<img width="314" alt="Screenshot 2022-07-12 at 14 43 54" src="https://user-images.githubusercontent.com/738069/178492633-aa141341-c5df-4eac-a9dd-be9ef634b299.png">

looking at another record, the wikipedia concordance should also be `wk:page` instead of `wikipedia`

[2022-07-12 22:53] stepps00 commented on #2006
Thanks for the issue - we've opened two issues (above). One updates the single record with these concordance issues, and one will add a list of existing concordances to the properties repo.

[2022-07-12 22:56] stepps00 commented on #1934
Hey @mihaicosareanu-bolt thanks for flagging this one. We haven't had a chance to review this record; I'll try to look into this issue this week and reply with a comment/fix. Thanks for your patience here.

[2022-07-13 00:30] thisisaaronland commented on #2006
@missinglink FYI: https://github.com/whosonfirst/whosonfirst-properties/issues/110#issuecomment-1182631422

[2022-07-13 16:22] #2006 closed

[2022-07-26 01:59] pravink commented on #2004
Hi @stepps00

Sorry that I didn't get a chance earlier to raise a PR but its now ready for your review.

Thanks,
Pravin!

[2022-07-26 23:12] #2005 closed

[2022-07-28 22:38] stepps00 commented on #1909
This I've opened https://github.com/whosonfirst-data/whosonfirst-data-admin-sa/pull/19 to tackle this issue.. the PR won't touch all locality records in Saudi Arabia, but I think that's okay; the work will leave a good deal of locality points as is, but will improve locality coverage in the country, add missing neighbourhood records, and ensure that all populous localities have an accurate, hand-c

[2022-08-01 23:02] stepps00 commented on #1735
Updating this task to include updates to more than just the Lahore area.

I will be using this issue to track updates to ~435 locality records, ~1150 neighbourhood records, and updated/new localizations in Urdu for these records.

[2022-08-03 09:25] tomtaylor commented on #1960
Just a heads up that @missinglink and I have been chatting about how we can land changes like this faster in the future. We rely on the postcode data being current because our business uses it to geocode vacancies.

I spoke to @thisisaaronland and volunteered to be a maintainer of https://github.com/whosonfirst-data/whosonfirst-data-postalcode-gb. I'm going to try land these changes with review wh

[2022-08-08 13:49] missinglink commented on #1960
I had another look at this PR today, just looking at the diff between the HEAD of the upstream repo and the `august-2021-sync` feature branch (see method below).

I noticed that the diff is significantly smaller now since https://github.com/whosonfirst-data/whosonfirst-data-postalcode-gb/commit/0c0d2b8f4d8910c55281f185aa03d50e57415275 & https://github.com/whosonfirst-data/whosonfirst-data-postalco

[2022-08-08 15:20] thisisaaronland commented on #1960
That _should_ be accounted for in `go-whosonfirst-export` but it's possible there are outstanding bugs or edge-cases:

* https://github.com/whosonfirst/go-whosonfirst-export/blob/0d4f48214076d8c4d2cf1e9a21dc2c042a781d22/export.go#L46

* https://github.com/whosonfirst/go-whosonfirst-export/blob/0d4f48214076d8c4d2cf1e9a21dc2c042a781d22/export_test.go#L377

[2022-08-08 17:23] missinglink commented on #1960
I ran the same file from my screenshot though the test suite and it didn't indicate a change, so maybe it's an artefact of a previous run or something? doesn't seem to be a bug 🤔

[code]

[2022-08-08 18:03] tomtaylor commented on #1960
It looks like it's using an old version of `go-whosonfirst-export`, 0.4.0. I'll upgrade to the latest and run again and see how that does.

[2022-08-09 19:55] nvkelso commented on #1960
Thanks for all your help @tomtaylor! Happy to have you onboard as a maintainer :)

[2022-08-11 19:11] #1909 closed

[2022-08-11 19:51] #1735 closed

[2022-08-11 23:38] stepps00 commented on #1999
@kRutkowski0 thanks for this issue - aside from "Stara Wies" and "Stara Wies Proszenie", do you see any other names of villages in Poland that need updates?

[2022-08-13 10:56] tomtaylor commented on #1960
OK, once more with feeling! Two PRs landed which should get us to the August 2021 sync. We can deal with the August 2022 update when it's released.

https://github.com/whosonfirst-data/whosonfirst-data-postalcode-gb/pull/6
https://github.com/whosonfirst-data/whosonfirst-data-postalcode-gb/pull/7

[2022-08-18 15:40] straup opened #2007 "Update geometry for 94128 (postalcode-us)"
* https://spelunker.whosonfirst.org/id/554784711/

Should be updated to use geometry for SFO:

* https://spelunker.whosonfirst.org/id/102527513/

Need to confirm whether 94128 actually includes the marshlands on the Western side of the 101.

[2022-08-22 16:48] jdhoek opened #2008 "Multiple issues with Frisian places"
In the Netherlands places in the province of Frisia (endonym: Fryslân) often have names in both Dutch and Frisian. One of these is the official name used in things like addresses etc.

Over the past fifty years or so, a small number of these places have started to use their Frisian name in Dutch as well, leading to the gradual displacement of the Dutch name — not just de jure, but in daily (Dutch

[2022-08-22 19:00] nvkelso commented on #2008
Fascinating question and examples, thanks @jdhoek! We'll be in touch soon...

[2022-08-24 09:50] missinglink commented on #1960
The August 2022 update is now available 🎉

https://geoportal.statistics.gov.uk/datasets/ons-postcode-directory-august-2022/

[2022-08-24 17:40] stepps00 commented on #2008
The `nld` name should be preferred here.. WOF maintains the ISO 3 [language codes](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes). We've done a few passes at cleaning up ISO 2/3 language codes, looks like this record needs a bit of cleanup.

Generally, yes, this should be the case. There are records in WOF where this is not the case, but that is usually due to WOF not having a English name

[2022-08-24 18:38] jdhoek commented on #2008
Thanks. I've had a go at updating the names for the four villages where this is most obvious, and the province's name as well, which actually has a common English exonym (not surprising since its origins lie in the historic kingdom of the same name).

[2022-08-25 19:49] #1746 closed

[2022-08-29 22:33] henrylyne opened #2009 "Pier 15 in Manhattan, New York excluded from geometry"
https://spelunker.whosonfirst.org/id/85865711/
The financial district, the borough of manhattan and the locality of New York all seem to exclude Pier 15 in the geometry outlines.

[2022-08-30 16:02] #2004 closed, assigned to stepps00

[2022-08-30 16:05] stepps00 commented on #2009
Thanks @henrylyne. Other records that could include Pier 15:

- https://spelunker.whosonfirst.org/id/907196817/
- https://spelunker.whosonfirst.org/id/421205771/
- https://spelunker.whosonfirst.org/id/85977539/

[2022-09-19 16:59] stepps00 opened #2010 "Update UAE locality and neighbourhood records"
Opening this issue to resolve some data discrepancies and improve admin coverage in the UAE. When reviewing data in the `admin-ae` repo, I noticed:

- WOF is missing various neighbourhood records in larger localities like Abu Dhabi and Dubai
- Most neighbourhoods are represented with Point geometries, and are often inaccurate
- WOF gained many locality and county geometries from Mesoshapes.. these

[2022-09-20 20:13] stepps00 commented on #1855
These localities have been added to Who's On First, closing.

[2022-09-20 20:13] #1855 closed

[2022-09-20 21:59] stepps00 commented on #1934
I've noticed a few other issues with locality geometries in Poland, so I took a look at the `miast` data for the country. I see this shape for Mysłowice (highlighted):

<img width="1148" alt="Screen Shot 2022-09-20 at 2 52 43 PM" src="https://user-images.githubusercontent.com/18567700/191371735-ee3b35df-7b33-486d-b511-d8ccf0da896b.png">

I'm going to prioritize this issue, and work to correct addi

[2022-09-24 00:22] #2010 closed

[2022-09-30 23:06] stepps00 commented on #1934
I've identified ~100 additional localities in Poland that have inaccurate polygons.. examples are Sochocin, Jaworzno, and Będzin.

Poland's miasto and gmina divisions may cause a bit of work around the localadmin placetype, too, but I'll link to a PR for this issue next week so we can chat about the changes there.

[2022-10-03 23:00] stepps00 commented on #1934
I've linked to the PR with fixes above. There were actually two different locality records representing Myslowice. 101752123 will be superseded into 101913709 so WOF only maintains a single record for this place.

101752123:
- Current state: https://github.com/whosonfirst-data/whosonfirst-data-admin-pl/blob/master/data/101/752/123/101752123.geojson
- Updated: https://github.com/whosonfirst-data/wh

[2022-10-06 12:36] tzarchat opened #2011 "Poland - missing a lot of polygons in smaller localities"
Hello :)

After working with Pelias (with Poland data), I noticed that many smaller localities are defined just by point. Which is the cause of invalid hierarchy. For example there is big city "Chojnice" and near it, there are many villages without polygon. So they are assigned to higher layer "_localadmin_" instead to "_locality_".

Examples:
- **Chojniczki** [spelunker](https://spelunker.whosonf

[2022-10-06 16:37] nvkelso commented on #2011
@stepps00 can you take a look, please?

I am curious though what Pelias is doing here, @orangejulius can you help with that? Does or could Pelias apply say a 1 KM buffer to locality points, and then falling back the localadmin polygon?

[2022-10-06 20:12] stepps00 commented on #2011
Timely issue!

To fix #1934, we've recently opened https://github.com/whosonfirst-data/whosonfirst-data-admin-pl/pull/46. This PR is in progress, but will solve some issues with locality polygons in Poland. This issue touches the same placetype, but different features.

I'll propose a broader fix in that PR to fix the issues here (missing Nieżychowice, Nowe Nieżychowice, and other polygons & impro

[2022-10-07 12:44] tzarchat commented on #2011
Here are some more examples:
https://spelunker.whosonfirst.org/id/1243288487/
https://spelunker.whosonfirst.org/id/1310331319/
https://spelunker.whosonfirst.org/id/1293915935/
https://spelunker.whosonfirst.org/id/1126006735/
https://spelunker.whosonfirst.org/id/1343788473/
https://spelunker.whosonfirst.org/id/1125920527/
Missing: **Czartołomie**

Basically every locality near bigger city **Chojnic

[2022-10-23 21:09] creativesapiens opened #2012 "Location "Darjeeling" has in incorrect longitude"
The longitude is missing a decimal `.` in the longitude value, it should have been `"lon": 88.2657292`

The data is presented as:
[code]

[2022-10-24 22:56] #2012 closed

[2022-10-31 21:02] #1910 closed

[2022-11-01 20:53] stepps00 opened #2013 "Review zho name coverage in admin records"
Through various name imports and updates to existing name properties, the `name:zho_*` properties in some Who's On First records contain a mix of Traditional Chinese and Simplified Chinese names.

When importing names from Wikidata and GeoNames, `zh` (Simplified) was (correctly) used to map to the `name:zho_x_preferred` and `name:zho_x_variant` names.. but sometimes Traditional Chinese names sneak

[2022-11-09 14:26] missinglink opened #2014 "Investigate source of polygon data for `neighbourhood` records in Greater Manchester region"
Investigate source of polygon data for `neighbourhood` records in Greater Manchester region

I would like to find a source of data which would allow us to convert POINT based geometries such as [Heywood](https://spelunker.whosonfirst.org/id/1360791041/) to POLYGONs.

I downloaded [Ordnance Survey BoundaryLine](https://osdatahub.os.uk/downloads/open/BoundaryLine) but wasn't able to find any layers

[2022-11-15 02:19] justinelliotmeyers commented on #2014
this wasnt the flickr stuff, maybe zetashapes or the other one in that time period. I wonder if it was the same vintage as London? I might be able to go back and look for you. LMK amigo

[2022-11-15 12:51] missinglink commented on #2014
hey @justinelliotmeyers that would be great if you could find some old polygons for this, I don't have the zetashapes file in my 'old geo data' bucket, do you have a copy?

[code]

[2022-11-15 15:48] thisisaaronland commented on #2014
Paging @blackmad to the courtesy zetashapes phone.

[2022-11-15 22:59] justinelliotmeyers commented on #2014
@missinglink I actually don't have this backed up... and I save everything. My bad about that. I did email @blackmad as well, hopefully someone has it (**if it is the source). Are you just trying to see the raw input, or rebuild something better/ newer?
Cheers

[2022-11-16 00:15] stepps00 opened #2015 "Update locality and neighbourhood records in Nigeria"
Nigeria: https://spelunker.whosonfirst.org/id/85632735/

Out of 53k locality records in Nigeria, 11 are represented with polygon geometries. The majority of locality features with point geometries come to WOF via GeoNames which often have inaccurate coordinates. At the neighbourhood placetype, there are only a handful of records in WOF.

Opening this task to review the locality and neighbourhood c

[2022-11-16 09:33] missinglink commented on #2014
I was hoping that you were right about it containing these polygons 🤞

[2022-11-17 23:55] willcanary opened #2016 "New York City postal code 11249 missing from dataset"
Geometry for the New York City postal code 11249 is missing from the [US repository ](https://github.com/whosonfirst-data/whosonfirst-data-admin-us). It looks like the postal code was newly added as part of the 2020 census.

I grabbed the GeoJSON for the postal code from the [TIGER shapefiles](https://www.census.gov/geographies/mapping-files/time-series/geo/tiger-line-file.html). It's included bel

[2022-11-18 19:31] stepps00 commented on #302
A PR should be out shortly with some locality improvements in Morocco.. confirming that we'll have a new centroid and geometry for Laayoune: https://github.com/whosonfirst-data/whosonfirst-data-admin-ma/blob/stepps00/admin-updates/data/421/202/335/421202335.geojson

Since this issue has been filed, quite a some names for both the [region](https://spelunker.whosonfirst.org/id/85673941/) have been a

[2022-11-21 22:24] stepps00 commented on #2016
https://spelunker.whosonfirst.org/id/554779551/

It looks like the new 11249 postalcode was (mostly) carved out the 11211 postalcode. 11249 slightly overlaps a few neighboring postalcodes, too.

We can file a PR to add a new 11249 feature and update the surrounding features - that PR would be filed here: https://github.com/whosonfirst-data/whosonfirst-data-postalcode-us. It's probably worth taking

[2022-11-22 18:29] nvkelso commented on #2016
One option is to add a new record for `11249` but just as a point geom with label bbox set to the extent of it's not-imported polygon. This way it'd show up in search correctly.

I'm wary of redoing a bunch of polygon geometries unless part of a bigger 2020 zipcode update – now that the 2020 census geography files are released it deserves a larger reworking?

I wonder if we should do for the US po

[2022-11-22 19:25] thisisaaronland commented on #2016
Paging @tomtaylor : Is the code you wrote for the GB postalcodes something that could be refactored to work with another data source (US census) ?

[2022-11-23 17:37] #1164 closed

[2022-11-23 17:38] #2015 closed

[2022-11-23 17:38] #1934 closed

[2022-11-29 15:09] stepps00 opened #2017 "Add placetype_alt of nation to each country record"
New `nation` records will be added, through https://github.com/whosonfirst-data/whosonfirst-data-nativeland/pull/1.

Each of the `country` records in WOF should receive a new `wof:placetype_alt` property with a value of `nation`.

See also:

- https://github.com/whosonfirst/py-mapzen-whosonfirst-placetypes/releases/tag/v1.0.2
- https://github.com/whosonfirst/go-whosonfirst-placetypes/releases/tag/

[2022-11-29 15:33] stepps00 commented on #90
Original source: https://www.gsi.go.jp/ENGLISH/pape_e300284.html
Terms of Use from the original source: https://www.gsi.go.jp/ENGLISH/page_e30286.html

@nyampire - I'm trying to find administrative boundaries to match to these gazetteer names on the [GSI homepage](https://www.gsi.go.jp/ENGLISH/index.html), but I'm only seeing references to the [Global Map project](https://www.gsi.go.jp/kankyochiri

[2022-11-29 16:21] stepps00 commented on #1108
Gazetteer of place names: https://www.resmigazete.gov.tr/eskiler/2012/12/20121206-1.htm
Archived: https://web.archive.org/web/20221019000528/https://www.resmigazete.gov.tr/eskiler/2012/12/20121206-1.htm

[2022-11-29 16:27] stepps00 commented on #1847
https://spelunker.whosonfirst.org/id/85822415/

This issue was fixed through https://github.com/whosonfirst-data/whosonfirst-data-admin-us/pull/86, Graham now has a parent locality.

[2022-11-29 22:36] nvkelso commented on #2017
Let's leave this for a rainy day research project... as not all countries are nations and visa versa.

See also:

- [https://en.wikipedia.org/wiki/Nation](https://en.wikipedia.org/wiki/Nation#:~:text=The%20word%20%22nation%22%20is%20sometimes,a%20government%20or%20ethnic%20group)